.flows.json.backup
[
    {
        "id": "559ef2af.18e20c",
        "type": "tab",
        "label": "Dephleg Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63b32048.ef223",
        "type": "tab",
        "label": "Start up Form",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4efa04f2.60a01c",
        "type": "tab",
        "label": "Distillery Temps",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2db4973.dc89c8",
        "type": "tab",
        "label": "Distilling UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78ebefdf.ad716",
        "type": "tab",
        "label": "Element Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "611a932e.676dfc",
        "type": "tab",
        "label": "Initiate",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4be6940e.11571c",
        "type": "tab",
        "label": "Logging",
        "disabled": false,
        "info": ""
    },
    {
        "id": "35a3c3b3.d04c4c",
        "type": "tab",
        "label": "PID Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "42348d4c.8842e4",
        "type": "tab",
        "label": "Temp to ABV",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ac37513e.c82fa",
        "type": "tab",
        "label": "Settings",
        "disabled": false,
        "info": "This flow displays output from the PID \nalgorithm. This can be useful for tuning \npurposes."
    },
    {
        "id": "b4973237.46ab6",
        "type": "subflow",
        "name": "Process Simulation",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 37,
                "y": 103,
                "wires": [
                    {
                        "id": "ec719d4d.0d54f8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 728.5,
                "y": 294,
                "wires": [
                    {
                        "id": "ae1a6e5.d4c0d9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "33032759.19f648",
        "type": "group",
        "z": "559ef2af.18e20c",
        "name": "Dephleg Control",
        "style": {
            "label": true
        },
        "nodes": [
            "587e692b.c911c8",
            "a669446c.c0ab18",
            "4bc8f0fd.9e077",
            "3b72d5de.b1fdba"
        ],
        "x": 134,
        "y": 351.5,
        "w": 632,
        "h": 177
    },
    {
        "id": "2bde760d.d734ba",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Sensor Selection",
        "style": {
            "label": true
        },
        "nodes": [
            "b1aed957.a75db8",
            "80fac88d.ff9988",
            "e8109d8.ca1516",
            "c8bbe86e.1b5678",
            "492adfda.6af39"
        ],
        "x": 74,
        "y": 19,
        "w": 542,
        "h": 162
    },
    {
        "id": "c187268f.e91b88",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "DS18B20 Sensors",
        "style": {
            "label": true
        },
        "nodes": [
            "7c4f9146.e6ddb",
            "fe792972.38ff58",
            "21074112.c3e6ee",
            "cf909571.0f3818",
            "13c2d262.7a728e",
            "12402d69.d02c93",
            "d96225fb.20d268",
            "87a29bfa.1c2c98",
            "6265ed19.ec1d44",
            "73266624.bff5c8",
            "a81ed2c8.a7c8c"
        ],
        "x": 74,
        "y": 199,
        "w": 382,
        "h": 242
    },
    {
        "id": "e74cbe1a.43ea4",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "RTD - Sequent Microsystems",
        "style": {
            "label": true
        },
        "nodes": [
            "7f536df4.47b0a4",
            "47d05fd7.62ab2",
            "7c7f6232.b0bd6c",
            "1eac1593.24174a",
            "7f93cd37.1e30a4",
            "4cc38f86.234ff",
            "e2fb0a83.3eacc8",
            "f5b8984d.2945e8",
            "f7562362.db3f6",
            "6d4f92df.d501dc",
            "99968607.855ec8"
        ],
        "x": 74,
        "y": 451.5,
        "w": 382,
        "h": 337
    },
    {
        "id": "7f26e4b4.5bb80c",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Head Vapor Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "643d18ac.0070d8",
            "ec66c8ca.eeac58",
            "921f2e4a.a31c4",
            "78d0e5b1.c1595c",
            "9de4bde1.400c5"
        ],
        "x": 574,
        "y": 799,
        "w": 462,
        "h": 122
    },
    {
        "id": "8bb21e28.245f2",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Dephleg Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "6665f79c.29f948",
            "d43c9182.e6735",
            "700c01d4.04bc",
            "30d80192.91af0e",
            "70c23f2.130d7c"
        ],
        "x": 574,
        "y": 659,
        "w": 462,
        "h": 122
    },
    {
        "id": "1f2d1bd8.540934",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Pot Vapor Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "7b1aadf2.dd8ed4",
            "b13b1d13.11756",
            "f9070436.2fae68",
            "7ee9ca0.c4cac38",
            "2b27afa2.c92f9"
        ],
        "x": 574,
        "y": 519,
        "w": 462,
        "h": 122
    },
    {
        "id": "27d31167.70ea9e",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Charge Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "5a6db6cd.04e258",
            "8d791dd1.6fceb",
            "bcacef17.78261",
            "7f5dcd6.fc3fb34",
            "218c0176.1c053e",
            "883e24cc.3eac08"
        ],
        "x": 574,
        "y": 379,
        "w": 502,
        "h": 142
    },
    {
        "id": "555900db.f8d33",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "Jacket Temp",
        "style": {
            "label": true
        },
        "nodes": [
            "7db13ac2.b43234",
            "224d84f3.ae367c",
            "1485dad.b7f1f25",
            "ba90762.caa9b88",
            "476b4255.a8fd3c"
        ],
        "x": 574,
        "y": 239,
        "w": 462,
        "h": 122
    },
    {
        "id": "8074a81f.75b398",
        "type": "group",
        "z": "4efa04f2.60a01c",
        "name": "RTD - MAX31865",
        "style": {
            "label": true
        },
        "nodes": [
            "f323cb07.408918",
            "d7429e3e.50874",
            "97efe967.856cc8",
            "5b4dea38.662c44",
            "a0928ed8.c145",
            "ea35d423.eb6438",
            "f347c773.ce29f8",
            "c8b827a3.cbb8b8",
            "34383e20.5b4dc2",
            "7b01e70f.880008",
            "def16523.b245f8"
        ],
        "x": 74,
        "y": 799,
        "w": 382,
        "h": 242
    },
    {
        "id": "bf91ade9.cef8c",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "PID Control",
        "style": {
            "label": true
        },
        "nodes": [
            "1ffef514.153c3b",
            "52e20c9e.3902f4",
            "d541c492.41bc78",
            "81cb8e45.fc39f",
            "5f9a0016.c1274",
            "ee848ff7.f69d"
        ],
        "x": 34,
        "y": 199,
        "w": 602,
        "h": 122
    },
    {
        "id": "6ef36601.e2cb28",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Manual Control",
        "style": {
            "label": true
        },
        "nodes": [
            "26e65a72.33d766",
            "d7afd3d.8fcda3",
            "f8ff37a6.ce0b08",
            "fd487411.a62f68",
            "b2db45b2.e90488",
            "ea7fec14.a32a7",
            "7635199d.db15a8",
            "d09b581d.c4d788",
            "dc7ed5a9.c21808",
            "bc4a946c.a1c1a8",
            "5cad6b20.71f7c4",
            "77bc3c2d.aa10a4",
            "a85aa72e.c23318",
            "d5ebc8fb.b92378",
            "22d1da7f.fbd976"
        ],
        "x": 34,
        "y": 339,
        "w": 722,
        "h": 222
    },
    {
        "id": "1363d428.268a9c",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Output Temps",
        "style": {
            "label": true
        },
        "nodes": [
            "6d5131f3.0feb4",
            "17a94292.e6514d",
            "ac5183ad.a749e",
            "d0362e4b.97062",
            "32687c36.107a94",
            "e8c95415.462538",
            "901690f3.e2807",
            "cc10a6aa.4051a8"
        ],
        "x": 34,
        "y": 799,
        "w": 332,
        "h": 202
    },
    {
        "id": "1729bed5.74f8b1",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Reflux Control",
        "style": {
            "label": true
        },
        "nodes": [
            "3206a198.f1e14e",
            "c42c52e2.ea3e2",
            "166fbb8.8e16f45",
            "7bcda4c4.eabdac",
            "d3bdb61.aa50448",
            "fca5c10f.ad27a",
            "1cc55ddb.99b922",
            "976fb163.32131"
        ],
        "x": 434,
        "y": 579,
        "w": 402,
        "h": 202
    },
    {
        "id": "e8be0dda.000c",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Output ABV",
        "style": {
            "label": true
        },
        "nodes": [
            "f442669f.81b278",
            "890cf3a2.b5685",
            "f8d91b0b.368848",
            "4da22679.a249d8",
            "d3152551.cd18f8",
            "8b179624.c01178",
            "92e97b96.44e008",
            "2df8762e.42e98a"
        ],
        "x": 434,
        "y": 799,
        "w": 292,
        "h": 202
    },
    {
        "id": "d39f4658.3d75f8",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "UI Control",
        "style": {
            "label": true
        },
        "nodes": [
            "bac81f7d.7d4ca",
            "e5651307.c2703",
            "f531c57d.eb37e8",
            "1200e5ce.8fc35a",
            "df01db8.cc05a28",
            "6f8d896.7abf578"
        ],
        "x": 34,
        "y": 19,
        "w": 352,
        "h": 162
    },
    {
        "id": "2dd6d82e.c14538",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Kill Switch",
        "style": {
            "label": true
        },
        "nodes": [
            "71230127.babf8",
            "a3dc5e5f.cafe2",
            "c56a2a2f.64cdd8",
            "aefcb590.e6e858",
            "d82ac2ae.7f8f6",
            "6f00c461.eccf1c"
        ],
        "x": 414,
        "y": 19,
        "w": 502,
        "h": 122
    },
    {
        "id": "6e0c457f.6fc02c",
        "type": "group",
        "z": "a2db4973.dc89c8",
        "name": "Input Temps",
        "style": {
            "label": true
        },
        "nodes": [
            "8693a21e.b4914",
            "5ff2223b.3bf54c",
            "2b49a9e5.254116",
            "79fa101b.09491",
            "59571818.6fba38",
            "5fd2896e.8c72d8"
        ],
        "x": 34,
        "y": 579,
        "w": 312,
        "h": 162
    },
    {
        "id": "5e071452.07836c",
        "type": "group",
        "z": "78ebefdf.ad716",
        "name": "Element Control",
        "style": {
            "label": true
        },
        "nodes": [
            "689d7311.8d5a8c",
            "efb741b7.1ed03",
            "e3c5e4c9.fb6598",
            "2c0bd641.c6de9a"
        ],
        "x": 134,
        "y": 59
    },
    {
        "id": "65e60811.5da678",
        "type": "group",
        "z": "35a3c3b3.d04c4c",
        "name": "Simple PID",
        "style": {
            "label": true
        },
        "nodes": [
            "1f80ff11.969b21",
            "652282ba.664d4c",
            "df299270.52592",
            "64f88e5e.8e17b",
            "cd268fbb.d4bd4",
            "6e7cb38f.d750ac",
            "bcca8c3f.64f8e",
            "78cf7155.797fb",
            "99d1eabc.0f19a8",
            "ce215dc.ed1b1a",
            "cb2a82bc.6744",
            "447e79f6.33e608",
            "80beabba.4155d8",
            "e013de49.c6c8a",
            "9122bde3.8ece3"
        ],
        "x": 634,
        "y": 199
    },
    {
        "id": "77770757.b82118",
        "type": "group",
        "z": "35a3c3b3.d04c4c",
        "name": "Cascade PID",
        "style": {
            "label": true
        },
        "nodes": [
            "92b9cd23.f9e4e",
            "64f09f9e.d037e",
            "4024016d.9a2dd",
            "37205228.b29cfe",
            "8f2f25f0.c76b38",
            "af30602e.cf675",
            "e281a185.5b675",
            "db8d3ef4.31d63",
            "cdb0e4aa.a21f78",
            "5e374890.b6fc78",
            "c7fd46a9.2d4938",
            "5011ab94.67c144",
            "7c53efd8.023e2",
            "8a2e514d.4dd81",
            "c48c2466.1f3798",
            "6059e65e.970e38",
            "afcc6ba2.73a568",
            "516436b8.8c2538",
            "23fe8dbb.896142",
            "3ca1aa9d.39aff6",
            "a49efb77.df08e8",
            "f8d3cec1.e0d26",
            "cdf54923.a2afc8",
            "9d89a551.c0e678",
            "1a04c095.d6052f",
            "4d984394.dd32dc",
            "a19f6bc.00a2c98",
            "c926897.1b6a878",
            "4c33ea96.24bc04",
            "1a1446b6.51b599",
            "89c111c0.436c",
            "9d85fe1d.043bb",
            "c36d05ae.905308",
            "b2b9195c.37fba8",
            "71b7cc3e.ed9e34",
            "1f3bc3b9.4bb2bc",
            "e935ad0f.89f5e"
        ],
        "x": 54,
        "y": 199
    },
    {
        "id": "124ea802.ad0d78",
        "type": "group",
        "z": "35a3c3b3.d04c4c",
        "name": "PID selector",
        "style": {
            "label": true
        },
        "nodes": [
            "f553acd7.370aa",
            "4fe49478.947ddc",
            "10171356.30d65d",
            "29d03aed.1d5426",
            "21dde6db.3d13ea"
        ],
        "x": 54,
        "y": 19
    },
    {
        "id": "da93d97f.79f588",
        "type": "group",
        "z": "35a3c3b3.d04c4c",
        "name": "Target temp",
        "style": {
            "label": true
        },
        "nodes": [
            "430a7e1e.34282",
            "dc214905.b71a98",
            "ef252032.67465",
            "814533b0.5d2b3"
        ],
        "x": 634,
        "y": 19
    },
    {
        "id": "f21f712f.2f91f",
        "type": "group",
        "z": "42348d4c.8842e4",
        "name": "Pot Vapor ABV",
        "style": {
            "label": true
        },
        "nodes": [
            "29f50dc0.4dd7a2",
            "456e4b91.0f5ea4",
            "9e4cf7be.ff8898",
            "6f4339cb.766f18"
        ],
        "x": 194,
        "y": 259
    },
    {
        "id": "d4815586.f5b6d8",
        "type": "group",
        "z": "42348d4c.8842e4",
        "name": "Product ABV",
        "style": {
            "label": true
        },
        "nodes": [
            "86a0a5d4.f10a98",
            "eaf2c852.8d9cd8",
            "abf0f58f.996b38",
            "adaedfb6.37007"
        ],
        "x": 194,
        "y": 359
    },
    {
        "id": "b906ad3f.782f2",
        "type": "group",
        "z": "42348d4c.8842e4",
        "name": "Charge ABV",
        "style": {
            "label": true
        },
        "nodes": [
            "22b973a3.a683ec",
            "d1ba94fa.ff6418",
            "8abda6f3.f1b288",
            "52fff614.9ed378",
            "a4b166fa.4202e8",
            "d40781e3.f8f05"
        ],
        "x": 194,
        "y": 119
    },
    {
        "id": "8ee4f9c8.3313b8",
        "type": "group",
        "z": "ac37513e.c82fa",
        "name": "Cascade PID",
        "style": {
            "label": true
        },
        "nodes": [
            "6959fd65.824da4",
            "82bb6b69.545438",
            "ca5edcf.817632",
            "24305f55.390d9",
            "fee8389f.e00c58",
            "8d062d4d.cb029",
            "69e2d634.b01188",
            "9c029db.3f8166",
            "d733ef6e.4b0d3",
            "f6602a51.30a728",
            "a211d906.e20778"
        ],
        "x": 34,
        "y": 19
    },
    {
        "id": "ba5b12d5.b6d31",
        "type": "group",
        "z": "ac37513e.c82fa",
        "name": "Dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "5d1c8794.a76548",
            "e096acb2.fe20f"
        ],
        "x": 694,
        "y": 219
    },
    {
        "id": "76b16084.a6726",
        "type": "group",
        "z": "ac37513e.c82fa",
        "name": "Simple PID",
        "style": {
            "label": true
        },
        "nodes": [
            "e64d0b9d.cb0d78",
            "9d14d4bf.36ae08",
            "64451e3e.d5b4",
            "d5420458.5222c8"
        ],
        "x": 694,
        "y": 19
    },
    {
        "id": "9a3170ae.1c97b",
        "type": "group",
        "z": "ac37513e.c82fa",
        "name": "Settings",
        "style": {
            "label": true
        },
        "nodes": [
            "1cd6fc92.3174a3",
            "db9b70ca.dc79",
            "a5469cc4.719f7",
            "e4e52c19.21bf9",
            "40879b.d2ec7864",
            "ac3baae6.f965c8",
            "f1bc52bb.9c975"
        ],
        "x": 34,
        "y": 399
    },
    {
        "id": "da56fb51.df5078",
        "type": "group",
        "z": "63b32048.ef223",
        "name": "Batch Information",
        "style": {
            "label": true
        },
        "nodes": [
            "3953932a.cb55cc",
            "3a2c10e6.18c06",
            "967d815f.66124",
            "def8c3e3.c9761",
            "e7fb19ee.f99148",
            "c8d7face.230a88",
            "d85c2d67.7022b",
            "767e71cf.f1d23",
            "1d865640.0c347a",
            "8c4c4746.8ee5f8",
            "8e5ecd3e.4fd2b",
            "a11f04da.5fe3c8"
        ],
        "x": 254,
        "y": 39,
        "w": 532,
        "h": 282
    },
    {
        "id": "e5fb337f.cc9ed",
        "type": "group",
        "z": "63b32048.ef223",
        "name": "Equipment Information",
        "style": {
            "label": true
        },
        "nodes": [
            "78c86cbc.f7ef44",
            "e2194d80.3799f",
            "283c70da.5e312",
            "4a206c88.39dc84"
        ],
        "x": 254,
        "y": 379,
        "w": 512,
        "h": 122
    },
    {
        "id": "9a9ceeec.9e745",
        "type": "group",
        "z": "63b32048.ef223",
        "name": "Start Button",
        "style": {
            "label": true
        },
        "nodes": [
            "7c2dcd83.d342e4",
            "c3515cb3.3d105",
            "7db6aaba.7f9f84"
        ],
        "x": 254,
        "y": 579,
        "w": 592,
        "h": 82
    },
    {
        "id": "4b0dda2.671d124",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Galveston Distilling Co",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "80cd4062.93a5",
        "type": "ui_tab",
        "name": "Distilling",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0e00a00.81b428",
        "type": "ui_group",
        "name": "HLT",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ea5e6691.a9d4b8",
        "type": "ui_group",
        "name": "MLT",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9d59abb0.326b08",
        "type": "ui_group",
        "name": "BK",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a5d5e9b.7af2a2",
        "type": "ui_group",
        "name": "Timer",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "867a95f.bdb8168",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f19d793.eac5f8",
        "type": "ui_group",
        "name": "Batch Information",
        "tab": "c356d94c.a5acd8",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "f52ce78c.180578",
        "type": "ui_group",
        "name": "MLT Calibration",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4db7f25b.b9ea8c",
        "type": "ui_group",
        "name": "BK Calibration",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99bd808a.f2698",
        "type": "ui_group",
        "name": "MLT Settings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "96ccbe54.5ee14",
        "type": "ui_group",
        "name": "HLT Settings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e71aa9ca.9bbda8",
        "type": "ui_group",
        "name": "BK Settings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6078a96a.d1d938",
        "type": "ui_group",
        "name": "Logging",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e010af88.2414c",
        "type": "ui_group",
        "name": "Settings",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "4871467d.3f6578",
        "type": "ui_group",
        "name": "Mash Schedule",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "6c2dc2b5.3e20ac",
        "type": "ui_group",
        "name": "Bottom",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "4ab794a8.956e2c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e010af88.2414c",
        "order": 4,
        "width": 8,
        "height": 1
    },
    {
        "id": "c197493c.080228",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e010af88.2414c",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "a97ca045.0ef45",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "e010af88.2414c",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "b921988f.6da898",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "brew2",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "f6e1ef23.f6f118",
        "type": "ui_group",
        "name": "MASH",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9fe30f36.92cc2",
        "type": "ui_group",
        "name": "BOIL",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f3e4e5c9.37f76",
        "type": "ui_group",
        "name": "BOIL SETTINGS",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "321aaa6a.377d5e",
        "type": "ui_group",
        "name": "Charge Cascade PID",
        "tab": "9d60f4cf.750658",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7311bc5c.585f8c",
        "type": "ui_group",
        "name": "BOTTOM",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "63e15812.768e7",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "brew2",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    },
    {
        "id": "8d73628b.8b862",
        "type": "ui_group",
        "name": "LOGGING",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3664e4b.5830a9c",
        "type": "ui_group",
        "name": "Jacket Cascade PID",
        "tab": "9d60f4cf.750658",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cafd8af.6569df8",
        "type": "ui_group",
        "name": "SETTINGS",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "96bf5896.1b3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f6e1ef23.f6f118",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "2cfdf347.8a409c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f6e1ef23.f6f118",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "6db8096d.374e48",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f6e1ef23.f6f118",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "bb34ebdd.441c78",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f6e1ef23.f6f118",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "c23518b8.fe4078",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9fe30f36.92cc2",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "77749ace.a27fd4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9fe30f36.92cc2",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "161e0a39.182ef6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9fe30f36.92cc2",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b6e497ee.fe7be",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "9fe30f36.92cc2",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "ec60eb52.b964f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "7311bc5c.585f8c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d0bf0ca.7f6d5",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "7311bc5c.585f8c",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "44727e58.1ef0a",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "cafd8af.6569df8",
        "order": 4,
        "width": "6",
        "height": 1
    },
    {
        "id": "d950fab6.61d3c8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "8d73628b.8b862",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "958ff866.e606f8",
        "type": "ui_group",
        "name": "Reflux",
        "tab": "80cd4062.93a5",
        "order": 2,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "5ba9cb15.acfaf4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f3e4e5c9.37f76",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "5fa23c95.9835e4",
        "type": "ui_group",
        "name": "Output",
        "tab": "80cd4062.93a5",
        "order": 3,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "f0c68884.7c8b18",
        "type": "ui_group",
        "name": "Input Control",
        "tab": "80cd4062.93a5",
        "order": 1,
        "disp": true,
        "width": 9,
        "collapse": false
    },
    {
        "id": "f04603e8.50a4f",
        "type": "ui_group",
        "name": "Regular PID",
        "tab": "9d60f4cf.750658",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9d60f4cf.750658",
        "type": "ui_tab",
        "name": "Settings",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50b35c82.f9a6f4",
        "type": "ui_group",
        "name": "Settings",
        "tab": "9d60f4cf.750658",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce7416d6.e2ed68",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "3664e4b.5830a9c",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "a7187e6f.a930c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "321aaa6a.377d5e",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "1a3677cf.412528",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "321aaa6a.377d5e",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "e9e19cf4.359f3",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "321aaa6a.377d5e",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c356d94c.a5acd8",
        "type": "ui_tab",
        "name": "New Run",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5391d36f.c4282c",
        "type": "influxdb",
        "hostname": "localhost",
        "port": "8086",
        "protocol": "http",
        "database": "Test",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "40070099.65227",
        "type": "ui_group",
        "name": "Equipment",
        "tab": "c356d94c.a5acd8",
        "order": null,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "8040c362.6c1b8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f0c68884.7c8b18",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "c96bf428.6fce58",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f0c68884.7c8b18",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "ba24a5e6.654768",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f0c68884.7c8b18",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "7fa0061a.5f3ca8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "f0c68884.7c8b18",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "7d6d2c09.222214",
        "type": "ui_group",
        "name": "Testing",
        "tab": "8a834c08.8a45f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a834c08.8a45f",
        "type": "ui_tab",
        "name": "Testing",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7fe4b5c3.32e58c",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "30 sec RC + 20",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 626.5,
        "y": 207,
        "wires": [
            [
                "ae1a6e5.d4c0d9"
            ]
        ]
    },
    {
        "id": "1bacd004.9753c",
        "type": "inject",
        "z": "b4973237.46ab6",
        "name": "Inject -0.2 at start",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "-0.2",
        "payloadType": "num",
        "x": 134.5,
        "y": 30,
        "wires": [
            [
                "ec719d4d.0d54f8"
            ]
        ]
    },
    {
        "id": "999a52c2.f465f",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "10 sec RC",
        "func": "// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451,
        "y": 207,
        "wires": [
            [
                "7fe4b5c3.32e58c"
            ]
        ]
    },
    {
        "id": "ec719d4d.0d54f8",
        "type": "delay",
        "z": "b4973237.46ab6",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 268,
        "y": 104,
        "wires": [
            [
                "ede39236.1961f8"
            ]
        ]
    },
    {
        "id": "a823c9cf.2a6178",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "2 msg transport delay",
        "func": "// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 258,
        "y": 208,
        "wires": [
            [
                "999a52c2.f465f"
            ]
        ]
    },
    {
        "id": "ae1a6e5.d4c0d9",
        "type": "function",
        "z": "b4973237.46ab6",
        "name": "Clear all except payload",
        "func": "msg2 = {payload: msg.payload};\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "x": 545,
        "y": 293,
        "wires": [
            []
        ]
    },
    {
        "id": "ede39236.1961f8",
        "type": "range",
        "z": "b4973237.46ab6",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "name": "",
        "x": 87,
        "y": 208,
        "wires": [
            [
                "a823c9cf.2a6178"
            ]
        ]
    },
    {
        "id": "587e692b.c911c8",
        "type": "function",
        "z": "559ef2af.18e20c",
        "g": "33032759.19f648",
        "name": "Basic On-Off",
        "func": "temp = global.get(\"dephleg.temp\");\ntarget = global.get(\"dephleg.target\");\ndelta = global.get(\"dephleg.delta\");\nvar bypass = {payload: 0}; \nvar deplag = {payload: 0};\n\nif (temp >= (target + delta)) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp >= target) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp < target && temp >= (target - delta)) {\n    bypass.payload = 1;\n    deplag.payload = 0;\n} else {\n    bypass.payload = 1;\n    deplag.payload = 1;\n}\n\nreturn [bypass, deplag];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "4bc8f0fd.9e077"
            ],
            [
                "3b72d5de.b1fdba"
            ]
        ],
        "outputLabels": [
            "Bypass",
            "Dephleg"
        ]
    },
    {
        "id": "a669446c.c0ab18",
        "type": "inject",
        "z": "559ef2af.18e20c",
        "d": true,
        "g": "33032759.19f648",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "587e692b.c911c8"
            ]
        ]
    },
    {
        "id": "4bc8f0fd.9e077",
        "type": "exec",
        "z": "559ef2af.18e20c",
        "g": "33032759.19f648",
        "command": "4relay 0 write 1",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Bypass valve relay",
        "x": 650,
        "y": 400,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "3b72d5de.b1fdba",
        "type": "exec",
        "z": "559ef2af.18e20c",
        "g": "33032759.19f648",
        "command": "4relay 0 write 2",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Dephleg valve relay",
        "x": 650,
        "y": 480,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "8f94a6a1.c33f18",
        "type": "inject",
        "z": "559ef2af.18e20c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 430,
        "y": 220,
        "wires": [
            [
                "4bc8f0fd.9e077",
                "3b72d5de.b1fdba"
            ]
        ]
    },
    {
        "id": "2f16eafb.e16f86",
        "type": "inject",
        "z": "559ef2af.18e20c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 450,
        "y": 640,
        "wires": [
            [
                "4bc8f0fd.9e077",
                "3b72d5de.b1fdba"
            ]
        ]
    },
    {
        "id": "c8bbe86e.1b5678",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "2bde760d.d734ba",
        "name": "",
        "links": [
            "4cc38f86.234ff",
            "337edde0.421592"
        ],
        "x": 575,
        "y": 100,
        "wires": []
    },
    {
        "id": "e8109d8.ca1516",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "2bde760d.d734ba",
        "name": "",
        "links": [
            "a81ed2c8.a7c8c"
        ],
        "x": 575,
        "y": 60,
        "wires": []
    },
    {
        "id": "80fac88d.ff9988",
        "type": "switch",
        "z": "4efa04f2.60a01c",
        "g": "2bde760d.d734ba",
        "name": "Sensor Type Selection",
        "property": "equipment.sensor",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ds18b20",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RTD - Sequent Microsystems",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RTD - MAX31865",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 430,
        "y": 100,
        "wires": [
            [
                "e8109d8.ca1516"
            ],
            [
                "c8bbe86e.1b5678"
            ],
            [
                "492adfda.6af39"
            ]
        ]
    },
    {
        "id": "4cc38f86.234ff",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "c8bbe86e.1b5678"
        ],
        "x": 115,
        "y": 620,
        "wires": [
            [
                "e2fb0a83.3eacc8",
                "f5b8984d.2945e8",
                "f7562362.db3f6",
                "6d4f92df.d501dc",
                "99968607.855ec8"
            ]
        ]
    },
    {
        "id": "a81ed2c8.a7c8c",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "e8109d8.ca1516"
        ],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "7c4f9146.e6ddb",
                "fe792972.38ff58",
                "21074112.c3e6ee",
                "cf909571.0f3818",
                "13c2d262.7a728e"
            ]
        ]
    },
    {
        "id": "7f93cd37.1e30a4",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "9de4bde1.400c5"
        ],
        "x": 415,
        "y": 740,
        "wires": []
    },
    {
        "id": "1eac1593.24174a",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "70c23f2.130d7c"
        ],
        "x": 415,
        "y": 680,
        "wires": []
    },
    {
        "id": "73266624.bff5c8",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "9de4bde1.400c5"
        ],
        "x": 415,
        "y": 400,
        "wires": []
    },
    {
        "id": "9de4bde1.400c5",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "7f26e4b4.5bb80c",
        "name": "",
        "links": [
            "73266624.bff5c8",
            "7f93cd37.1e30a4",
            "7b01e70f.880008"
        ],
        "x": 615,
        "y": 860,
        "wires": [
            [
                "ec66c8ca.eeac58",
                "643d18ac.0070d8"
            ]
        ]
    },
    {
        "id": "6265ed19.ec1d44",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "70c23f2.130d7c"
        ],
        "x": 415,
        "y": 360,
        "wires": []
    },
    {
        "id": "70c23f2.130d7c",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "8bb21e28.245f2",
        "name": "",
        "links": [
            "6265ed19.ec1d44",
            "1eac1593.24174a",
            "ea35d423.eb6438"
        ],
        "x": 615,
        "y": 720,
        "wires": [
            [
                "d43c9182.e6735",
                "6665f79c.29f948"
            ]
        ]
    },
    {
        "id": "7c7f6232.b0bd6c",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "2b27afa2.c92f9"
        ],
        "x": 415,
        "y": 620,
        "wires": []
    },
    {
        "id": "87a29bfa.1c2c98",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "2b27afa2.c92f9"
        ],
        "x": 415,
        "y": 320,
        "wires": []
    },
    {
        "id": "2b27afa2.c92f9",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "1f2d1bd8.540934",
        "name": "",
        "links": [
            "87a29bfa.1c2c98",
            "7c7f6232.b0bd6c",
            "34383e20.5b4dc2"
        ],
        "x": 615,
        "y": 580,
        "wires": [
            [
                "b13b1d13.11756",
                "7b1aadf2.dd8ed4"
            ]
        ]
    },
    {
        "id": "47d05fd7.62ab2",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "7f5dcd6.fc3fb34"
        ],
        "x": 415,
        "y": 560,
        "wires": []
    },
    {
        "id": "7f5dcd6.fc3fb34",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "",
        "links": [
            "d96225fb.20d268",
            "47d05fd7.62ab2",
            "c8b827a3.cbb8b8"
        ],
        "x": 615,
        "y": 440,
        "wires": [
            [
                "8d791dd1.6fceb",
                "218c0176.1c053e"
            ]
        ]
    },
    {
        "id": "d96225fb.20d268",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "7f5dcd6.fc3fb34"
        ],
        "x": 415,
        "y": 280,
        "wires": []
    },
    {
        "id": "7f536df4.47b0a4",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "name": "",
        "links": [
            "476b4255.a8fd3c"
        ],
        "x": 415,
        "y": 500,
        "wires": []
    },
    {
        "id": "12402d69.d02c93",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "",
        "links": [
            "476b4255.a8fd3c"
        ],
        "x": 415,
        "y": 240,
        "wires": []
    },
    {
        "id": "476b4255.a8fd3c",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "555900db.f8d33",
        "name": "",
        "links": [
            "12402d69.d02c93",
            "7f536df4.47b0a4",
            "f347c773.ce29f8"
        ],
        "x": 615,
        "y": 300,
        "wires": [
            [
                "224d84f3.ae367c",
                "7db13ac2.b43234"
            ]
        ]
    },
    {
        "id": "78d0e5b1.c1595c",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "7f26e4b4.5bb80c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Head Vapor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 880,
        "wires": [
            [
                "921f2e4a.a31c4"
            ]
        ]
    },
    {
        "id": "30d80192.91af0e",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "8bb21e28.245f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Depleg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 740,
        "wires": [
            [
                "700c01d4.04bc"
            ]
        ]
    },
    {
        "id": "7ee9ca0.c4cac38",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "1f2d1bd8.540934",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Pot Vapor",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 600,
        "wires": [
            [
                "f9070436.2fae68"
            ]
        ]
    },
    {
        "id": "bcacef17.78261",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Charge",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 420,
        "wires": [
            [
                "5a6db6cd.04e258"
            ]
        ]
    },
    {
        "id": "ba90762.caa9b88",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "555900db.f8d33",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Jacket",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 320,
        "wires": [
            [
                "1485dad.b7f1f25"
            ]
        ]
    },
    {
        "id": "921f2e4a.a31c4",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "7f26e4b4.5bb80c",
        "name": "Head Vapor Temp",
        "links": [
            "eaf2c852.8d9cd8"
        ],
        "x": 995,
        "y": 880,
        "wires": []
    },
    {
        "id": "700c01d4.04bc",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8bb21e28.245f2",
        "name": "Dephleg temp",
        "links": [
            "166fbb8.8e16f45",
            "ef4f89d2.cec028",
            "e8c95415.462538"
        ],
        "x": 995,
        "y": 740,
        "wires": []
    },
    {
        "id": "f9070436.2fae68",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "1f2d1bd8.540934",
        "name": "Pot_Vapor temp",
        "links": [
            "456e4b91.0f5ea4",
            "d0362e4b.97062"
        ],
        "x": 995,
        "y": 600,
        "wires": []
    },
    {
        "id": "ec66c8ca.eeac58",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "7f26e4b4.5bb80c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "head_vapor.temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "d43c9182.e6735",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "8bb21e28.245f2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dephleg.temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "b13b1d13.11756",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "1f2d1bd8.540934",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pot_vapor.temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "8d791dd1.6fceb",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "charge.temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5a6db6cd.04e258",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "Charge Temp",
        "links": [
            "59571818.6fba38",
            "a4b166fa.4202e8"
        ],
        "x": 1035,
        "y": 460,
        "wires": []
    },
    {
        "id": "1485dad.b7f1f25",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "555900db.f8d33",
        "name": "Jacket Temp",
        "links": [
            "79fa101b.09491"
        ],
        "x": 995,
        "y": 320,
        "wires": []
    },
    {
        "id": "224d84f3.ae367c",
        "type": "change",
        "z": "4efa04f2.60a01c",
        "g": "555900db.f8d33",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jacket.temp",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "13c2d262.7a728e",
        "type": "sensor-ds18b20",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "Head Vapor temp",
        "topic": "",
        "sensorid": "00-a72800000000",
        "timer": "1",
        "repeat": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "73266624.bff5c8"
            ]
        ]
    },
    {
        "id": "643d18ac.0070d8",
        "type": "smooth",
        "z": "4efa04f2.60a01c",
        "g": "7f26e4b4.5bb80c",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 720,
        "y": 880,
        "wires": [
            [
                "78d0e5b1.c1595c"
            ]
        ]
    },
    {
        "id": "cf909571.0f3818",
        "type": "sensor-ds18b20",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "Dephleg temp",
        "topic": "",
        "sensorid": "00-240000000000",
        "timer": "1",
        "repeat": false,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "6265ed19.ec1d44"
            ]
        ]
    },
    {
        "id": "6665f79c.29f948",
        "type": "smooth",
        "z": "4efa04f2.60a01c",
        "g": "8bb21e28.245f2",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 720,
        "y": 740,
        "wires": [
            [
                "30d80192.91af0e"
            ]
        ]
    },
    {
        "id": "21074112.c3e6ee",
        "type": "sensor-ds18b20",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "Pot Vapor temp",
        "topic": "",
        "sensorid": "00-a72800000000",
        "timer": "1",
        "repeat": false,
        "x": 280,
        "y": 320,
        "wires": [
            [
                "87a29bfa.1c2c98"
            ]
        ]
    },
    {
        "id": "fe792972.38ff58",
        "type": "sensor-ds18b20",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "Charge temp",
        "topic": "",
        "sensorid": "00-a72800000000",
        "timer": "1",
        "repeat": false,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "d96225fb.20d268"
            ]
        ]
    },
    {
        "id": "7c4f9146.e6ddb",
        "type": "sensor-ds18b20",
        "z": "4efa04f2.60a01c",
        "g": "c187268f.e91b88",
        "name": "Jacket temp",
        "topic": "",
        "sensorid": "00-a72800000000",
        "timer": "1",
        "repeat": false,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "12402d69.d02c93"
            ]
        ]
    },
    {
        "id": "7b1aadf2.dd8ed4",
        "type": "smooth",
        "z": "4efa04f2.60a01c",
        "g": "1f2d1bd8.540934",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 720,
        "y": 600,
        "wires": [
            [
                "7ee9ca0.c4cac38"
            ]
        ]
    },
    {
        "id": "7db13ac2.b43234",
        "type": "smooth",
        "z": "4efa04f2.60a01c",
        "g": "555900db.f8d33",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "1",
        "mult": "single",
        "reduce": false,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "ba90762.caa9b88"
            ]
        ]
    },
    {
        "id": "b1aed957.a75db8",
        "type": "inject",
        "z": "4efa04f2.60a01c",
        "g": "2bde760d.d734ba",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 100,
        "wires": [
            [
                "80fac88d.ff9988"
            ]
        ]
    },
    {
        "id": "d7429e3e.50874",
        "type": "pimax31865",
        "z": "4efa04f2.60a01c",
        "d": true,
        "g": "8074a81f.75b398",
        "name": "Charge Temp",
        "bus": 0,
        "dev": 0,
        "rtd": 1000,
        "ref": 4300,
        "wir": "3",
        "x": 280,
        "y": 880,
        "wires": [
            [
                "c8b827a3.cbb8b8"
            ]
        ]
    },
    {
        "id": "97efe967.856cc8",
        "type": "pimax31865",
        "z": "4efa04f2.60a01c",
        "d": true,
        "g": "8074a81f.75b398",
        "name": "Pot Vapor Temp",
        "bus": 0,
        "dev": 0,
        "rtd": 1000,
        "ref": 4300,
        "wir": "3",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "34383e20.5b4dc2"
            ]
        ]
    },
    {
        "id": "5b4dea38.662c44",
        "type": "pimax31865",
        "z": "4efa04f2.60a01c",
        "d": true,
        "g": "8074a81f.75b398",
        "name": "Dephleg Temp",
        "bus": 0,
        "dev": 0,
        "rtd": 1000,
        "ref": 4300,
        "wir": "3",
        "x": 280,
        "y": 960,
        "wires": [
            [
                "ea35d423.eb6438"
            ]
        ]
    },
    {
        "id": "a0928ed8.c145",
        "type": "pimax31865",
        "z": "4efa04f2.60a01c",
        "d": true,
        "g": "8074a81f.75b398",
        "name": "Head Vapor Temp",
        "bus": 0,
        "dev": 0,
        "rtd": 1000,
        "ref": 4300,
        "wir": "3",
        "x": 290,
        "y": 1000,
        "wires": [
            [
                "7b01e70f.880008"
            ]
        ]
    },
    {
        "id": "ea35d423.eb6438",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "70c23f2.130d7c"
        ],
        "x": 415,
        "y": 960,
        "wires": []
    },
    {
        "id": "f347c773.ce29f8",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "476b4255.a8fd3c"
        ],
        "x": 415,
        "y": 840,
        "wires": []
    },
    {
        "id": "c8b827a3.cbb8b8",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "7f5dcd6.fc3fb34"
        ],
        "x": 415,
        "y": 880,
        "wires": []
    },
    {
        "id": "34383e20.5b4dc2",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "2b27afa2.c92f9"
        ],
        "x": 415,
        "y": 920,
        "wires": []
    },
    {
        "id": "7b01e70f.880008",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "9de4bde1.400c5"
        ],
        "x": 415,
        "y": 1000,
        "wires": []
    },
    {
        "id": "def16523.b245f8",
        "type": "link in",
        "z": "4efa04f2.60a01c",
        "g": "8074a81f.75b398",
        "name": "",
        "links": [
            "492adfda.6af39"
        ],
        "x": 115,
        "y": 920,
        "wires": [
            [
                "d7429e3e.50874",
                "97efe967.856cc8",
                "5b4dea38.662c44",
                "a0928ed8.c145",
                "f323cb07.408918"
            ]
        ]
    },
    {
        "id": "492adfda.6af39",
        "type": "link out",
        "z": "4efa04f2.60a01c",
        "g": "2bde760d.d734ba",
        "name": "",
        "links": [
            "def16523.b245f8"
        ],
        "x": 575,
        "y": 140,
        "wires": []
    },
    {
        "id": "f323cb07.408918",
        "type": "pimax31865",
        "z": "4efa04f2.60a01c",
        "d": true,
        "g": "8074a81f.75b398",
        "name": "Jacket Temp",
        "bus": 0,
        "dev": 0,
        "rtd": 1000,
        "ref": 4300,
        "wir": "3",
        "x": 270,
        "y": 840,
        "wires": [
            [
                "f347c773.ce29f8"
            ]
        ]
    },
    {
        "id": "e2fb0a83.3eacc8",
        "type": "exec",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "command": "rtd 0 read 1",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Jacket Temp",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "7f536df4.47b0a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "f5b8984d.2945e8",
        "type": "exec",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "command": "rtd 0 read 2",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Charge Temp",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "47d05fd7.62ab2"
            ],
            [],
            []
        ]
    },
    {
        "id": "f7562362.db3f6",
        "type": "exec",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "command": "rtd 0 read 3",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Pot Vapor Temp",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "7c7f6232.b0bd6c"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d4f92df.d501dc",
        "type": "exec",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "command": "rtd 0 read 4",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Dephleg Temp",
        "x": 280,
        "y": 680,
        "wires": [
            [
                "1eac1593.24174a"
            ],
            [],
            []
        ]
    },
    {
        "id": "99968607.855ec8",
        "type": "exec",
        "z": "4efa04f2.60a01c",
        "g": "e74cbe1a.43ea4",
        "command": "rtd 0 read 5",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Head Vapor Temp",
        "x": 290,
        "y": 740,
        "wires": [
            [
                "7f93cd37.1e30a4"
            ],
            [],
            []
        ]
    },
    {
        "id": "218c0176.1c053e",
        "type": "rbe",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "",
        "func": "narrowbandEq",
        "gap": "10%",
        "start": "0",
        "inout": "in",
        "property": "payload",
        "x": 730,
        "y": 480,
        "wires": [
            [
                "883e24cc.3eac08"
            ]
        ]
    },
    {
        "id": "883e24cc.3eac08",
        "type": "smooth",
        "z": "4efa04f2.60a01c",
        "g": "27d31167.70ea9e",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "3",
        "round": "2",
        "mult": "single",
        "reduce": false,
        "x": 900,
        "y": 480,
        "wires": [
            [
                "bcacef17.78261"
            ]
        ]
    },
    {
        "id": "3206a198.f1e14e",
        "type": "ui_numeric",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "",
        "label": "Dephlegmator Target Temp",
        "tooltip": "",
        "group": "958ff866.e606f8",
        "order": 2,
        "width": 9,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": ".1",
        "x": 660,
        "y": 700,
        "wires": [
            [
                "d3bdb61.aa50448",
                "fca5c10f.ad27a"
            ]
        ]
    },
    {
        "id": "6d5131f3.0feb4",
        "type": "ui_chart",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "name": "",
        "group": "5fa23c95.9835e4",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Distilling Temps",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 240,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "17a94292.e6514d",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "group": "5fa23c95.9835e4",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Head Vapor Temp",
        "format": "{{msg.payload | number:.1}}C",
        "layout": "col-center",
        "x": 250,
        "y": 840,
        "wires": []
    },
    {
        "id": "ac5183ad.a749e",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "group": "5fa23c95.9835e4",
        "order": 1,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Pot Vapor Temp",
        "format": "{{msg.payload | number:.1}}C",
        "layout": "col-center",
        "x": 240,
        "y": 880,
        "wires": []
    },
    {
        "id": "f442669f.81b278",
        "type": "ui_chart",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "name": "",
        "group": "5fa23c95.9835e4",
        "order": 8,
        "width": 9,
        "height": 5,
        "label": "Distilling ABV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 630,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "890cf3a2.b5685",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "group": "5fa23c95.9835e4",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Product ABV",
        "format": "{{msg.payload | number: 1}}%",
        "layout": "col-center",
        "x": 630,
        "y": 840,
        "wires": []
    },
    {
        "id": "f8d91b0b.368848",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "group": "5fa23c95.9835e4",
        "order": 6,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Pot Vapor ABV",
        "format": "{{msg.payload | number: 1}}%",
        "layout": "col-center",
        "x": 620,
        "y": 880,
        "wires": []
    },
    {
        "id": "4da22679.a249d8",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "group": "5fa23c95.9835e4",
        "order": 7,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Charge ABV",
        "format": "{{msg.payload | number:.1}}%",
        "layout": "col-center",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "c42c52e2.ea3e2",
        "type": "ui_gauge",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 1,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Dephlegmator Output",
        "label": "C",
        "format": "{{value | number:1}}C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "77",
        "x": 680,
        "y": 620,
        "wires": []
    },
    {
        "id": "26e65a72.33d766",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "Slider Disabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 480,
        "wires": [
            [
                "bc4a946c.a1c1a8",
                "5cad6b20.71f7c4"
            ]
        ]
    },
    {
        "id": "d7afd3d.8fcda3",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "System Check",
        "links": [
            "57a061df.50721",
            "81cb8e45.fc39f",
            "aefcb590.e6e858",
            "77bc3c2d.aa10a4"
        ],
        "x": 75,
        "y": 480,
        "wires": [
            [
                "26e65a72.33d766"
            ]
        ]
    },
    {
        "id": "f8ff37a6.ce0b08",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "links": [
            "675c3a5f.49e194",
            "2c0bd641.c6de9a"
        ],
        "x": 715,
        "y": 480,
        "wires": []
    },
    {
        "id": "d0362e4b.97062",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "name": "Pot Vapor Temp",
        "links": [
            "f9070436.2fae68"
        ],
        "x": 75,
        "y": 880,
        "wires": [
            [
                "ac5183ad.a749e",
                "6d5131f3.0feb4"
            ]
        ]
    },
    {
        "id": "32687c36.107a94",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "group": "5fa23c95.9835e4",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Dephleg Temp",
        "format": "{{msg.payload | number: 1}}C",
        "layout": "col-center",
        "x": 240,
        "y": 920,
        "wires": []
    },
    {
        "id": "e8c95415.462538",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "name": "Dephleg Temp",
        "links": [
            "700c01d4.04bc"
        ],
        "x": 75,
        "y": 920,
        "wires": [
            [
                "32687c36.107a94",
                "6d5131f3.0feb4"
            ]
        ]
    },
    {
        "id": "166fbb8.8e16f45",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "Dephleg Guage",
        "links": [
            "700c01d4.04bc"
        ],
        "x": 475,
        "y": 660,
        "wires": [
            [
                "c42c52e2.ea3e2",
                "d3bdb61.aa50448"
            ]
        ]
    },
    {
        "id": "901690f3.e2807",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "name": "Head Vapor Temp",
        "links": [],
        "x": 75,
        "y": 840,
        "wires": [
            [
                "17a94292.e6514d",
                "6d5131f3.0feb4"
            ]
        ]
    },
    {
        "id": "d3152551.cd18f8",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "name": "Product ABV",
        "links": [
            "86a0a5d4.f10a98"
        ],
        "x": 475,
        "y": 840,
        "wires": [
            [
                "890cf3a2.b5685",
                "f442669f.81b278"
            ]
        ]
    },
    {
        "id": "8b179624.c01178",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "name": "Pot Vapor ABV",
        "links": [
            "29f50dc0.4dd7a2"
        ],
        "x": 475,
        "y": 880,
        "wires": [
            [
                "f8d91b0b.368848",
                "f442669f.81b278"
            ]
        ]
    },
    {
        "id": "92e97b96.44e008",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "name": "Charge ABV",
        "links": [
            "8abda6f3.f1b288"
        ],
        "x": 475,
        "y": 920,
        "wires": [
            [
                "4da22679.a249d8",
                "f442669f.81b278"
            ]
        ]
    },
    {
        "id": "7bcda4c4.eabdac",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "Initial Depleg temp",
        "links": [
            "32002d03.6d3242"
        ],
        "x": 475,
        "y": 700,
        "wires": [
            [
                "3206a198.f1e14e"
            ]
        ]
    },
    {
        "id": "d3bdb61.aa50448",
        "type": "ui_chart",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Reflux Control",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 700,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "fca5c10f.ad27a",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dephleg.target",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 740,
        "wires": [
            [
                "1cc55ddb.99b922"
            ]
        ]
    },
    {
        "id": "1cc55ddb.99b922",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "Depleg Target",
        "links": [
            "26dfdbc4.f780a4"
        ],
        "x": 795,
        "y": 740,
        "wires": []
    },
    {
        "id": "1ffef514.153c3b",
        "type": "ui_switch",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "",
        "label": "PID Control",
        "tooltip": "",
        "group": "f0c68884.7c8b18",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "PID",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "5f9a0016.c1274"
            ]
        ]
    },
    {
        "id": "fd487411.a62f68",
        "type": "ui_switch",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "label": "Manual Control",
        "tooltip": "",
        "group": "f0c68884.7c8b18",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "Manual",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "d09b581d.c4d788"
            ]
        ]
    },
    {
        "id": "71230127.babf8",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "PID Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PID",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "equipment.control",
                "pt": "global",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 60,
        "wires": [
            [
                "c56a2a2f.64cdd8"
            ]
        ]
    },
    {
        "id": "a3dc5e5f.cafe2",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "Manual Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 100,
        "wires": [
            [
                "aefcb590.e6e858"
            ]
        ]
    },
    {
        "id": "c56a2a2f.64cdd8",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "",
        "links": [
            "52e20c9e.3902f4"
        ],
        "x": 875,
        "y": 60,
        "wires": []
    },
    {
        "id": "aefcb590.e6e858",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "",
        "links": [
            "b2db45b2.e90488",
            "d7afd3d.8fcda3",
            "d5ebc8fb.b92378"
        ],
        "x": 875,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2db45b2.e90488",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "links": [
            "aefcb590.e6e858",
            "81cb8e45.fc39f",
            "66aa7882.bc8ad8",
            "d2d63afe.cde968"
        ],
        "x": 75,
        "y": 400,
        "wires": [
            [
                "fd487411.a62f68"
            ]
        ]
    },
    {
        "id": "52e20c9e.3902f4",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "",
        "links": [
            "7635199d.db15a8",
            "c56a2a2f.64cdd8",
            "66aa7882.bc8ad8",
            "d2d63afe.cde968"
        ],
        "x": 75,
        "y": 260,
        "wires": [
            [
                "1ffef514.153c3b"
            ]
        ]
    },
    {
        "id": "ea7fec14.a32a7",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "Manual on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PID",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "equipment.control",
                "pt": "global",
                "to": "manual",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "7635199d.db15a8"
            ]
        ]
    },
    {
        "id": "7635199d.db15a8",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "links": [
            "52e20c9e.3902f4",
            "d5ebc8fb.b92378"
        ],
        "x": 615,
        "y": 380,
        "wires": []
    },
    {
        "id": "d541c492.41bc78",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "PID on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Manual",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "equipment.control",
                "pt": "global",
                "to": "PID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "81cb8e45.fc39f"
            ]
        ]
    },
    {
        "id": "81cb8e45.fc39f",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "",
        "links": [
            "b2db45b2.e90488",
            "d7afd3d.8fcda3"
        ],
        "x": 595,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f9a0016.c1274",
        "type": "switch",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "d541c492.41bc78"
            ],
            [
                "ee848ff7.f69d"
            ]
        ]
    },
    {
        "id": "d09b581d.c4d788",
        "type": "switch",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "ea7fec14.a32a7"
            ],
            [
                "22d1da7f.fbd976"
            ]
        ]
    },
    {
        "id": "d82ac2ae.7f8f6",
        "type": "ui_button",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "System Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 570,
        "y": 80,
        "wires": [
            [
                "71230127.babf8",
                "a3dc5e5f.cafe2"
            ]
        ]
    },
    {
        "id": "dc7ed5a9.c21808",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "Enable element",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "f8ff37a6.ce0b08"
            ]
        ]
    },
    {
        "id": "bac81f7d.7d4ca",
        "type": "ui_button",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Settings",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Settings",
        "payloadType": "str",
        "topic": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "e5651307.c2703"
            ]
        ]
    },
    {
        "id": "e5651307.c2703",
        "type": "ui_ui_control",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "events": "all",
        "x": 270,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6f00c461.eccf1c",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "2dd6d82e.c14538",
        "name": "System Off",
        "links": [
            "5adde98d.72b008"
        ],
        "x": 455,
        "y": 80,
        "wires": [
            [
                "d82ac2ae.7f8f6"
            ]
        ]
    },
    {
        "id": "bc4a946c.a1c1a8",
        "type": "ui_slider",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "f0c68884.7c8b18",
        "order": 13,
        "width": 9,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "100",
        "step": 1,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "dc7ed5a9.c21808",
                "5cad6b20.71f7c4"
            ]
        ]
    },
    {
        "id": "5cad6b20.71f7c4",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "group": "f0c68884.7c8b18",
        "order": 9,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Manual Power",
        "format": "{{msg.payload}}%",
        "layout": "col-center",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "f531c57d.eb37e8",
        "type": "ui_button",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Parameters",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Parameters",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "1200e5ce.8fc35a"
            ]
        ]
    },
    {
        "id": "1200e5ce.8fc35a",
        "type": "ui_ui_control",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "events": "all",
        "x": 300,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "8693a21e.b4914",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "group": "f0c68884.7c8b18",
        "order": 4,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Jacket Temp",
        "format": "{{msg.payload | number: 1}}C",
        "layout": "col-center",
        "x": 230,
        "y": 660,
        "wires": []
    },
    {
        "id": "5ff2223b.3bf54c",
        "type": "ui_text",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "group": "f0c68884.7c8b18",
        "order": 3,
        "width": 3,
        "height": 2,
        "name": "",
        "label": "Charge Temp",
        "format": "{{msg.payload | number: 1}}C",
        "layout": "col-center",
        "x": 240,
        "y": 620,
        "wires": []
    },
    {
        "id": "2b49a9e5.254116",
        "type": "ui_chart",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "name": "",
        "group": "f0c68884.7c8b18",
        "order": 5,
        "width": 9,
        "height": 5,
        "label": "Heat up",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 220,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "79fa101b.09491",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "name": "Jacket Temp",
        "links": [
            "1485dad.b7f1f25"
        ],
        "x": 75,
        "y": 660,
        "wires": [
            [
                "8693a21e.b4914",
                "2b49a9e5.254116"
            ]
        ]
    },
    {
        "id": "59571818.6fba38",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "name": "Charge Temp",
        "links": [
            "5a6db6cd.04e258"
        ],
        "x": 75,
        "y": 620,
        "wires": [
            [
                "5ff2223b.3bf54c",
                "2b49a9e5.254116",
                "ab5776aa.549e08"
            ]
        ]
    },
    {
        "id": "5fd2896e.8c72d8",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6e0c457f.6fc02c",
        "name": "Target Temp",
        "links": [
            "653aaee7.03949",
            "b71975d.3550388",
            "57a061df.50721",
            "764ac163.8e20e",
            "e5cbe54a.dd24b8",
            "6f8d896.7abf578"
        ],
        "x": 75,
        "y": 700,
        "wires": [
            [
                "2b49a9e5.254116"
            ]
        ]
    },
    {
        "id": "6f8d896.7abf578",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "links": [
            "cc10a6aa.4051a8",
            "2df8762e.42e98a",
            "976fb163.32131",
            "bb2b1403.bdf128",
            "5fd2896e.8c72d8"
        ],
        "x": 235,
        "y": 140,
        "wires": []
    },
    {
        "id": "df01db8.cc05a28",
        "type": "ui_button",
        "z": "a2db4973.dc89c8",
        "g": "d39f4658.3d75f8",
        "name": "",
        "group": "958ff866.e606f8",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "[]",
        "payloadType": "json",
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "6f8d896.7abf578"
            ]
        ]
    },
    {
        "id": "cc10a6aa.4051a8",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1363d428.268a9c",
        "name": "",
        "links": [
            "6f8d896.7abf578"
        ],
        "x": 75,
        "y": 960,
        "wires": [
            [
                "6d5131f3.0feb4"
            ]
        ]
    },
    {
        "id": "2df8762e.42e98a",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "e8be0dda.000c",
        "name": "",
        "links": [
            "6f8d896.7abf578"
        ],
        "x": 475,
        "y": 960,
        "wires": [
            [
                "f442669f.81b278"
            ]
        ]
    },
    {
        "id": "976fb163.32131",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "1729bed5.74f8b1",
        "name": "",
        "links": [
            "6f8d896.7abf578"
        ],
        "x": 475,
        "y": 620,
        "wires": [
            [
                "d3bdb61.aa50448"
            ]
        ]
    },
    {
        "id": "77bc3c2d.aa10a4",
        "type": "link out",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "",
        "links": [
            "d7afd3d.8fcda3"
        ],
        "x": 615,
        "y": 420,
        "wires": []
    },
    {
        "id": "ee848ff7.f69d",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "bf91ade9.cef8c",
        "name": "PID off",
        "rules": [
            {
                "t": "set",
                "p": "equipment.control",
                "pt": "global",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a85aa72e.c23318",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "Slider Enabled",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "bc4a946c.a1c1a8",
                "5cad6b20.71f7c4"
            ]
        ]
    },
    {
        "id": "d5ebc8fb.b92378",
        "type": "link in",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "System Check",
        "links": [
            "57a061df.50721",
            "aefcb590.e6e858",
            "7635199d.db15a8"
        ],
        "x": 75,
        "y": 520,
        "wires": [
            [
                "a85aa72e.c23318"
            ]
        ]
    },
    {
        "id": "22d1da7f.fbd976",
        "type": "change",
        "z": "a2db4973.dc89c8",
        "g": "6ef36601.e2cb28",
        "name": "Manual off",
        "rules": [
            {
                "t": "set",
                "p": "equipment.control",
                "pt": "global",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "77bc3c2d.aa10a4"
            ]
        ]
    },
    {
        "id": "ab5776aa.549e08",
        "type": "ui_chart",
        "z": "a2db4973.dc89c8",
        "name": "",
        "group": "7d6d2c09.222214",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 960,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4c90da12.3a3dc4",
        "type": "inject",
        "z": "a2db4973.dc89c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 840,
        "y": 320,
        "wires": [
            [
                "ab5776aa.549e08"
            ]
        ]
    },
    {
        "id": "689d7311.8d5a8c",
        "type": "rpi-gpio out",
        "z": "78ebefdf.ad716",
        "g": "5e071452.07836c",
        "name": "HLT GPIO",
        "pin": "36",
        "set": "",
        "level": "0",
        "freq": "1",
        "out": "pwm",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "efb741b7.1ed03",
        "type": "range",
        "z": "78ebefdf.ad716",
        "g": "5e071452.07836c",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "5500",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Input Power",
        "x": 350,
        "y": 140,
        "wires": [
            [
                "e3c5e4c9.fb6598"
            ]
        ]
    },
    {
        "id": "e3c5e4c9.fb6598",
        "type": "ui_gauge",
        "z": "78ebefdf.ad716",
        "g": "5e071452.07836c",
        "name": "Input Power Gauge",
        "group": "f0c68884.7c8b18",
        "order": 1,
        "width": 9,
        "height": 4,
        "gtype": "gage",
        "title": "Input Power",
        "label": "usage",
        "format": "{{payload | number:1}} W",
        "min": 0,
        "max": "5500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "2c0bd641.c6de9a",
        "type": "link in",
        "z": "78ebefdf.ad716",
        "g": "5e071452.07836c",
        "name": "Element",
        "links": [
            "2dfabc2b.bdee04",
            "a0530194.f477d",
            "9122e49.3b83718",
            "f8ff37a6.ce0b08",
            "df299270.52592",
            "c7fd46a9.2d4938",
            "7d68fe95.b78ca"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "689d7311.8d5a8c",
                "efb741b7.1ed03"
            ]
        ]
    },
    {
        "id": "c124f1bd.0205f",
        "type": "inject",
        "z": "78ebefdf.ad716",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "689d7311.8d5a8c"
            ]
        ]
    },
    {
        "id": "19d4fd56.605e53",
        "type": "inject",
        "z": "78ebefdf.ad716",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "689d7311.8d5a8c"
            ]
        ]
    },
    {
        "id": "c64a1613.423cc8",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "dephleg",
        "rules": [
            {
                "t": "set",
                "p": "dephleg",
                "pt": "global",
                "to": "{\"temp\":0,\"medium\":\"water\",\"target\":70}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "58a65166.7721f",
        "type": "inject",
        "z": "611a932e.676dfc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "941d158.155ffe8",
                "c64a1613.423cc8",
                "3197f4aa.a06d3c",
                "f627e0d1.a1a9a",
                "9359247c.1e2c38",
                "2d64342c.36b73c"
            ]
        ]
    },
    {
        "id": "f627e0d1.a1a9a",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "charge",
        "rules": [
            {
                "t": "set",
                "p": "charge",
                "pt": "global",
                "to": "{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"ABV\":0,\"volume\":0,\"initialABV\":9}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9359247c.1e2c38",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "jacket",
        "rules": [
            {
                "t": "set",
                "p": "jacket",
                "pt": "global",
                "to": "{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"status\":\"off\",\"control\":\"manual\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3197f4aa.a06d3c",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "pot_vapor",
        "rules": [
            {
                "t": "set",
                "p": "pot_vapor",
                "pt": "global",
                "to": "{\"ID\":\"Pot Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "941d158.155ffe8",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "head_vapor",
        "rules": [
            {
                "t": "set",
                "p": "head_vapor",
                "pt": "global",
                "to": "{\"ID\":\"Head_Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0,\"volume\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2d64342c.36b73c",
        "type": "change",
        "z": "611a932e.676dfc",
        "name": "product",
        "rules": [
            {
                "t": "set",
                "p": "product.total.volume",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "product.total.weight",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "product.collection.volume",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "product.collect.weight",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "product.ABV",
                "pt": "global",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "product.flowrate",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "26ad25df.860a4a",
        "type": "link in",
        "z": "611a932e.676dfc",
        "name": "",
        "links": [],
        "x": 155,
        "y": 360,
        "wires": [
            [
                "941d158.155ffe8",
                "c64a1613.423cc8",
                "3197f4aa.a06d3c",
                "f627e0d1.a1a9a",
                "9359247c.1e2c38",
                "2d64342c.36b73c"
            ]
        ]
    },
    {
        "id": "2174bf8a.23c48",
        "type": "inject",
        "z": "611a932e.676dfc",
        "name": "Initial off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "d2d63afe.cde968"
            ]
        ]
    },
    {
        "id": "d2d63afe.cde968",
        "type": "link out",
        "z": "611a932e.676dfc",
        "name": "",
        "links": [
            "52e20c9e.3902f4",
            "b2db45b2.e90488"
        ],
        "x": 245,
        "y": 440,
        "wires": []
    },
    {
        "id": "c62135c4.436408",
        "type": "function",
        "z": "4be6940e.11571c",
        "name": "Database log entry",
        "func": "msg.payload = [{\n        measurement: global.get(\"batch\"),\n        fields: {\n            \"Charge Temp\": global.get(\"charge.temp\"),\n            \"Jacket Temp\": global.get(\"jacket.temp\"),\n            \"Pot Vapor Temp\": global.get(\"pot_vapor.temp\"),\n            \"Dephleg Temp\": global.get(\"dephleg.temp\"),\n            \"Head Vapor Temp\": global.get(\"head_vapor.temp\"),\n            \"Dephleg Target\": global.get(\"dephleg.target\"),\n            \"Charge ABV\": global.get(\"charge.ABV\"),\n            \"Pot Vapor ABV\": global.get(\"pot_vapor.ABV\"),\n            \"Product ABV\": global.get(\"head_vapor.ABV\")\n            },\n        timestamp: new Date()\n}]\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 200,
        "wires": [
            [
                "84a5499e.0d91b8"
            ]
        ]
    },
    {
        "id": "8c4d42ce.84202",
        "type": "inject",
        "z": "4be6940e.11571c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "5f890aaf.628244"
            ]
        ]
    },
    {
        "id": "84a5499e.0d91b8",
        "type": "influxdb batch",
        "z": "4be6940e.11571c",
        "influxdb": "5391d36f.c4282c",
        "precision": "",
        "retentionPolicy": "",
        "name": "",
        "x": 780,
        "y": 200,
        "wires": []
    },
    {
        "id": "5f890aaf.628244",
        "type": "switch",
        "z": "4be6940e.11571c",
        "name": "Logging Switch",
        "property": "logging",
        "propertyType": "global",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "c62135c4.436408"
            ]
        ]
    },
    {
        "id": "92b9cd23.f9e4e",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner_p",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "64f09f9e.d037e",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner_i",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "1a1446b6.51b599"
            ]
        ]
    },
    {
        "id": "4024016d.9a2dd",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner_d",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "37205228.b29cfe",
        "type": "function",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID",
        "func": "// Manually specify update interval\nmsg.interval = 2000;\n\n//\n// Begin Outer Control Loop\n//\n// Output from Outer Control will be the target + Jacket delta T\n// Calculate outer error\nmsg.outer_target = flow.get('target')\nmsg.outer_error = msg.outer_target - global.get('charge.temp');\n\n// Update outer integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.outer_integrator = flow.get('outer_integrator');\nmsg.outer_integrator += (msg.interval/1000) * Math.max(Math.min(msg.outer_error, 1), -1);\n\n// Bound total outer integrator by absolute maximum\nmsg.outer_integrator = Math.max(Math.min(msg.outer_integrator, flow.get('outer_integrator_max')), -flow.get('outer_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('outer_integrator', msg.outer_integrator);\n\n// Calculate proportional action\nmsg.outer_output = msg.outer_error * flow.get('outer_p');\n\n// Calculate intergral action\nmsg.outer_output += msg.outer_integrator * flow.get('outer_i');\n\n// Calculate derivative action\nmsg.outer_derivative = (msg.outer_error - flow.get('last_outer_error'))/(msg.interval/1000);\nmsg.outer_output += msg.outer_derivative * flow.get('outer_d');\n\n// Bound outer_output by [outer_min, outer_max]\nmsg.outer_output = Math.max(Math.min(msg.outer_output, flow.get('outer_max')), flow.get('outer_min'));\n\n// Set inner_target\nmsg.inner_target = Math.min(msg.outer_target + msg.outer_output, 90)\n\n// Output updated last_outer_error to flow context\nmsg.last_outer_error = msg.outer_error;\nflow.set('last_outer_error', msg.last_outer_error);\n\n//\n// Begin Inner Control Loop\n// Output from inner control loop will be Jacket element duty %\n// Calculate inner error\nmsg.inner_error = msg.inner_target - global.get('jacket.temp');\n\n// Update inner integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.inner_integrator = flow.get('inner_integrator');\nmsg.inner_integrator += (msg.interval/1000) * Math.max(Math.min(msg.inner_error, 1), -1);\n\n// Bound total inner integrator by absolute maximum\nmsg.inner_integrator = Math.max(Math.min(msg.inner_integrator, flow.get('inner_integrator_max')), -flow.get('inner_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('inner_integrator', msg.inner_integrator);\n\n// Calculate proportional action\nmsg.inner_output = msg.inner_error * flow.get('inner_p');\n\n// Calculate intergral action\nmsg.inner_output += msg.inner_integrator * flow.get('inner_i');\n\n// Calculate derivative action\nmsg.inner_derivative = (msg.inner_error - flow.get('last_inner_error'))/(msg.interval/1000);\nmsg.inner_output += msg.inner_derivative * flow.get('inner_d');\n\n// Bound inner_output by [0.0, max_output]\nmsg.inner_output = Math.max(Math.min(msg.inner_output, flow.get('inner_max')), 0.0);\n\n// Output updated last_inner_error to flow context\nmsg.last_inner_error = msg.inner_error;\nflow.set('last_inner_error', msg.last_inner_error);\n\n// Set payload to element output\nmsg.payload = msg.inner_output;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 300,
        "wires": [
            [
                "c7fd46a9.2d4938"
            ]
        ]
    },
    {
        "id": "8f2f25f0.c76b38",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Inner Kp",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "20.0",
        "payloadType": "num",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "8a2e514d.4dd81",
                "92b9cd23.f9e4e"
            ]
        ]
    },
    {
        "id": "af30602e.cf675",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Inner Ki",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 440,
        "wires": [
            [
                "7c53efd8.023e2",
                "64f09f9e.d037e"
            ]
        ]
    },
    {
        "id": "e281a185.5b675",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Inner Kd",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "5011ab94.67c144",
                "4024016d.9a2dd"
            ]
        ]
    },
    {
        "id": "430a7e1e.34282",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "da93d97f.79f588",
        "name": "Default Target",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 760,
        "y": 60,
        "wires": [
            [
                "ef252032.67465",
                "814533b0.5d2b3"
            ]
        ]
    },
    {
        "id": "db8d3ef4.31d63",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Inner Limit",
        "props": [
            {
                "p": "payload",
                "v": "30",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "cdb0e4aa.a21f78",
                "5e374890.b6fc78"
            ]
        ]
    },
    {
        "id": "cdb0e4aa.a21f78",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "Output limiter",
        "tooltip": "",
        "group": "3664e4b.5830a9c",
        "order": 10,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:0}}",
        "min": "1",
        "max": "99",
        "step": 1,
        "x": 220,
        "y": 640,
        "wires": [
            [
                "5e374890.b6fc78"
            ]
        ]
    },
    {
        "id": "5e374890.b6fc78",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner_limit",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 640,
        "wires": [
            [
                "89c111c0.436c"
            ]
        ]
    },
    {
        "id": "c7fd46a9.2d4938",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "PID Settings",
        "links": [
            "2c0bd641.c6de9a",
            "24305f55.390d9"
        ],
        "x": 355,
        "y": 300,
        "wires": []
    },
    {
        "id": "5011ab94.67c144",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "3664e4b.5830a9c",
        "order": 9,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "step": "0.2",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "4024016d.9a2dd"
            ]
        ]
    },
    {
        "id": "7c53efd8.023e2",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "3664e4b.5830a9c",
        "order": 7,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "step": "0.2",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "64f09f9e.d037e"
            ]
        ]
    },
    {
        "id": "8a2e514d.4dd81",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "3664e4b.5830a9c",
        "order": 5,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "99",
        "step": "0.2",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "92b9cd23.f9e4e"
            ]
        ]
    },
    {
        "id": "c48c2466.1f3798",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer_p",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "6059e65e.970e38",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer_i",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 800,
        "wires": [
            [
                "9d85fe1d.043bb"
            ]
        ]
    },
    {
        "id": "afcc6ba2.73a568",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer_d",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "516436b8.8c2538",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Outer Kp",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "4d984394.dd32dc",
                "c48c2466.1f3798"
            ]
        ]
    },
    {
        "id": "23fe8dbb.896142",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Outer Ki",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "1a04c095.d6052f",
                "6059e65e.970e38"
            ]
        ]
    },
    {
        "id": "3ca1aa9d.39aff6",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Outer Kd",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 840,
        "wires": [
            [
                "9d89a551.c0e678",
                "afcc6ba2.73a568"
            ]
        ]
    },
    {
        "id": "a49efb77.df08e8",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Outer Max",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 190,
        "y": 920,
        "wires": [
            [
                "f8d3cec1.e0d26",
                "cdf54923.a2afc8"
            ]
        ]
    },
    {
        "id": "f8d3cec1.e0d26",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "max T",
        "tooltip": "",
        "group": "321aaa6a.377d5e",
        "order": 11,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}C",
        "min": "1",
        "max": "15",
        "step": 1,
        "x": 200,
        "y": 960,
        "wires": [
            [
                "cdf54923.a2afc8"
            ]
        ]
    },
    {
        "id": "cdf54923.a2afc8",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer_max",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 960,
        "wires": [
            [
                "c36d05ae.905308"
            ]
        ]
    },
    {
        "id": "9d89a551.c0e678",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "321aaa6a.377d5e",
        "order": 9,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "step": "0.2",
        "x": 190,
        "y": 880,
        "wires": [
            [
                "afcc6ba2.73a568"
            ]
        ]
    },
    {
        "id": "1a04c095.d6052f",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "321aaa6a.377d5e",
        "order": 7,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "step": "0.2",
        "x": 190,
        "y": 800,
        "wires": [
            [
                "6059e65e.970e38"
            ]
        ]
    },
    {
        "id": "4d984394.dd32dc",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "K",
        "tooltip": "",
        "group": "321aaa6a.377d5e",
        "order": 5,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": false,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "99",
        "step": "0.2",
        "x": 190,
        "y": 720,
        "wires": [
            [
                "c48c2466.1f3798"
            ]
        ]
    },
    {
        "id": "a19f6bc.00a2c98",
        "type": "link in",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID trigger",
        "links": [
            "5010ffd6.cabb28",
            "6c6b47e7.a7f548",
            "7b7e6c85.997614",
            "ddd60831.df3758",
            "45561c48.56fff4",
            "10171356.30d65d"
        ],
        "x": 115,
        "y": 300,
        "wires": [
            [
                "37205228.b29cfe"
            ]
        ]
    },
    {
        "id": "c926897.1b6a878",
        "type": "function",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID - integrator max calculation",
        "func": "\n// Calculate outer integrator max\n// Output to flow context\nif(flow.get('outer_i')>0.0){\n    flow.set('outer_integrator_max', (flow.get('outer_max')-flow.get('outer_min'))/flow.get('outer_i'))}else {\n        flow.set('outer_integrator_max', 0.0)}\n\n// Get current output max\n// Output to flow context\nif(global.get('jacket.limit')){\n    flow.set('inner_max', flow.get('inner_limit'))}else {\n        flow.set('inner_max', 100)}\n\n// Calculate inner integrator max\n// Output to flow context\nif(flow.get('inner_i')>0.0){\n    flow.set('inner_integrator_max', flow.get('inner_max')/flow.get('inner_i'))}else {\n        flow.set('inner_integrator_max', 0.0)}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4c33ea96.24bc04",
        "type": "link in",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "b097c6ec.5fbe5",
            "1a1446b6.51b599",
            "d75d11e.f8f757",
            "89c111c0.436c",
            "2f03decd.c6137a",
            "9d85fe1d.043bb",
            "668f2b46.52004c",
            "c36d05ae.905308",
            "60f7dfe2.9a8ba",
            "9bd31a5b.f45448",
            "e935ad0f.89f5e"
        ],
        "x": 115,
        "y": 240,
        "wires": [
            [
                "c926897.1b6a878"
            ]
        ]
    },
    {
        "id": "1a1446b6.51b599",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "4c33ea96.24bc04"
        ],
        "x": 575,
        "y": 480,
        "wires": []
    },
    {
        "id": "89c111c0.436c",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "4c33ea96.24bc04"
        ],
        "x": 575,
        "y": 640,
        "wires": []
    },
    {
        "id": "9d85fe1d.043bb",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "4c33ea96.24bc04"
        ],
        "x": 575,
        "y": 800,
        "wires": []
    },
    {
        "id": "c36d05ae.905308",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "4c33ea96.24bc04"
        ],
        "x": 575,
        "y": 960,
        "wires": []
    },
    {
        "id": "dc214905.b71a98",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "da93d97f.79f588",
        "name": "Mash target slider output",
        "links": [
            "f6602a51.30a728"
        ],
        "x": 1095,
        "y": 100,
        "wires": []
    },
    {
        "id": "b2b9195c.37fba8",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Default Outer Max",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-2",
        "payloadType": "num",
        "x": 190,
        "y": 1000,
        "wires": [
            [
                "71b7cc3e.ed9e34",
                "1f3bc3b9.4bb2bc"
            ]
        ]
    },
    {
        "id": "71b7cc3e.ed9e34",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "label": "min T",
        "tooltip": "",
        "group": "321aaa6a.377d5e",
        "order": 10,
        "width": 6,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}C",
        "min": "-10",
        "max": "0",
        "step": 1,
        "x": 200,
        "y": 1040,
        "wires": [
            [
                "1f3bc3b9.4bb2bc"
            ]
        ]
    },
    {
        "id": "1f3bc3b9.4bb2bc",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outer_min",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 1040,
        "wires": [
            [
                "e935ad0f.89f5e"
            ]
        ]
    },
    {
        "id": "e935ad0f.89f5e",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "77770757.b82118",
        "name": "Cascade PID Integrator update",
        "links": [
            "4c33ea96.24bc04"
        ],
        "x": 575,
        "y": 1040,
        "wires": []
    },
    {
        "id": "ef252032.67465",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "da93d97f.79f588",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "target",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 100,
        "wires": [
            [
                "dc214905.b71a98"
            ]
        ]
    },
    {
        "id": "1f80ff11.969b21",
        "type": "PID",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "Simple PID",
        "setpoint": 21,
        "pb": 1,
        "ti": 9999,
        "td": 0,
        "integral_default": 0.5,
        "smooth_factor": 3,
        "max_interval": 600,
        "enable": 1,
        "disabled_op": 0,
        "x": 930,
        "y": 240,
        "wires": [
            [
                "df299270.52592"
            ]
        ]
    },
    {
        "id": "814533b0.5d2b3",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "da93d97f.79f588",
        "name": "",
        "label": "Target",
        "tooltip": "",
        "group": "f0c68884.7c8b18",
        "order": 2,
        "width": 3,
        "height": 2,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "75",
        "step": 1,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "ef252032.67465"
            ]
        ]
    },
    {
        "id": "f553acd7.370aa",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "124ea802.ad0d78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "21dde6db.3d13ea"
            ]
        ]
    },
    {
        "id": "4fe49478.947ddc",
        "type": "switch",
        "z": "35a3c3b3.d04c4c",
        "g": "124ea802.ad0d78",
        "name": "Cascade PID or simple PID",
        "property": "equipment.heating",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "jacketed",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "direct",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 300,
        "y": 120,
        "wires": [
            [
                "10171356.30d65d"
            ],
            [
                "29d03aed.1d5426"
            ]
        ]
    },
    {
        "id": "10171356.30d65d",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "124ea802.ad0d78",
        "name": "",
        "links": [
            "a19f6bc.00a2c98"
        ],
        "x": 495,
        "y": 100,
        "wires": []
    },
    {
        "id": "29d03aed.1d5426",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "124ea802.ad0d78",
        "name": "",
        "links": [
            "652282ba.664d4c"
        ],
        "x": 495,
        "y": 140,
        "wires": []
    },
    {
        "id": "652282ba.664d4c",
        "type": "link in",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "links": [
            "29d03aed.1d5426",
            "80beabba.4155d8",
            "9122bde3.8ece3"
        ],
        "x": 765,
        "y": 240,
        "wires": [
            [
                "1f80ff11.969b21"
            ]
        ]
    },
    {
        "id": "21dde6db.3d13ea",
        "type": "switch",
        "z": "35a3c3b3.d04c4c",
        "g": "124ea802.ad0d78",
        "name": "Manual or PID",
        "property": "equipment.control",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "PID",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 340,
        "y": 60,
        "wires": [
            [
                "4fe49478.947ddc"
            ]
        ]
    },
    {
        "id": "df299270.52592",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "links": [
            "2c0bd641.c6de9a"
        ],
        "x": 1035,
        "y": 240,
        "wires": []
    },
    {
        "id": "c64ecd37.cbe85",
        "type": "pid-autotune",
        "z": "35a3c3b3.d04c4c",
        "name": "Autotune",
        "outstep": 100,
        "maxout": 100,
        "lookback": 30,
        "setpoint": 65,
        "setpointType": "num",
        "tempVariable": "payload",
        "tempVariableType": "msg",
        "tempVariableMsgTopic": "autotune",
        "x": 740,
        "y": 720,
        "wires": [
            [
                "3e0fdb0b.155a64"
            ],
            [
                "7d68fe95.b78ca"
            ],
            []
        ]
    },
    {
        "id": "7d68fe95.b78ca",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "name": "",
        "links": [
            "2c0bd641.c6de9a"
        ],
        "x": 885,
        "y": 720,
        "wires": []
    },
    {
        "id": "3e0fdb0b.155a64",
        "type": "debug",
        "z": "35a3c3b3.d04c4c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 660,
        "wires": []
    },
    {
        "id": "64f88e5e.8e17b",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "P",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "prop_band",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 340,
        "wires": [
            [
                "80beabba.4155d8"
            ]
        ]
    },
    {
        "id": "cd268fbb.d4bd4",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "Default P",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "20.0",
        "payloadType": "num",
        "x": 740,
        "y": 300,
        "wires": [
            [
                "6e7cb38f.d750ac",
                "64f88e5e.8e17b"
            ]
        ]
    },
    {
        "id": "6e7cb38f.d750ac",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "label": "P",
        "tooltip": "",
        "group": "f04603e8.50a4f",
        "order": 2,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "99",
        "step": "0.2",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "64f88e5e.8e17b"
            ]
        ]
    },
    {
        "id": "bcca8c3f.64f8e",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "I",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "t_integral",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 420,
        "wires": [
            [
                "e013de49.c6c8a"
            ]
        ]
    },
    {
        "id": "78cf7155.797fb",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "Default I",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 740,
        "y": 380,
        "wires": [
            [
                "99d1eabc.0f19a8",
                "bcca8c3f.64f8e"
            ]
        ]
    },
    {
        "id": "99d1eabc.0f19a8",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "label": "I",
        "tooltip": "",
        "group": "f04603e8.50a4f",
        "order": 4,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "99",
        "step": "0.2",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "bcca8c3f.64f8e"
            ]
        ]
    },
    {
        "id": "ce215dc.ed1b1a",
        "type": "change",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "D",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "t_derivative",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 500,
        "wires": [
            [
                "9122bde3.8ece3"
            ]
        ]
    },
    {
        "id": "cb2a82bc.6744",
        "type": "inject",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "Default D",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "447e79f6.33e608",
                "ce215dc.ed1b1a"
            ]
        ]
    },
    {
        "id": "447e79f6.33e608",
        "type": "ui_numeric",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "label": "D",
        "tooltip": "",
        "group": "f04603e8.50a4f",
        "order": 6,
        "width": 4,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "99",
        "step": "0.2",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "ce215dc.ed1b1a"
            ]
        ]
    },
    {
        "id": "80beabba.4155d8",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "links": [
            "652282ba.664d4c"
        ],
        "x": 1095,
        "y": 340,
        "wires": []
    },
    {
        "id": "e013de49.c6c8a",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "links": [],
        "x": 1095,
        "y": 420,
        "wires": []
    },
    {
        "id": "9122bde3.8ece3",
        "type": "link out",
        "z": "35a3c3b3.d04c4c",
        "g": "65e60811.5da678",
        "name": "",
        "links": [
            "652282ba.664d4c"
        ],
        "x": 1095,
        "y": 500,
        "wires": []
    },
    {
        "id": "22b973a3.a683ec",
        "type": "function",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "LiquidTempABV",
        "func": "TempABV = {\n    78.2 : 96.0,\n    78.3 : 93.6,\n    78.4 : 92.3,\n    78.5 : 91.3,\n    78.6 : 90.0,\n    78.7 : 89.0,\n    78.8 : 88.0,\n    78.9 : 86.9,\n    79.0 : 86.0,\n    79.1 : 85.0,\n    79.2 : 84.1,\n    79.3 : 83.1,\n    79.4 : 82.2,\n    79.5 : 81.3,\n    79.6 : 80.3,\n    79.7 : 79.4,\n    79.8 : 78.4,\n    79.9 : 77.4,\n    80.0 : 76.5,\n    80.1 : 75.5,\n    80.2 : 74.6,\n    80.3 : 73.7,\n    80.4 : 72.8,\n    80.5 : 71.9,\n    80.6 : 71.0,\n    80.7 : 70.3,\n    80.8 : 69.6,\n    80.9 : 68.8,\n    81.0 : 67.7,\n    81.1 : 66.6,\n    81.2 : 65.6,\n    81.3 : 64.7,\n    81.4 : 63.7,\n    81.5 : 62.8,\n    81.6 : 61.9,\n    81.7 : 60.9,\n    81.8 : 60.0,\n    81.9 : 59.0,\n    82.0 : 58.1,\n    82.1 : 57.1,\n    82.2 : 56.3,\n    82.3 : 55.5,\n    82.4 : 54.5,\n    82.5 : 53.6,\n    82.6 : 52.7,\n    82.7 : 51.8,\n    82.8 : 50.9,\n    82.9 : 50.0,\n    83.0 : 49.1,\n    83.1 : 48.2,\n    83.2 : 47.2,\n    83.3 : 46.3,\n    83.4 : 45.5,\n    83.5 : 44.7,\n    83.6 : 44.0,\n    83.7 : 43.2,\n    83.8 : 42.4,\n    83.9 : 41.7,\n    84.0 : 41.1,\n    84.1 : 40.4,\n    84.2 : 39.7,\n    84.3 : 39.0,\n    84.4 : 38.4,\n    84.5 : 37.7,\n    84.6 : 37.0,\n    84.7 : 36.3,\n    84.8 : 35.6,\n    84.9 : 34.8,\n    85.0 : 34.2,\n    85.1 : 33.6,\n    85.2 : 32.9,\n    85.3 : 32.3,\n    85.4 : 31.7,\n    85.5 : 31.1,\n    85.6 : 30.3,\n    85.7 : 29.7,\n    85.8 : 29.0,\n    85.9 : 28.4,\n    86.0 : 27.7,\n    86.1 : 27.0,\n    86.2 : 26.6,\n    86.3 : 26.4,\n    86.4 : 26.3,\n    86.5 : 26.1,\n    86.6 : 26.0,\n    86.7 : 25.8,\n    86.8 : 25.6,\n    86.9 : 25.4,\n    87.0 : 25.2,\n    87.1 : 25.0,\n    87.2 : 24.8,\n    87.3 : 24.6,\n    87.4 : 24.2,\n    87.5 : 23.8,\n    87.6 : 23.4,\n    87.7 : 23.0,\n    87.8 : 22.6,\n    87.9 : 22.2,\n    88.0 : 21.9,\n    88.1 : 21.6,\n    88.2 : 21.3,\n    88.3 : 21.0,\n    88.4 : 20.7,\n    88.5 : 20.4,\n    88.6 : 20.1,\n    88.7 : 19.8,\n    88.8 : 18.5,\n    88.9 : 19.2,\n    89.0 : 19.0,\n    89.1 : 18.7,\n    89.2 : 18.4,\n    89.3 : 18.1,\n    89.4 : 17.8,\n    89.5 : 17.5,\n    89.6 : 17.2,\n    89.7 : 16.9,\n    89.8 : 16.7,\n    89.9 : 16.4,\n    90.0 : 16.2,\n    90.1 : 15.9,\n    90.2 : 15.7,\n    90.3 : 15.5,\n    90.4 : 15.2,\n    90.5 : 15.0,\n    90.6 : 14.8,\n    90.7 : 14.6,\n    90.8 : 14.4,\n    90.9 : 14.1,\n    91.0 : 13.9,\n    91.1 : 13.7,\n    91.2 : 13.5,\n    91.3 : 13.3,\n    91.4 : 13.2,\n    91.5 : 13.0,\n    91.6 : 12.8,\n    91.7 : 12.6,\n    91.8 : 12.4,\n    91.9 : 12.2,\n    92.0 : 12.0,\n    92.1 : 11.8,\n    92.2 : 11.6,\n    92.3 : 11.4,\n    92.4 : 11.2,\n    92.5 : 11.1,\n    92.6 : 10.9,\n    92.7 : 10.7,\n    92.8 : 10.6,\n    92.9 : 10.4,\n    93.0 : 10.2,\n    93.1 : 10.0,\n    93.2 : 9.8,\n    93.3 : 9.6,\n    93.4 : 9.4,\n    93.5 : 9.2,\n    93.6 : 9.0,\n    93.7 : 8.8,\n    93.8 : 8.6,\n    93.9 : 8.5,\n    94.0 : 8.3,\n    94.1 : 8.1,\n    94.2 : 8.0,\n    94.3 : 7.9,\n    94.4 : 7.7,\n    94.5 : 7.6,\n    94.6 : 7.4,\n    94.7 : 7.2,\n    94.8 : 7.0,\n    94.9 : 6.8,\n    95.0 : 6.6,\n    95.1 : 6.4,\n    95.2 : 6.3,\n    95.3 : 6.1,\n    95.4 : 6.0,\n    95.5 : 5.8,\n    95.6 : 5.7,\n    95.7 : 5.5,\n    95.8 : 5.4,\n    95.9 : 5.2,\n    96.0 : 5.0,\n    96.1 : 4.9,\n    96.2 : 4.8,\n    96.3 : 4.7,\n    96.4 : 4.6,\n    96.5 : 4.5,\n    96.6 : 4.4,\n    96.7 : 4.3,\n    96.8 : 4.1,\n    96.9 : 4.0,\n    97.0 : 3.9,\n    97.1 : 3.8,\n    97.2 : 3.6,\n    97.3 : 3.5,\n    97.4 : 3.3,\n    97.5 : 3.2,\n    97.6 : 3.0,\n    97.7 : 2.9,\n    97.8 : 2.8,\n    97.9 : 2.7,\n    98.0 : 2.6,\n    98.1 : 2.5,\n    98.2 : 2.3,\n    98.3 : 2.2,\n    98.4 : 2.1,\n    98.5 : 2.0,\n    98.6 : 1.8,\n    98.7 : 1.6,\n    98.8 : 1.5,\n    98.9 : 1.3,\n    99.0 : 1.2,\n    99.1 : 1.1,\n    99.2 : 1.0,\n    99.3 : 0.9,\n    99.4 : 0.8,\n    99.5 : 0.7,\n    99.6 : 0.7,\n    99.7 : 0.6,\n    99.8 : 0.4,\n    99.9 : 0.2,\n    100.0 : 0\n}\n\nmsg.payload = TempABV[msg.payload];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "d1ba94fa.ff6418"
            ]
        ]
    },
    {
        "id": "d1ba94fa.ff6418",
        "type": "switch",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "batch.initialABV",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "batch.initialABV",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "52fff614.9ed378"
            ],
            [
                "d40781e3.f8f05"
            ]
        ]
    },
    {
        "id": "8abda6f3.f1b288",
        "type": "link out",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "Charge ABV",
        "links": [
            "92e97b96.44e008"
        ],
        "x": 835,
        "y": 200,
        "wires": []
    },
    {
        "id": "52fff614.9ed378",
        "type": "change",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "Charge Threshold",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "batch.initialABV",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "8abda6f3.f1b288"
            ]
        ]
    },
    {
        "id": "a4b166fa.4202e8",
        "type": "link in",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "Charge temp to ABV",
        "links": [
            "4a276b53.46f1a4",
            "5a6db6cd.04e258"
        ],
        "x": 235,
        "y": 180,
        "wires": [
            [
                "22b973a3.a683ec"
            ]
        ]
    },
    {
        "id": "29f50dc0.4dd7a2",
        "type": "link out",
        "z": "42348d4c.8842e4",
        "g": "f21f712f.2f91f",
        "name": "Pot Vapor ABV",
        "links": [
            "8b179624.c01178"
        ],
        "x": 655,
        "y": 300,
        "wires": []
    },
    {
        "id": "456e4b91.0f5ea4",
        "type": "link in",
        "z": "42348d4c.8842e4",
        "g": "f21f712f.2f91f",
        "name": "Pot Vapor temp to ABV",
        "links": [
            "31e264e7.c06d6c",
            "f9070436.2fae68"
        ],
        "x": 235,
        "y": 300,
        "wires": [
            [
                "9e4cf7be.ff8898"
            ]
        ]
    },
    {
        "id": "86a0a5d4.f10a98",
        "type": "link out",
        "z": "42348d4c.8842e4",
        "g": "d4815586.f5b6d8",
        "name": "Product ABV",
        "links": [
            "d3152551.cd18f8"
        ],
        "x": 655,
        "y": 400,
        "wires": []
    },
    {
        "id": "eaf2c852.8d9cd8",
        "type": "link in",
        "z": "42348d4c.8842e4",
        "g": "d4815586.f5b6d8",
        "name": "Head Vapor temp to ABV",
        "links": [
            "d28df288.2914c",
            "921f2e4a.a31c4"
        ],
        "x": 235,
        "y": 400,
        "wires": [
            [
                "abf0f58f.996b38"
            ]
        ]
    },
    {
        "id": "abf0f58f.996b38",
        "type": "function",
        "z": "42348d4c.8842e4",
        "g": "d4815586.f5b6d8",
        "name": "VaporTempABV",
        "func": "TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 400,
        "wires": [
            [
                "adaedfb6.37007"
            ]
        ]
    },
    {
        "id": "9e4cf7be.ff8898",
        "type": "function",
        "z": "42348d4c.8842e4",
        "g": "f21f712f.2f91f",
        "name": "VaporTempABV",
        "func": "TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "6f4339cb.766f18"
            ]
        ]
    },
    {
        "id": "d40781e3.f8f05",
        "type": "change",
        "z": "42348d4c.8842e4",
        "g": "b906ad3f.782f2",
        "name": "Charge ABV",
        "rules": [
            {
                "t": "set",
                "p": "charge.ABV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 200,
        "wires": [
            [
                "8abda6f3.f1b288"
            ]
        ]
    },
    {
        "id": "6f4339cb.766f18",
        "type": "change",
        "z": "42348d4c.8842e4",
        "g": "f21f712f.2f91f",
        "name": "Pot Vapor ABV",
        "rules": [
            {
                "t": "set",
                "p": "pot_vapor.ABV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "29f50dc0.4dd7a2"
            ]
        ]
    },
    {
        "id": "adaedfb6.37007",
        "type": "change",
        "z": "42348d4c.8842e4",
        "g": "d4815586.f5b6d8",
        "name": "Product ABV",
        "rules": [
            {
                "t": "set",
                "p": "head_vapor.ABV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "product.ABV",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "86a0a5d4.f10a98"
            ]
        ]
    },
    {
        "id": "6959fd65.824da4",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "3664e4b.5830a9c",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "Inner PID Integrator",
        "label": "Integral",
        "format": "{{inner_integrator | number:1}}Cs",
        "layout": "col-center",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "82bb6b69.545438",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "3664e4b.5830a9c",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "Inner PID Error",
        "label": "Error",
        "format": "{{last_inner_error | number:1}}C",
        "layout": "col-center",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "ca5edcf.817632",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "3664e4b.5830a9c",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "Inner PID Derivative",
        "label": "Derivative",
        "format": "{{inner_derivative | number:1}}C/s",
        "layout": "col-center",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "24305f55.390d9",
        "type": "link in",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "name": "Cascade PID display",
        "links": [
            "c7fd46a9.2d4938"
        ],
        "x": 315,
        "y": 160,
        "wires": [
            [
                "6959fd65.824da4",
                "ca5edcf.817632",
                "82bb6b69.545438",
                "8d062d4d.cb029",
                "fee8389f.e00c58",
                "69e2d634.b01188",
                "9c029db.3f8166",
                "d733ef6e.4b0d3"
            ]
        ]
    },
    {
        "id": "e64d0b9d.cb0d78",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "76b16084.a6726",
        "group": "f04603e8.50a4f",
        "order": 3,
        "width": 2,
        "height": 1,
        "name": "PID Integrator",
        "label": "Integral",
        "format": "{{integrator | number:1}}Cs",
        "layout": "col-center",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "9d14d4bf.36ae08",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "76b16084.a6726",
        "group": "f04603e8.50a4f",
        "order": 1,
        "width": 2,
        "height": 1,
        "name": "PID Error",
        "label": "Error",
        "format": "{{last_error | number:1}}C",
        "layout": "col-center",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "64451e3e.d5b4",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "76b16084.a6726",
        "group": "f04603e8.50a4f",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "PID Derivative",
        "label": "Derivative",
        "format": "{{derivative | number:1}}C/s",
        "layout": "col-center",
        "x": 920,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5420458.5222c8",
        "type": "link in",
        "z": "ac37513e.c82fa",
        "g": "76b16084.a6726",
        "name": "PID",
        "links": [],
        "x": 735,
        "y": 100,
        "wires": [
            [
                "e64d0b9d.cb0d78",
                "64451e3e.d5b4",
                "9d14d4bf.36ae08"
            ]
        ]
    },
    {
        "id": "fee8389f.e00c58",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "321aaa6a.377d5e",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "Outer PID Integrator",
        "label": "Integral",
        "format": "{{outer_integrator | number:1}}Cs",
        "layout": "col-center",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "8d062d4d.cb029",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "321aaa6a.377d5e",
        "order": 4,
        "width": 2,
        "height": 1,
        "name": "Outer PID Error",
        "label": "Error",
        "format": "{{last_outer_error | number:1}}C",
        "layout": "col-center",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "69e2d634.b01188",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "321aaa6a.377d5e",
        "order": 8,
        "width": 2,
        "height": 1,
        "name": "Outer PID Derivative",
        "label": "Derivative",
        "format": "{{outer_derivative | number:1}}C/s",
        "layout": "col-center",
        "x": 520,
        "y": 260,
        "wires": []
    },
    {
        "id": "9c029db.3f8166",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "3664e4b.5830a9c",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Inner Target",
        "label": "Target",
        "format": "{{inner_target | number:1}}C",
        "layout": "col-center",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "d733ef6e.4b0d3",
        "type": "ui_text",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "group": "321aaa6a.377d5e",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "Outer Output",
        "label": "Output",
        "format": "{{outer_output | number:1}}C",
        "layout": "col-center",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "f6602a51.30a728",
        "type": "link in",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "name": "",
        "links": [
            "64f4ecd7.223dac",
            "dc214905.b71a98"
        ],
        "x": 75,
        "y": 280,
        "wires": [
            [
                "a211d906.e20778"
            ]
        ]
    },
    {
        "id": "a211d906.e20778",
        "type": "change",
        "z": "ac37513e.c82fa",
        "g": "8ee4f9c8.3313b8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inner_target",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "9c029db.3f8166"
            ]
        ]
    },
    {
        "id": "1cd6fc92.3174a3",
        "type": "inject",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "Initial Depleg Delta",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0.5",
        "payloadType": "num",
        "x": 170,
        "y": 440,
        "wires": [
            [
                "db9b70ca.dc79"
            ]
        ]
    },
    {
        "id": "db9b70ca.dc79",
        "type": "change",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "set global.dephleg.delta",
        "rules": [
            {
                "t": "set",
                "p": "dephleg.delta",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 460,
        "wires": [
            [
                "e4e52c19.21bf9"
            ]
        ]
    },
    {
        "id": "a5469cc4.719f7",
        "type": "ui_numeric",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "",
        "label": "Depleg Delta",
        "tooltip": "",
        "group": "50b35c82.f9a6f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": ".1",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "db9b70ca.dc79"
            ]
        ]
    },
    {
        "id": "e4e52c19.21bf9",
        "type": "link out",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "Dephleg Delta",
        "links": [
            "9596512c.645b3"
        ],
        "x": 585,
        "y": 460,
        "wires": []
    },
    {
        "id": "5d1c8794.a76548",
        "type": "ui_button",
        "z": "ac37513e.c82fa",
        "g": "ba5b12d5.b6d31",
        "name": "",
        "group": "50b35c82.f9a6f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Dashboard",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Distilling",
        "payloadType": "str",
        "topic": "",
        "x": 790,
        "y": 260,
        "wires": [
            [
                "e096acb2.fe20f"
            ]
        ]
    },
    {
        "id": "e096acb2.fe20f",
        "type": "ui_ui_control",
        "z": "ac37513e.c82fa",
        "g": "ba5b12d5.b6d31",
        "name": "",
        "events": "all",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "40879b.d2ec7864",
        "type": "change",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "jacket.limit",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ac3baae6.f965c8",
        "type": "inject",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "Initial Jacket Limit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "40879b.d2ec7864",
                "f1bc52bb.9c975"
            ]
        ]
    },
    {
        "id": "f1bc52bb.9c975",
        "type": "ui_numeric",
        "z": "ac37513e.c82fa",
        "g": "9a3170ae.1c97b",
        "name": "",
        "label": "Jacket Temp Limit",
        "tooltip": "",
        "group": "50b35c82.f9a6f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": ".5",
        "x": 170,
        "y": 560,
        "wires": [
            [
                "40879b.d2ec7864"
            ]
        ]
    },
    {
        "id": "a11f04da.5fe3c8",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.misc.volume",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8e5ecd3e.4fd2b",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.fients.abv",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8c4c4746.8ee5f8",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.fients.volume",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1d865640.0c347a",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.charge.abv",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "767e71cf.f1d23",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.charge.volume",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d85c2d67.7022b",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "batch.name",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c8d7face.230a88",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Water/Misc Volume",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "a11f04da.5fe3c8"
            ]
        ]
    },
    {
        "id": "e7fb19ee.f99148",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Fients ABV",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 350,
        "y": 240,
        "wires": [
            [
                "8e5ecd3e.4fd2b"
            ]
        ]
    },
    {
        "id": "def8c3e3.c9761",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Fients Volume",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "8c4c4746.8ee5f8"
            ]
        ]
    },
    {
        "id": "967d815f.66124",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Charge ABV",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 350,
        "y": 160,
        "wires": [
            [
                "1d865640.0c347a"
            ]
        ]
    },
    {
        "id": "3a2c10e6.18c06",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Charge Volume",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "767e71cf.f1d23"
            ]
        ]
    },
    {
        "id": "3953932a.cb55cc",
        "type": "ui_text_input",
        "z": "63b32048.ef223",
        "g": "da56fb51.df5078",
        "name": "",
        "label": "Batch Name",
        "tooltip": "",
        "group": "9f19d793.eac5f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "d85c2d67.7022b"
            ]
        ]
    },
    {
        "id": "7c2dcd83.d342e4",
        "type": "ui_ui_control",
        "z": "63b32048.ef223",
        "g": "9a9ceeec.9e745",
        "name": "",
        "events": "connect",
        "x": 760,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "78c86cbc.f7ef44",
        "type": "ui_dropdown",
        "z": "63b32048.ef223",
        "g": "e5fb337f.cc9ed",
        "name": "",
        "label": "Sensor Selection",
        "tooltip": "",
        "place": "Select option",
        "group": "40070099.65227",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ds18b20",
                "value": "ds18b20",
                "type": "str"
            },
            {
                "label": "RTD - Sequent Microsystems",
                "value": "RTD - Sequent Microsystems",
                "type": "str"
            },
            {
                "label": "RTD - MAX31865",
                "value": "RTD - MAX31865",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 370,
        "y": 460,
        "wires": [
            [
                "e2194d80.3799f"
            ]
        ]
    },
    {
        "id": "e2194d80.3799f",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "e5fb337f.cc9ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "equipment.sensor",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c3515cb3.3d105",
        "type": "ui_button",
        "z": "63b32048.ef223",
        "g": "9a9ceeec.9e745",
        "name": "",
        "group": "40070099.65227",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Let's get started!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Distilling",
        "payloadType": "str",
        "topic": "",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "7db6aaba.7f9f84"
            ]
        ]
    },
    {
        "id": "7db6aaba.7f9f84",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "9a9ceeec.9e745",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Distilling",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 620,
        "wires": [
            [
                "7c2dcd83.d342e4"
            ]
        ]
    },
    {
        "id": "8e6b3e61.8ac2c",
        "type": "inject",
        "z": "63b32048.ef223",
        "name": "Clear selections",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "3953932a.cb55cc",
                "3a2c10e6.18c06",
                "967d815f.66124",
                "def8c3e3.c9761",
                "e7fb19ee.f99148",
                "c8d7face.230a88",
                "78c86cbc.f7ef44",
                "4a206c88.39dc84"
            ]
        ]
    },
    {
        "id": "283c70da.5e312",
        "type": "change",
        "z": "63b32048.ef223",
        "g": "e5fb337f.cc9ed",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "equipment.heating",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "4a206c88.39dc84",
        "type": "ui_dropdown",
        "z": "63b32048.ef223",
        "g": "e5fb337f.cc9ed",
        "name": "",
        "label": "Heating",
        "tooltip": "",
        "place": "Select option",
        "group": "40070099.65227",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Jacketed",
                "value": "jacketed",
                "type": "str"
            },
            {
                "label": "Direct Fire",
                "value": "direct",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 340,
        "y": 420,
        "wires": [
            [
                "283c70da.5e312"
            ]
        ]
    },
    {
        "id": "24ba3e57.debe72",
        "type": "html",
        "z": "63b32048.ef223",
        "name": "",
        "property": "payload",
        "outproperty": "payload",
        "tag": "",
        "ret": "html",
        "as": "single",
        "x": 440,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "466e234.dfea6dc",
        "type": "ui_template",
        "z": "63b32048.ef223",
        "group": "7d6d2c09.222214",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\">\n    <script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function() { return value; }\n</script>\n<md-button ng-click=\"send({payload:action()})\">\n    Click me to send a hello world\n</md-button>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "7103d73f.e9b578",
        "type": "uibuilder",
        "z": "63b32048.ef223",
        "name": "",
        "topic": "",
        "url": "uibuilder",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "x": 620,
        "y": 740,
        "wires": [
            [
                "62dedc44.33b984"
            ],
            []
        ]
    },
    {
        "id": "62dedc44.33b984",
        "type": "debug",
        "z": "63b32048.ef223",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 760,
        "wires": []
    }
]