Distillery Temps.json
[{"id":"bf8a72d.780759","type":"tab","label":"Distillery Temps","disabled":false,"info":""},{"id":"98b213c3.5e563","type":"inject","z":"bf8a72d.780759","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":380,"wires":[["6e701c85.1b4b04","250556d8.f186ea","e473655e.27a1f8","b694f76e.a3d898","533e0288.169cbc"]]},{"id":"5d19ac5e.bb7c74","type":"smooth","z":"bf8a72d.780759","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":600,"y":160,"wires":[["248f68fc.83ec88"]]},{"id":"ddd60831.df3758","type":"link out","z":"bf8a72d.780759","name":"Jacket calibrated temp","links":["85dbbc7.185df4"],"x":555,"y":80,"wires":[]},{"id":"1f669c65.990fe4","type":"link out","z":"bf8a72d.780759","name":"charge calibrated temperature","links":["f1d998e3.0c56d8"],"x":555,"y":220,"wires":[]},{"id":"318fddbc.d98f72","type":"smooth","z":"bf8a72d.780759","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":600,"y":300,"wires":[["bb9c0ec0.9bd82"]]},{"id":"a764228c.d62de","type":"link out","z":"bf8a72d.780759","name":"pot vapor calibrated temperature","links":["99efbbed.1a9d98"],"x":555,"y":340,"wires":[]},{"id":"5fb15a9a.b1d4d4","type":"smooth","z":"bf8a72d.780759","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":600,"y":420,"wires":[["c8132ffd.a837e"]]},{"id":"6e701c85.1b4b04","type":"sensor-ds18b20","z":"bf8a72d.780759","name":"Jacket temp","topic":"","sensorid":"00-713c00000000","timer":"2","repeat":false,"x":370,"y":120,"wires":[["ddd60831.df3758","24fafe0c.6d0dc2","5d19ac5e.bb7c74"]]},{"id":"250556d8.f186ea","type":"sensor-ds18b20","z":"bf8a72d.780759","name":"Charge temp","topic":"","sensorid":"00-f13c00000000","timer":"2","repeat":false,"x":370,"y":260,"wires":[["1f669c65.990fe4","3576afe2.88414","318fddbc.d98f72"]]},{"id":"e473655e.27a1f8","type":"sensor-ds18b20","z":"bf8a72d.780759","name":"Pot Vapor temp","topic":"","sensorid":"00-093c00000000","timer":"2","repeat":false,"x":380,"y":380,"wires":[["a764228c.d62de","ddfdc9b9.1046c8","5fb15a9a.b1d4d4"]]},{"id":"b0916487.190c08","type":"link out","z":"bf8a72d.780759","name":"depleg calibrated temperature","links":["99efbbed.1a9d98"],"x":555,"y":480,"wires":[]},{"id":"34806f76.8d3bb","type":"smooth","z":"bf8a72d.780759","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":600,"y":560,"wires":[["7aaa59d2.931158"]]},{"id":"b694f76e.a3d898","type":"sensor-ds18b20","z":"bf8a72d.780759","name":"Defleg temp","topic":"","sensorid":"00-093c00000000","timer":"2","repeat":false,"x":370,"y":520,"wires":[["b0916487.190c08","66d5c2e2.415a8c","34806f76.8d3bb"]]},{"id":"c1c47a67.978c08","type":"link out","z":"bf8a72d.780759","name":"head vapor calibrated temperature","links":["99efbbed.1a9d98"],"x":575,"y":620,"wires":[]},{"id":"ecacda2c.3afc58","type":"smooth","z":"bf8a72d.780759","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":620,"y":700,"wires":[["e64af20e.1405d"]]},{"id":"533e0288.169cbc","type":"sensor-ds18b20","z":"bf8a72d.780759","name":"Head Vapor temp","topic":"","sensorid":"00-893c00000000","timer":"2","repeat":false,"x":390,"y":660,"wires":[["c1c47a67.978c08","f0f96cbb.b0c7b","ecacda2c.3afc58"]]},{"id":"24fafe0c.6d0dc2","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"jacket.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[[]]},{"id":"26607619.d622ca","type":"link out","z":"bf8a72d.780759","name":"Jacket Temp","links":["ee9e83c1.63cc4"],"x":875,"y":160,"wires":[]},{"id":"ba59e38e.b6aec","type":"link out","z":"bf8a72d.780759","name":"Charge Temp","links":["4813c991.453bb8"],"x":875,"y":300,"wires":[]},{"id":"3576afe2.88414","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"charge.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[[]]},{"id":"ddfdc9b9.1046c8","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"pot_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":380,"wires":[[]]},{"id":"66d5c2e2.415a8c","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"dephleg.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":520,"wires":[[]]},{"id":"f0f96cbb.b0c7b","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"head_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":660,"wires":[[]]},{"id":"3876e625.29cd6a","type":"link out","z":"bf8a72d.780759","name":"Pot_Vapor temp","links":["57f2df9e.4d454"],"x":875,"y":420,"wires":[]},{"id":"399458e1.0033c8","type":"link out","z":"bf8a72d.780759","name":"Dephleg temp","links":["5ea8f5d1.fd971c","66d5f7bc.90e308","afeff59.6b03208"],"x":875,"y":560,"wires":[]},{"id":"195ab73.cf70249","type":"link out","z":"bf8a72d.780759","name":"Head Vapor Temp","links":["c6deb5b2.5f0928"],"x":875,"y":700,"wires":[]},{"id":"248f68fc.83ec88","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Jacket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":160,"wires":[["26607619.d622ca"]]},{"id":"bb9c0ec0.9bd82","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["ba59e38e.b6aec"]]},{"id":"c8132ffd.a837e","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pot Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["3876e625.29cd6a"]]},{"id":"7aaa59d2.931158","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Depleg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":560,"wires":[["399458e1.0033c8"]]},{"id":"e64af20e.1405d","type":"change","z":"bf8a72d.780759","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Head Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":700,"wires":[["195ab73.cf70249"]]}]