Development/Flows/flows/Dephleg Control.json
[{"id":"aa302b94.cd9608","type":"tab","label":"Dephleg Control","disabled":false,"info":"This flow is a basic dephlegmator control. It works by running all the water to the dephlegmator when the temp is too hot. When it is within a certain range, it will split the flow between the dephlegmator and the bypass to slightly lessen the flow. When the temp is too cool, it will shut off the dephleg completely to warm it back up."},{"id":"c2d254f4.f48c68","type":"group","z":"aa302b94.cd9608","name":"Dephleg Parameters","style":{"label":true},"nodes":["66d5f7bc.90e308","9c094d41.16fba","23f05c6f.3214a4","51ff31e8.7b155","2e7d40b0.08277","6f157f99.b19c5","82515242.f5b0f"],"x":74,"y":39,"w":342,"h":222},{"id":"f449b9fb.fa21e8","type":"group","z":"aa302b94.cd9608","name":"Dephleg Control","style":{"label":true},"nodes":["867c590d.0752a8","3b7d6616.fb116a","644b0dc4.c735e4","3ae706bf.ab4dca","46e6f9d8.83f5e8"],"x":74,"y":279,"w":782,"h":202},{"id":"66d5f7bc.90e308","type":"link in","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Dephleg Temp","links":["399458e1.0033c8"],"x":115,"y":180,"wires":[["6f157f99.b19c5"]]},{"id":"9c094d41.16fba","type":"link in","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Max Delta Temp","links":["ca92425d.77b8"],"x":115,"y":220,"wires":[["82515242.f5b0f"]]},{"id":"23f05c6f.3214a4","type":"inject","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Dephleg Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":220,"y":80,"wires":[["2e7d40b0.08277"]]},{"id":"51ff31e8.7b155","type":"link out","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Dephleg Target","links":["94cf49d2.757938"],"x":375,"y":120,"wires":[]},{"id":"2e7d40b0.08277","type":"change","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"set global.dephleg.target","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":120,"wires":[["51ff31e8.7b155"]]},{"id":"6f157f99.b19c5","type":"change","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Depleg temp","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":180,"wires":[[]]},{"id":"82515242.f5b0f","type":"change","z":"aa302b94.cd9608","g":"c2d254f4.f48c68","name":"Depleg delta","rules":[{"t":"set","p":"delta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[[]]},{"id":"867c590d.0752a8","type":"function","z":"aa302b94.cd9608","g":"f449b9fb.fa21e8","name":"Basic On-Off","func":"temp = flow.get(\"temp\");\ntarget = flow.get(\"target\");\ndelta = flow.get(\"delta\");\nvar bypass = {payload: 0}; \nvar deplag = {payload: 0};\n\nif (temp >= (target + delta)) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp >= target) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp < target && temp >= (target - delta)) {\n    bypass.payload = 1;\n    deplag.payload = 0;\n} else {\n    bypass.payload = 1;\n    deplag.payload = 1;\n}\n\nreturn [bypass, deplag];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":210,"y":380,"wires":[["644b0dc4.c735e4"],["3ae706bf.ab4dca"]],"outputLabels":["Bypass","Dephleg"]},{"id":"3b7d6616.fb116a","type":"inject","z":"aa302b94.cd9608","g":"f449b9fb.fa21e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":320,"wires":[["867c590d.0752a8"]]},{"id":"644b0dc4.c735e4","type":"exec","z":"aa302b94.cd9608","g":"f449b9fb.fa21e8","command":"4relay 0 write","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bypass valve relay","x":510,"y":340,"wires":[[],["46e6f9d8.83f5e8"],[]]},{"id":"3ae706bf.ab4dca","type":"exec","z":"aa302b94.cd9608","g":"f449b9fb.fa21e8","command":"4relay 1 write","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Dephleg valve relay","x":510,"y":420,"wires":[[],["46e6f9d8.83f5e8"],[]]},{"id":"46e6f9d8.83f5e8","type":"debug","z":"aa302b94.cd9608","g":"f449b9fb.fa21e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]}]