Development/Flows/flows/Distillery Temps.json
[{"id":"bf8a72d.780759","type":"tab","label":"Distillery Temps","disabled":false,"info":"These are the tempature inputs for the system. Currently there are three options. There are DS18B20 sensors and RTD sensors. The Sequent Microsystems RTD uses their Raspberry Pi hat to collect RTD signals."},{"id":"62ddf792.853598","type":"group","z":"bf8a72d.780759","name":"Sensor Selection","style":{"label":true},"nodes":["98b213c3.5e563","47d22f06.ab3f8","f50985c4.11e928","7d6fb46d.6ef61c","c20a9c24.8d04c"],"x":74,"y":19,"w":542,"h":162},{"id":"680e4b13.489204","type":"group","z":"bf8a72d.780759","name":"Jacket Temp","style":{"label":true},"nodes":["5d19ac5e.bb7c74","24fafe0c.6d0dc2","26607619.d622ca","248f68fc.83ec88","d486bed4.c8ddf"],"x":694,"y":19,"w":462,"h":122},{"id":"820b3a6f.7d4bf8","type":"group","z":"bf8a72d.780759","name":"Charge Temp","style":{"label":true},"nodes":["318fddbc.d98f72","ba59e38e.b6aec","3576afe2.88414","bb9c0ec0.9bd82","7525e55e.29aa8c"],"x":694,"y":159,"w":462,"h":122},{"id":"83fd4423.db9448","type":"group","z":"bf8a72d.780759","name":"Dephleg Temp","style":{"label":true},"nodes":["34806f76.8d3bb","66d5c2e2.415a8c","399458e1.0033c8","7aaa59d2.931158","40b8ca3b.d19d14"],"x":694,"y":439,"w":462,"h":122},{"id":"846cfae3.a58b68","type":"group","z":"bf8a72d.780759","name":"RTD - MAX31865","style":{"label":true},"nodes":["60f4e9.6aa6eb18","20a1977f.4c06d8","15452978.20a4a7","d0997c97.73722","46d06706.d1d008","5d816503.c02ebc","8293bd59.9fcc4","5fa1890b.25d828","e301907c.8493b","c80504e9.8282d8","832d5d75.df1c5"],"x":154,"y":719,"w":382,"h":242},{"id":"8571ed47.189fe","type":"group","z":"bf8a72d.780759","name":"DS18B20 Sensors","style":{"label":true},"nodes":["6e701c85.1b4b04","250556d8.f186ea","e473655e.27a1f8","b694f76e.a3d898","533e0288.169cbc","eeba3dd2.57219","df5d9768.4f7848","d067b650.4f0a88","f4fa518a.f3477","37fda1c8.8d896e","e11c1adc.6f4c58"],"x":154,"y":199,"w":382,"h":242},{"id":"96e2c541.670608","type":"group","z":"bf8a72d.780759","name":"Head Vapor Temp","style":{"label":true},"nodes":["ecacda2c.3afc58","f0f96cbb.b0c7b","195ab73.cf70249","e64af20e.1405d","5b156042.6fb2a"],"x":694,"y":579,"w":462,"h":122},{"id":"abbb9e71.5c066","type":"group","z":"bf8a72d.780759","name":"RTD - Sequent Microsystems","style":{"label":true},"nodes":["76d43b9d.1a55d4","90e4989.d864168","c30b100.c8fd7f","816df909.2497c8","f52a1cd.1e5cbe","6dbadaee.0cf744","507231c4.53a4a","67163431.da8a2c","bbccda6b.f40168","9764455b.c423f8","8a3ce6d1.82f708"],"x":154,"y":459,"w":382,"h":242},{"id":"c59fe98.7ce2318","type":"group","z":"bf8a72d.780759","name":"Pot Vapor Temp","style":{"label":true},"nodes":["5fb15a9a.b1d4d4","ddfdc9b9.1046c8","3876e625.29cd6a","c8132ffd.a837e","96214383.8888e"],"x":694,"y":299,"w":462,"h":122},{"id":"7d6fb46d.6ef61c","type":"link out","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","links":["8a3ce6d1.82f708","337edde0.421592"],"x":575,"y":100,"wires":[]},{"id":"f50985c4.11e928","type":"link out","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","links":["e11c1adc.6f4c58"],"x":575,"y":60,"wires":[]},{"id":"47d22f06.ab3f8","type":"switch","z":"bf8a72d.780759","g":"62ddf792.853598","name":"Sensor Type Selection","property":"batch.sensor","propertyType":"global","rules":[{"t":"eq","v":"ds18b20","vt":"str"},{"t":"eq","v":"RTD - Sequent Microsystems","vt":"str"},{"t":"eq","v":"RTD - MAX31865","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":100,"wires":[["f50985c4.11e928"],["7d6fb46d.6ef61c"],["c20a9c24.8d04c"]]},{"id":"8a3ce6d1.82f708","type":"link in","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["7d6fb46d.6ef61c"],"x":195,"y":580,"wires":[["90e4989.d864168","c30b100.c8fd7f","816df909.2497c8","76d43b9d.1a55d4","f52a1cd.1e5cbe"]]},{"id":"e11c1adc.6f4c58","type":"link in","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["f50985c4.11e928"],"x":195,"y":320,"wires":[["6e701c85.1b4b04","250556d8.f186ea","e473655e.27a1f8","b694f76e.a3d898","533e0288.169cbc"]]},{"id":"9764455b.c423f8","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["5b156042.6fb2a"],"x":495,"y":660,"wires":[]},{"id":"bbccda6b.f40168","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["40b8ca3b.d19d14"],"x":495,"y":620,"wires":[]},{"id":"37fda1c8.8d896e","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["5b156042.6fb2a"],"x":495,"y":400,"wires":[]},{"id":"5b156042.6fb2a","type":"link in","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","links":["37fda1c8.8d896e","9764455b.c423f8","c80504e9.8282d8"],"x":735,"y":640,"wires":[["f0f96cbb.b0c7b","ecacda2c.3afc58"]]},{"id":"f4fa518a.f3477","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["40b8ca3b.d19d14"],"x":495,"y":360,"wires":[]},{"id":"40b8ca3b.d19d14","type":"link in","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","links":["f4fa518a.f3477","bbccda6b.f40168","5d816503.c02ebc"],"x":735,"y":500,"wires":[["66d5c2e2.415a8c","34806f76.8d3bb"]]},{"id":"67163431.da8a2c","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["96214383.8888e"],"x":495,"y":580,"wires":[]},{"id":"d067b650.4f0a88","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["96214383.8888e"],"x":495,"y":320,"wires":[]},{"id":"96214383.8888e","type":"link in","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","links":["d067b650.4f0a88","67163431.da8a2c","e301907c.8493b"],"x":735,"y":360,"wires":[["ddfdc9b9.1046c8","5fb15a9a.b1d4d4"]]},{"id":"507231c4.53a4a","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["7525e55e.29aa8c"],"x":495,"y":540,"wires":[]},{"id":"7525e55e.29aa8c","type":"link in","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","links":["df5d9768.4f7848","507231c4.53a4a","5fa1890b.25d828"],"x":735,"y":220,"wires":[["3576afe2.88414","318fddbc.d98f72"]]},{"id":"df5d9768.4f7848","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["7525e55e.29aa8c"],"x":495,"y":280,"wires":[]},{"id":"6dbadaee.0cf744","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["d486bed4.c8ddf"],"x":495,"y":500,"wires":[]},{"id":"eeba3dd2.57219","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["d486bed4.c8ddf"],"x":495,"y":240,"wires":[]},{"id":"d486bed4.c8ddf","type":"link in","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","links":["eeba3dd2.57219","6dbadaee.0cf744","8293bd59.9fcc4"],"x":735,"y":80,"wires":[["24fafe0c.6d0dc2","5d19ac5e.bb7c74"]]},{"id":"f52a1cd.1e5cbe","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Head Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":370,"y":660,"wires":[["9764455b.c423f8"]]},{"id":"816df909.2497c8","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Pot Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":580,"wires":[["67163431.da8a2c"]]},{"id":"c30b100.c8fd7f","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Charge Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":540,"wires":[["507231c4.53a4a"]]},{"id":"90e4989.d864168","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Jacket Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":350,"y":500,"wires":[["6dbadaee.0cf744"]]},{"id":"76d43b9d.1a55d4","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Dephleg Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":620,"wires":[["bbccda6b.f40168"]]},{"id":"e64af20e.1405d","type":"change","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Head Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["195ab73.cf70249"]]},{"id":"7aaa59d2.931158","type":"change","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Depleg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["399458e1.0033c8"]]},{"id":"c8132ffd.a837e","type":"change","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pot Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":380,"wires":[["3876e625.29cd6a"]]},{"id":"bb9c0ec0.9bd82","type":"change","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["ba59e38e.b6aec"]]},{"id":"248f68fc.83ec88","type":"change","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Jacket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[["26607619.d622ca"]]},{"id":"195ab73.cf70249","type":"link out","z":"bf8a72d.780759","g":"96e2c541.670608","name":"Head Vapor Temp","links":["c6deb5b2.5f0928"],"x":1115,"y":660,"wires":[]},{"id":"399458e1.0033c8","type":"link out","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"Dephleg temp","links":["5ea8f5d1.fd971c","66d5f7bc.90e308","afeff59.6b03208"],"x":1115,"y":520,"wires":[]},{"id":"3876e625.29cd6a","type":"link out","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"Pot_Vapor temp","links":["57f2df9e.4d454"],"x":1115,"y":380,"wires":[]},{"id":"f0f96cbb.b0c7b","type":"change","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","rules":[{"t":"set","p":"head_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[[]]},{"id":"66d5c2e2.415a8c","type":"change","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","rules":[{"t":"set","p":"dephleg.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":480,"wires":[[]]},{"id":"ddfdc9b9.1046c8","type":"change","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","rules":[{"t":"set","p":"pot_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":340,"wires":[[]]},{"id":"3576afe2.88414","type":"change","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","rules":[{"t":"set","p":"charge.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[[]]},{"id":"ba59e38e.b6aec","type":"link out","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"Charge Temp","links":["4813c991.453bb8"],"x":1115,"y":240,"wires":[]},{"id":"26607619.d622ca","type":"link out","z":"bf8a72d.780759","g":"680e4b13.489204","name":"Jacket Temp","links":["ee9e83c1.63cc4"],"x":1115,"y":100,"wires":[]},{"id":"24fafe0c.6d0dc2","type":"change","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","rules":[{"t":"set","p":"jacket.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":60,"wires":[[]]},{"id":"533e0288.169cbc","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Head Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":370,"y":400,"wires":[["37fda1c8.8d896e"]]},{"id":"ecacda2c.3afc58","type":"smooth","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":660,"wires":[["e64af20e.1405d"]]},{"id":"b694f76e.a3d898","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Dephleg temp","topic":"","sensorid":"00-240000000000","timer":"1","repeat":false,"x":360,"y":360,"wires":[["f4fa518a.f3477"]]},{"id":"34806f76.8d3bb","type":"smooth","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":520,"wires":[["7aaa59d2.931158"]]},{"id":"e473655e.27a1f8","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Pot Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":360,"y":320,"wires":[["d067b650.4f0a88"]]},{"id":"250556d8.f186ea","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Charge temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":280,"wires":[["df5d9768.4f7848"]]},{"id":"6e701c85.1b4b04","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Jacket temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":240,"wires":[["eeba3dd2.57219"]]},{"id":"5fb15a9a.b1d4d4","type":"smooth","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":380,"wires":[["c8132ffd.a837e"]]},{"id":"318fddbc.d98f72","type":"smooth","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":240,"wires":[["bb9c0ec0.9bd82"]]},{"id":"5d19ac5e.bb7c74","type":"smooth","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":100,"wires":[["248f68fc.83ec88"]]},{"id":"98b213c3.5e563","type":"inject","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["47d22f06.ab3f8"]]},{"id":"60f4e9.6aa6eb18","type":"pimax31865","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"Jacket Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":350,"y":760,"wires":[["8293bd59.9fcc4"]]},{"id":"20a1977f.4c06d8","type":"pimax31865","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"Charge Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":800,"wires":[["5fa1890b.25d828"]]},{"id":"15452978.20a4a7","type":"pimax31865","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"Pot Vapor Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":840,"wires":[["e301907c.8493b"]]},{"id":"d0997c97.73722","type":"pimax31865","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"Dephleg Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":880,"wires":[["5d816503.c02ebc"]]},{"id":"46d06706.d1d008","type":"pimax31865","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"Head Vapor Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":370,"y":920,"wires":[["c80504e9.8282d8"]]},{"id":"5d816503.c02ebc","type":"link out","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["40b8ca3b.d19d14"],"x":495,"y":880,"wires":[]},{"id":"8293bd59.9fcc4","type":"link out","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["d486bed4.c8ddf"],"x":495,"y":760,"wires":[]},{"id":"5fa1890b.25d828","type":"link out","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["7525e55e.29aa8c"],"x":495,"y":800,"wires":[]},{"id":"e301907c.8493b","type":"link out","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["96214383.8888e"],"x":495,"y":840,"wires":[]},{"id":"c80504e9.8282d8","type":"link out","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["5b156042.6fb2a"],"x":495,"y":920,"wires":[]},{"id":"832d5d75.df1c5","type":"link in","z":"bf8a72d.780759","g":"846cfae3.a58b68","name":"","links":["c20a9c24.8d04c"],"x":195,"y":840,"wires":[["60f4e9.6aa6eb18","20a1977f.4c06d8","15452978.20a4a7","d0997c97.73722","46d06706.d1d008"]]},{"id":"c20a9c24.8d04c","type":"link out","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","links":["832d5d75.df1c5"],"x":575,"y":140,"wires":[]}]