Development/Flows/flows/Distillery UI.json
[{"id":"5b1407f1.d96848","type":"tab","label":"Distilling UI","disabled":false,"info":"This is the current basic UI for the system. It is where all the tempatures and ABV are outputted and where you input your basic controls for the system."},{"id":"143196c2.1b5009","type":"group","z":"5b1407f1.d96848","name":"Input Temps","style":{"label":true},"nodes":["24b3fef4.97fe12","732315b.0648cec","5f33e368.0d780c","ee9e83c1.63cc4","4813c991.453bb8","95790b99.012848","cb6fff6f.eb696"],"x":14,"y":499,"w":312,"h":202},{"id":"6bdf1452.902d6c","type":"group","z":"5b1407f1.d96848","name":"Manual Control","style":{"label":true},"nodes":["b82eeaf0.aaace8","adad6dc1.77551","5eeb0004.db091","822e43c1.258ba","b69d0e73.189b4","a447e26e.5e103","9b49428b.33492","6b911d1.7bad3e4","4c1e82ae.dd6e4c","47d1cf7f.fab","ca0bf04c.3917c","44fe6c8c.ea2ee4","9b7e42cc.1522e"],"x":14,"y":299,"w":842,"h":182},{"id":"784785c5.17959c","type":"group","z":"5b1407f1.d96848","name":"Output Temps","style":{"label":true},"nodes":["c8458870.a0f788","8b90cf18.96df9","82e750b3.0d3bb","57f2df9e.4d454","5d4c0256.ba729c","afeff59.6b03208","c6deb5b2.5f0928","49c701a0.f99fc","a591d336.3a884"],"x":14,"y":719,"w":332,"h":282},{"id":"79c146c.bcabbb8","type":"group","z":"5b1407f1.d96848","name":"PID Control","style":{"label":true},"nodes":["97fa3725.7281a8","5630d3da.c06a9c","bdcad8ed.432768","3f494aa3.2f0ce6","c779bb5e.1bd528","c6108f20.a43d1"],"x":14,"y":119,"w":642,"h":122},{"id":"a43aa52d.fbf398","type":"group","z":"5b1407f1.d96848","name":"Kill Switch","style":{"label":true},"nodes":["86a35da0.f143c","3d1eb310.2f910c","e47449fe.938f68","6d0346f4.90d3b8","f148f968.8aff58","fcbab852.0d32c8"],"x":674,"y":119,"w":502,"h":122},{"id":"b6b00534.c20be8","type":"group","z":"5b1407f1.d96848","name":"Output ABV","style":{"label":true},"nodes":["7990550f.286fec","a91f16f3.f64478","59f81079.46d7d","4162aa89.545d14","edb61981.193898","cdbde309.46fda","121a4af7.3a2305"],"x":414,"y":719,"w":292,"h":202},{"id":"b7d5954a.9cebc8","type":"group","z":"5b1407f1.d96848","name":"UI Control","style":{"label":true},"nodes":["d1e85165.34caf","71a79cef.5e7854","75ae99fb.bb0c08","da713962.b6b318"],"x":814,"y":739,"w":352,"h":122},{"id":"e4a07d76.534b8","type":"group","z":"5b1407f1.d96848","name":"Main System Switch","style":{"label":true},"nodes":["2c4c3ba9.d21aa4","6efc260a.39ab38","9e65271e.925338","3bbcbda5.4ba172","455eea89.e303d4","a100618c.b2f92"],"x":14,"y":19,"w":912,"h":82},{"id":"fd4c5c64.3a4eb","type":"group","z":"5b1407f1.d96848","name":"Reflux Control","style":{"label":true},"nodes":["53b82684.9a6f98","6b50e22d.afb2ec","5ea8f5d1.fd971c","94cf49d2.757938","f80827c5.70c148","b7c826d1.896578","837abee6.1043"],"x":414,"y":499,"w":402,"h":202},{"id":"53b82684.9a6f98","type":"ui_numeric","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"","label":"Dephlegmator Target Temp","tooltip":"","group":"958ff866.e606f8","order":2,"width":9,"height":2,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":640,"y":620,"wires":[["f80827c5.70c148","b7c826d1.896578"]]},{"id":"c8458870.a0f788","type":"ui_chart","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"","group":"5fa23c95.9835e4","order":4,"width":0,"height":0,"label":"Distilling Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":220,"y":960,"wires":[[]]},{"id":"8b90cf18.96df9","type":"ui_text","z":"5b1407f1.d96848","g":"784785c5.17959c","group":"5fa23c95.9835e4","order":3,"width":3,"height":2,"name":"","label":"Head Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":230,"y":760,"wires":[]},{"id":"82e750b3.0d3bb","type":"ui_text","z":"5b1407f1.d96848","g":"784785c5.17959c","group":"5fa23c95.9835e4","order":1,"width":3,"height":2,"name":"","label":"Pot Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":220,"y":840,"wires":[]},{"id":"7990550f.286fec","type":"ui_chart","z":"5b1407f1.d96848","g":"b6b00534.c20be8","name":"","group":"5fa23c95.9835e4","order":8,"width":9,"height":5,"label":"Distilling ABV","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":610,"y":880,"wires":[[]]},{"id":"a91f16f3.f64478","type":"ui_text","z":"5b1407f1.d96848","g":"b6b00534.c20be8","group":"5fa23c95.9835e4","order":5,"width":3,"height":2,"name":"","label":"Product ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":610,"y":760,"wires":[]},{"id":"59f81079.46d7d","type":"ui_text","z":"5b1407f1.d96848","g":"b6b00534.c20be8","group":"5fa23c95.9835e4","order":6,"width":3,"height":2,"name":"","label":"Pot Vapor ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":600,"y":800,"wires":[]},{"id":"4162aa89.545d14","type":"ui_text","z":"5b1407f1.d96848","g":"b6b00534.c20be8","group":"5fa23c95.9835e4","order":7,"width":3,"height":2,"name":"","label":"Charge ABV","format":"{{msg.payload | number:.1}}%","layout":"col-center","x":610,"y":840,"wires":[]},{"id":"6b50e22d.afb2ec","type":"ui_gauge","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"","group":"958ff866.e606f8","order":1,"width":9,"height":4,"gtype":"gage","title":"Dephlegmator Output","label":"C","format":"{{value | number:1}}C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"77","x":660,"y":540,"wires":[]},{"id":"24b3fef4.97fe12","type":"ui_text","z":"5b1407f1.d96848","g":"143196c2.1b5009","group":"f0c68884.7c8b18","order":4,"width":3,"height":2,"name":"","label":"Jacket Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":210,"y":620,"wires":[]},{"id":"732315b.0648cec","type":"ui_text","z":"5b1407f1.d96848","g":"143196c2.1b5009","group":"f0c68884.7c8b18","order":3,"width":3,"height":2,"name":"","label":"Charge Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":220,"y":540,"wires":[]},{"id":"5f33e368.0d780c","type":"ui_chart","z":"5b1407f1.d96848","g":"143196c2.1b5009","name":"","group":"f0c68884.7c8b18","order":5,"width":9,"height":5,"label":"Heat up","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":200,"y":660,"wires":[[]]},{"id":"ee9e83c1.63cc4","type":"link in","z":"5b1407f1.d96848","g":"143196c2.1b5009","name":"Jacket Temp","links":["26607619.d622ca"],"x":55,"y":620,"wires":[["24b3fef4.97fe12","5f33e368.0d780c"]]},{"id":"4813c991.453bb8","type":"link in","z":"5b1407f1.d96848","g":"143196c2.1b5009","name":"Charge Temp","links":["ba59e38e.b6aec"],"x":55,"y":540,"wires":[["732315b.0648cec","5f33e368.0d780c","95790b99.012848"]]},{"id":"97fa3725.7281a8","type":"change","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"Pre-heat","rules":[{"t":"set","p":"equipment.control","pt":"global","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"b82eeaf0.aaace8","type":"change","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"Manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"equipment.control","pt":"global","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["b69d0e73.189b4","44fe6c8c.ea2ee4","9b7e42cc.1522e"]]},{"id":"adad6dc1.77551","type":"change","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["44fe6c8c.ea2ee4"]]},{"id":"5eeb0004.db091","type":"link in","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"System Check","links":["57a061df.50721","c779bb5e.1bd528","6d0346f4.90d3b8"],"x":175,"y":440,"wires":[["adad6dc1.77551"]]},{"id":"822e43c1.258ba","type":"link out","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","links":["675c3a5f.49e194","1f7f3754.389f59"],"x":815,"y":440,"wires":[]},{"id":"57f2df9e.4d454","type":"link in","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"Pot Vapor Temp","links":["3876e625.29cd6a"],"x":55,"y":840,"wires":[["82e750b3.0d3bb","c8458870.a0f788","a591d336.3a884"]]},{"id":"5d4c0256.ba729c","type":"ui_text","z":"5b1407f1.d96848","g":"784785c5.17959c","group":"5fa23c95.9835e4","order":2,"width":3,"height":2,"name":"","label":"Dephleg Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":220,"y":920,"wires":[]},{"id":"afeff59.6b03208","type":"link in","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"Dephleg Temp","links":["399458e1.0033c8"],"x":55,"y":920,"wires":[["5d4c0256.ba729c","c8458870.a0f788"]]},{"id":"5ea8f5d1.fd971c","type":"link in","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"Dephleg Guage","links":["399458e1.0033c8"],"x":455,"y":580,"wires":[["6b50e22d.afb2ec","f80827c5.70c148"]]},{"id":"c6deb5b2.5f0928","type":"link in","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"Head Vapor Temp","links":["195ab73.cf70249"],"x":55,"y":760,"wires":[["8b90cf18.96df9","c8458870.a0f788","49c701a0.f99fc"]]},{"id":"49c701a0.f99fc","type":"link out","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"Head Vapor temp to ABV","links":["2ebbf820.491248"],"x":155,"y":800,"wires":[]},{"id":"a591d336.3a884","type":"link out","z":"5b1407f1.d96848","g":"784785c5.17959c","name":"Pot Vapor temp to ABV","links":["3e7d53.33b0e2ae"],"x":155,"y":880,"wires":[]},{"id":"95790b99.012848","type":"link out","z":"5b1407f1.d96848","g":"143196c2.1b5009","name":"Charge temp to ABV","links":["1b847843.7b1828"],"x":155,"y":580,"wires":[]},{"id":"edb61981.193898","type":"link in","z":"5b1407f1.d96848","g":"b6b00534.c20be8","name":"Product ABV","links":["f120818e.7d103"],"x":455,"y":760,"wires":[["a91f16f3.f64478","7990550f.286fec"]]},{"id":"cdbde309.46fda","type":"link in","z":"5b1407f1.d96848","g":"b6b00534.c20be8","name":"Pot Vapor ABV","links":["58e67b76.d27184"],"x":455,"y":800,"wires":[["59f81079.46d7d","7990550f.286fec"]]},{"id":"121a4af7.3a2305","type":"link in","z":"5b1407f1.d96848","g":"b6b00534.c20be8","name":"Charge ABV","links":["580a9a57.60be34"],"x":455,"y":840,"wires":[["4162aa89.545d14","7990550f.286fec"]]},{"id":"94cf49d2.757938","type":"link in","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"Initial Depleg temp","links":["51ff31e8.7b155"],"x":455,"y":620,"wires":[["53b82684.9a6f98"]]},{"id":"cb6fff6f.eb696","type":"link in","z":"5b1407f1.d96848","g":"143196c2.1b5009","name":"Target Temp","links":["653aaee7.03949","b71975d.3550388","57a061df.50721","b69d0e73.189b4","e5cbe54a.dd24b8"],"x":55,"y":660,"wires":[["5f33e368.0d780c"]]},{"id":"b69d0e73.189b4","type":"link out","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","links":["cb6fff6f.eb696"],"x":675,"y":360,"wires":[]},{"id":"f80827c5.70c148","type":"ui_chart","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"","group":"958ff866.e606f8","order":3,"width":9,"height":5,"label":"Reflux Control","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":680,"y":580,"wires":[[]]},{"id":"b7c826d1.896578","type":"change","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":660,"wires":[["837abee6.1043"]]},{"id":"837abee6.1043","type":"link out","z":"5b1407f1.d96848","g":"fd4c5c64.3a4eb","name":"Depleg Target","links":["26dfdbc4.f780a4"],"x":775,"y":660,"wires":[]},{"id":"2c4c3ba9.d21aa4","type":"ui_toast","z":"5b1407f1.d96848","g":"e4a07d76.534b8","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Adjust Settings","cancel":"Start Distilling","raw":false,"topic":"","name":"","x":370,"y":60,"wires":[["6efc260a.39ab38"]]},{"id":"6efc260a.39ab38","type":"switch","z":"5b1407f1.d96848","g":"e4a07d76.534b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adjust Settings","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":60,"wires":[["3bbcbda5.4ba172"]]},{"id":"9e65271e.925338","type":"ui_ui_control","z":"5b1407f1.d96848","g":"e4a07d76.534b8","name":"","events":"all","x":840,"y":60,"wires":[[]]},{"id":"3bbcbda5.4ba172","type":"change","z":"5b1407f1.d96848","g":"e4a07d76.534b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Settings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[["9e65271e.925338"]]},{"id":"455eea89.e303d4","type":"change","z":"5b1407f1.d96848","g":"e4a07d76.534b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Are you ready?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":60,"wires":[["2c4c3ba9.d21aa4"]]},{"id":"a100618c.b2f92","type":"link in","z":"5b1407f1.d96848","g":"e4a07d76.534b8","name":"Start System","links":["468f9d92.0d38f4"],"x":55,"y":60,"wires":[["455eea89.e303d4"]]},{"id":"5630d3da.c06a9c","type":"ui_switch","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"","label":"PID Control","tooltip":"","group":"f0c68884.7c8b18","order":6,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"PID","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":180,"wires":[["c6108f20.a43d1"]]},{"id":"a447e26e.5e103","type":"ui_switch","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","label":"Manual Control","tooltip":"","group":"f0c68884.7c8b18","order":7,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":380,"wires":[["47d1cf7f.fab"]]},{"id":"86a35da0.f143c","type":"change","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["e47449fe.938f68"]]},{"id":"3d1eb310.2f910c","type":"change","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":200,"wires":[["6d0346f4.90d3b8"]]},{"id":"e47449fe.938f68","type":"link out","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"","links":["bdcad8ed.432768"],"x":1135,"y":160,"wires":[]},{"id":"6d0346f4.90d3b8","type":"link out","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"","links":["9b49428b.33492","5eeb0004.db091"],"x":1135,"y":200,"wires":[]},{"id":"9b49428b.33492","type":"link in","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","links":["6d0346f4.90d3b8","c779bb5e.1bd528"],"x":55,"y":380,"wires":[["a447e26e.5e103"]]},{"id":"bdcad8ed.432768","type":"link in","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"","links":["4c1e82ae.dd6e4c","e47449fe.938f68"],"x":55,"y":180,"wires":[["5630d3da.c06a9c"]]},{"id":"6b911d1.7bad3e4","type":"change","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["4c1e82ae.dd6e4c"]]},{"id":"4c1e82ae.dd6e4c","type":"link out","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","links":["bdcad8ed.432768"],"x":605,"y":340,"wires":[]},{"id":"3f494aa3.2f0ce6","type":"change","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["c779bb5e.1bd528"]]},{"id":"c779bb5e.1bd528","type":"link out","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"","links":["9b49428b.33492","5eeb0004.db091"],"x":615,"y":200,"wires":[]},{"id":"c6108f20.a43d1","type":"switch","z":"5b1407f1.d96848","g":"79c146c.bcabbb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":180,"wires":[["3f494aa3.2f0ce6","97fa3725.7281a8"]]},{"id":"47d1cf7f.fab","type":"switch","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["6b911d1.7bad3e4","b82eeaf0.aaace8"]]},{"id":"f148f968.8aff58","type":"ui_button","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"","group":"958ff866.e606f8","order":4,"width":0,"height":0,"passthru":false,"label":"System Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":830,"y":180,"wires":[["86a35da0.f143c","3d1eb310.2f910c"]]},{"id":"ca0bf04c.3917c","type":"change","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["822e43c1.258ba"]]},{"id":"d1e85165.34caf","type":"ui_button","z":"5b1407f1.d96848","g":"b7d5954a.9cebc8","name":"","group":"958ff866.e606f8","order":6,"width":0,"height":0,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":900,"y":820,"wires":[["71a79cef.5e7854"]]},{"id":"71a79cef.5e7854","type":"ui_ui_control","z":"5b1407f1.d96848","g":"b7d5954a.9cebc8","name":"","events":"all","x":1050,"y":820,"wires":[[]]},{"id":"fcbab852.0d32c8","type":"link in","z":"5b1407f1.d96848","g":"a43aa52d.fbf398","name":"System Off","links":["468f9d92.0d38f4"],"x":715,"y":180,"wires":[["f148f968.8aff58"]]},{"id":"44fe6c8c.ea2ee4","type":"ui_slider","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","name":"","label":"","tooltip":"","group":"f0c68884.7c8b18","order":13,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":490,"y":440,"wires":[["ca0bf04c.3917c","9b7e42cc.1522e"]]},{"id":"9b7e42cc.1522e","type":"ui_text","z":"5b1407f1.d96848","g":"6bdf1452.902d6c","group":"f0c68884.7c8b18","order":9,"width":3,"height":2,"name":"","label":"Manual Power","format":"{{msg.payload}}%","layout":"col-center","x":740,"y":400,"wires":[]},{"id":"787fd68a.7dfe08","type":"inject","z":"5b1407f1.d96848","name":"Initial off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":100,"y":260,"wires":[["5630d3da.c06a9c","a447e26e.5e103"]]},{"id":"75ae99fb.bb0c08","type":"ui_button","z":"5b1407f1.d96848","g":"b7d5954a.9cebc8","name":"","group":"958ff866.e606f8","order":5,"width":0,"height":0,"passthru":false,"label":"Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Parameters","payloadType":"str","topic":"","x":910,"y":780,"wires":[["da713962.b6b318"]]},{"id":"da713962.b6b318","type":"ui_ui_control","z":"5b1407f1.d96848","g":"b7d5954a.9cebc8","name":"","events":"all","x":1080,"y":780,"wires":[[]]},{"id":"958ff866.e606f8","type":"ui_group","name":"Reflux","tab":"80cd4062.93a5","order":2,"disp":true,"width":"9","collapse":false},{"id":"5fa23c95.9835e4","type":"ui_group","name":"Output","tab":"80cd4062.93a5","order":3,"disp":true,"width":9,"collapse":false},{"id":"f0c68884.7c8b18","type":"ui_group","name":"Input Control","tab":"80cd4062.93a5","order":1,"disp":true,"width":9,"collapse":false},{"id":"80cd4062.93a5","type":"ui_tab","name":"Distilling","icon":"dashboard","order":2,"disabled":false,"hidden":false}]