Development/Flows/flows/Distilling UI.json
[
  {
    "id": "5b1407f1.d96848",
    "type": "tab",
    "label": "Distilling UI",
    "disabled": false,
    "info": ""
  },
  {
    "id": "53b82684.9a6f98",
    "type": "ui_numeric",
    "z": "5b1407f1.d96848",
    "name": "",
    "label": "Dephlegmator Target Temp",
    "tooltip": "",
    "group": "958ff866.e606f8",
    "order": 2,
    "width": 9,
    "height": 2,
    "wrap": false,
    "passthru": true,
    "topic": "",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "step": ".1",
    "x": 780,
    "y": 600,
    "wires": [
      [
        "f80827c5.70c148",
        "b7c826d1.896578"
      ]
    ]
  },
  {
    "id": "c8458870.a0f788",
    "type": "ui_chart",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "5fa23c95.9835e4",
    "order": 4,
    "width": 0,
    "height": 0,
    "label": "Distilling Temps",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "x": 340,
    "y": 1020,
    "wires": [
      []
    ]
  },
  {
    "id": "8b90cf18.96df9",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 3,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Head Vapor Temp",
    "format": "{{msg.payload | number:.1}}C",
    "layout": "col-center",
    "x": 350,
    "y": 820,
    "wires": []
  },
  {
    "id": "82e750b3.0d3bb",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 1,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Pot Vapor Temp",
    "format": "{{msg.payload | number:.1}}C",
    "layout": "col-center",
    "x": 340,
    "y": 900,
    "wires": []
  },
  {
    "id": "7990550f.286fec",
    "type": "ui_chart",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "5fa23c95.9835e4",
    "order": 8,
    "width": 9,
    "height": 5,
    "label": "Distilling ABV",
    "chartType": "line",
    "legend": "true",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": "15",
    "removeOlderPoints": "",
    "removeOlderUnit": "60",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "x": 790,
    "y": 960,
    "wires": [
      []
    ]
  },
  {
    "id": "a91f16f3.f64478",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 5,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Product ABV",
    "format": "{{msg.payload | number: 1}}%",
    "layout": "col-center",
    "x": 730,
    "y": 820,
    "wires": []
  },
  {
    "id": "59f81079.46d7d",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 6,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Pot Vapor ABV",
    "format": "{{msg.payload | number: 1}}%",
    "layout": "col-center",
    "x": 740,
    "y": 860,
    "wires": []
  },
  {
    "id": "4162aa89.545d14",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 7,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Charge ABV",
    "format": "{{msg.payload | number:.1}}%",
    "layout": "col-center",
    "x": 730,
    "y": 900,
    "wires": []
  },
  {
    "id": "6b50e22d.afb2ec",
    "type": "ui_gauge",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "958ff866.e606f8",
    "order": 1,
    "width": 9,
    "height": 4,
    "gtype": "gage",
    "title": "Dephlegmator Output",
    "label": "C",
    "format": "{{value | number:1}}C",
    "min": 0,
    "max": "100",
    "colors": [
      "#00b500",
      "#e6e600",
      "#ca3838"
    ],
    "seg1": "50",
    "seg2": "77",
    "x": 760,
    "y": 520,
    "wires": []
  },
  {
    "id": "24b3fef4.97fe12",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "f0c68884.7c8b18",
    "order": 4,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Jacket Temp",
    "format": "{{msg.payload | number: 1}}C",
    "layout": "col-center",
    "x": 330,
    "y": 600,
    "wires": []
  },
  {
    "id": "e420938c.f98e2",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Output temps",
    "info": "",
    "x": 310,
    "y": 760,
    "wires": []
  },
  {
    "id": "5d87b925.36f5e8",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Output ABV",
    "info": "",
    "x": 690,
    "y": 760,
    "wires": []
  },
  {
    "id": "d069e66d.07f568",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Reflux Control Temps",
    "info": "",
    "x": 720,
    "y": 460,
    "wires": []
  },
  {
    "id": "732315b.0648cec",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "f0c68884.7c8b18",
    "order": 3,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Charge Temp",
    "format": "{{msg.payload | number: 1}}C",
    "layout": "col-center",
    "x": 340,
    "y": 520,
    "wires": []
  },
  {
    "id": "5f33e368.0d780c",
    "type": "ui_chart",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "f0c68884.7c8b18",
    "order": 5,
    "width": 9,
    "height": 5,
    "label": "Heat up",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "x": 320,
    "y": 680,
    "wires": [
      []
    ]
  },
  {
    "id": "6b019291.0780ac",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "status",
        "pt": "global",
        "to": "on",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 60,
    "wires": [
      []
    ]
  },
  {
    "id": "ee9e83c1.63cc4",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Jacket Temp",
    "links": [
      "26607619.d622ca"
    ],
    "x": 175,
    "y": 600,
    "wires": [
      [
        "24b3fef4.97fe12",
        "5f33e368.0d780c"
      ]
    ]
  },
  {
    "id": "4813c991.453bb8",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Charge Temp",
    "links": [
      "ba59e38e.b6aec"
    ],
    "x": 175,
    "y": 520,
    "wires": [
      [
        "732315b.0648cec",
        "5f33e368.0d780c",
        "95790b99.012848"
      ]
    ]
  },
  {
    "id": "97fa3725.7281a8",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "Pre-heat",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "preheat",
        "tot": "global"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Target",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 180,
    "wires": [
      [
        "653aaee7.03949"
      ]
    ]
  },
  {
    "id": "7f486f7e.f6a7d",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "f0c68884.7c8b18",
    "order": 2,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Target Temp",
    "format": "{{msg.payload | number: 1}}C",
    "layout": "col-center",
    "x": 330,
    "y": 640,
    "wires": []
  },
  {
    "id": "b82eeaf0.aaace8",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "Manual",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 340,
    "wires": [
      [
        "b69d0e73.189b4",
        "44fe6c8c.ea2ee4",
        "9b7e42cc.1522e"
      ]
    ]
  },
  {
    "id": "adad6dc1.77551",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 320,
    "y": 400,
    "wires": [
      [
        "44fe6c8c.ea2ee4"
      ]
    ]
  },
  {
    "id": "5eeb0004.db091",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "System Check",
    "links": [
      "57a061df.50721",
      "c779bb5e.1bd528",
      "6d0346f4.90d3b8"
    ],
    "x": 195,
    "y": 400,
    "wires": [
      [
        "adad6dc1.77551"
      ]
    ]
  },
  {
    "id": "822e43c1.258ba",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "675c3a5f.49e194",
      "1f7f3754.389f59"
    ],
    "x": 835,
    "y": 400,
    "wires": []
  },
  {
    "id": "57f2df9e.4d454",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Pot Vapor Temp",
    "links": [
      "3876e625.29cd6a"
    ],
    "x": 175,
    "y": 900,
    "wires": [
      [
        "82e750b3.0d3bb",
        "c8458870.a0f788",
        "a591d336.3a884"
      ]
    ]
  },
  {
    "id": "5d4c0256.ba729c",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "5fa23c95.9835e4",
    "order": 2,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Dephleg Temp",
    "format": "{{msg.payload | number: 1}}C",
    "layout": "col-center",
    "x": 340,
    "y": 980,
    "wires": []
  },
  {
    "id": "afeff59.6b03208",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Dephleg Temp",
    "links": [
      "399458e1.0033c8"
    ],
    "x": 175,
    "y": 980,
    "wires": [
      [
        "5d4c0256.ba729c",
        "c8458870.a0f788"
      ]
    ]
  },
  {
    "id": "5ea8f5d1.fd971c",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Dephleg Guage",
    "links": [
      "399458e1.0033c8"
    ],
    "x": 595,
    "y": 560,
    "wires": [
      [
        "6b50e22d.afb2ec",
        "f80827c5.70c148"
      ]
    ]
  },
  {
    "id": "c6deb5b2.5f0928",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Head Vapor Temp",
    "links": [
      "195ab73.cf70249"
    ],
    "x": 175,
    "y": 820,
    "wires": [
      [
        "8b90cf18.96df9",
        "c8458870.a0f788",
        "49c701a0.f99fc"
      ]
    ]
  },
  {
    "id": "fe417080.f9794",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Input Temps",
    "info": "",
    "x": 310,
    "y": 460,
    "wires": []
  },
  {
    "id": "ef171490.ebe3b8",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Manual Power",
    "info": "",
    "x": 270,
    "y": 260,
    "wires": []
  },
  {
    "id": "f866583e.62d568",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Main System Switch",
    "info": "",
    "x": 500,
    "y": 40,
    "wires": []
  },
  {
    "id": "8b1f7b9a.8bf6d8",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Pre-Heat Charge",
    "info": "",
    "x": 270,
    "y": 140,
    "wires": []
  },
  {
    "id": "49c701a0.f99fc",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "Head Vapor temp to ABV",
    "links": [
      "2ebbf820.491248"
    ],
    "x": 275,
    "y": 860,
    "wires": []
  },
  {
    "id": "a591d336.3a884",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "Pot Vapor temp to ABV",
    "links": [
      "3e7d53.33b0e2ae"
    ],
    "x": 275,
    "y": 940,
    "wires": []
  },
  {
    "id": "95790b99.012848",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "Charge temp to ABV",
    "links": [
      "1b847843.7b1828"
    ],
    "x": 275,
    "y": 560,
    "wires": []
  },
  {
    "id": "edb61981.193898",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Product ABV",
    "links": [
      "f120818e.7d103"
    ],
    "x": 595,
    "y": 820,
    "wires": [
      [
        "a91f16f3.f64478",
        "7990550f.286fec",
        "ffe98f9b.53bc8"
      ]
    ]
  },
  {
    "id": "cdbde309.46fda",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Pot Vapor ABV",
    "links": [
      "58e67b76.d27184"
    ],
    "x": 595,
    "y": 860,
    "wires": [
      [
        "59f81079.46d7d",
        "7990550f.286fec"
      ]
    ]
  },
  {
    "id": "121a4af7.3a2305",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Charge ABV",
    "links": [
      "580a9a57.60be34"
    ],
    "x": 595,
    "y": 900,
    "wires": [
      [
        "4162aa89.545d14",
        "7990550f.286fec"
      ]
    ]
  },
  {
    "id": "94cf49d2.757938",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Initial Depleg temp",
    "links": [
      "51ff31e8.7b155"
    ],
    "x": 595,
    "y": 600,
    "wires": [
      [
        "53b82684.9a6f98"
      ]
    ]
  },
  {
    "id": "cb6fff6f.eb696",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Target Temp",
    "links": [
      "653aaee7.03949",
      "b71975d.3550388",
      "57a061df.50721",
      "b69d0e73.189b4"
    ],
    "x": 175,
    "y": 640,
    "wires": [
      [
        "5f33e368.0d780c",
        "7f486f7e.f6a7d"
      ]
    ]
  },
  {
    "id": "653aaee7.03949",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "cb6fff6f.eb696"
    ],
    "x": 635,
    "y": 180,
    "wires": []
  },
  {
    "id": "b69d0e73.189b4",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "cb6fff6f.eb696"
    ],
    "x": 695,
    "y": 320,
    "wires": []
  },
  {
    "id": "f80827c5.70c148",
    "type": "ui_chart",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "958ff866.e606f8",
    "order": 3,
    "width": 9,
    "height": 5,
    "label": "Reflux Control",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "",
    "ymax": "",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "useUTC": false,
    "colors": [
      "#1f77b4",
      "#aec7e8",
      "#ff7f0e",
      "#2ca02c",
      "#98df8a",
      "#d62728",
      "#ff9896",
      "#9467bd",
      "#c5b0d5"
    ],
    "outputs": 1,
    "x": 1040,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "b7c826d1.896578",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "dephleg.target",
        "pt": "global",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 770,
    "y": 660,
    "wires": [
      [
        "837abee6.1043"
      ]
    ]
  },
  {
    "id": "837abee6.1043",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "Depleg Target",
    "links": [
      "26dfdbc4.f780a4"
    ],
    "x": 935,
    "y": 660,
    "wires": []
  },
  {
    "id": "ffe98f9b.53bc8",
    "type": "debug",
    "z": "5b1407f1.d96848",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 890,
    "y": 780,
    "wires": []
  },
  {
    "id": "2c4c3ba9.d21aa4",
    "type": "ui_toast",
    "z": "5b1407f1.d96848",
    "d": true,
    "position": "dialog",
    "displayTime": "3",
    "highlight": "",
    "sendall": false,
    "outputs": 1,
    "ok": "Adjust Settings",
    "cancel": "Start Distilling",
    "raw": false,
    "topic": "",
    "name": "",
    "x": 410,
    "y": 80,
    "wires": [
      [
        "6efc260a.39ab38"
      ]
    ]
  },
  {
    "id": "6efc260a.39ab38",
    "type": "switch",
    "z": "5b1407f1.d96848",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "Start Distilling",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "Adjust Settings",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 80,
    "wires": [
      [
        "6b019291.0780ac"
      ],
      [
        "3bbcbda5.4ba172"
      ]
    ]
  },
  {
    "id": "9e65271e.925338",
    "type": "ui_ui_control",
    "z": "5b1407f1.d96848",
    "name": "",
    "events": "all",
    "x": 940,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "3bbcbda5.4ba172",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Settings",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 760,
    "y": 100,
    "wires": [
      [
        "9e65271e.925338"
      ]
    ]
  },
  {
    "id": "455eea89.e303d4",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Are you ready?",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 220,
    "y": 80,
    "wires": [
      [
        "2c4c3ba9.d21aa4"
      ]
    ]
  },
  {
    "id": "a100618c.b2f92",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "Start System",
    "links": [
      "468f9d92.0d38f4"
    ],
    "x": 95,
    "y": 80,
    "wires": [
      [
        "455eea89.e303d4"
      ]
    ]
  },
  {
    "id": "ed0246bc.34df78",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Kill Switch",
    "info": "",
    "x": 920,
    "y": 160,
    "wires": []
  },
  {
    "id": "5630d3da.c06a9c",
    "type": "ui_switch",
    "z": "5b1407f1.d96848",
    "name": "",
    "label": "Pre-heat Charge",
    "tooltip": "",
    "group": "f0c68884.7c8b18",
    "order": 6,
    "width": 5,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "PID",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 230,
    "y": 200,
    "wires": [
      [
        "c6108f20.a43d1"
      ]
    ]
  },
  {
    "id": "a447e26e.5e103",
    "type": "ui_switch",
    "z": "5b1407f1.d96848",
    "name": "",
    "label": "Manual Control",
    "tooltip": "",
    "group": "f0c68884.7c8b18",
    "order": 7,
    "width": 4,
    "height": 1,
    "passthru": true,
    "decouple": "false",
    "topic": "Manual",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 220,
    "y": 340,
    "wires": [
      [
        "47d1cf7f.fab"
      ]
    ]
  },
  {
    "id": "86a35da0.f143c",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "PID Off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "PID",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 200,
    "wires": [
      [
        "e47449fe.938f68"
      ]
    ]
  },
  {
    "id": "3d1eb310.2f910c",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "Manual Off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Manual",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1030,
    "y": 240,
    "wires": [
      [
        "6d0346f4.90d3b8"
      ]
    ]
  },
  {
    "id": "e47449fe.938f68",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "bdcad8ed.432768"
    ],
    "x": 1155,
    "y": 200,
    "wires": []
  },
  {
    "id": "6d0346f4.90d3b8",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "9b49428b.33492",
      "5eeb0004.db091"
    ],
    "x": 1155,
    "y": 240,
    "wires": []
  },
  {
    "id": "9b49428b.33492",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "6d0346f4.90d3b8",
      "c779bb5e.1bd528"
    ],
    "x": 75,
    "y": 340,
    "wires": [
      [
        "a447e26e.5e103"
      ]
    ]
  },
  {
    "id": "bdcad8ed.432768",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "4c1e82ae.dd6e4c",
      "e47449fe.938f68"
    ],
    "x": 75,
    "y": 200,
    "wires": [
      [
        "5630d3da.c06a9c"
      ]
    ]
  },
  {
    "id": "6b911d1.7bad3e4",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "PID Off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "PID",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 300,
    "wires": [
      [
        "4c1e82ae.dd6e4c"
      ]
    ]
  },
  {
    "id": "4c1e82ae.dd6e4c",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "bdcad8ed.432768"
    ],
    "x": 625,
    "y": 300,
    "wires": []
  },
  {
    "id": "3f494aa3.2f0ce6",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "Manual Off",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "topic",
        "pt": "msg",
        "to": "Manual",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 530,
    "y": 220,
    "wires": [
      [
        "c779bb5e.1bd528"
      ]
    ]
  },
  {
    "id": "c779bb5e.1bd528",
    "type": "link out",
    "z": "5b1407f1.d96848",
    "name": "",
    "links": [
      "9b49428b.33492",
      "5eeb0004.db091"
    ],
    "x": 635,
    "y": 220,
    "wires": []
  },
  {
    "id": "c6108f20.a43d1",
    "type": "switch",
    "z": "5b1407f1.d96848",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 390,
    "y": 200,
    "wires": [
      [
        "3f494aa3.2f0ce6",
        "97fa3725.7281a8"
      ]
    ]
  },
  {
    "id": "47d1cf7f.fab",
    "type": "switch",
    "z": "5b1407f1.d96848",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 370,
    "y": 340,
    "wires": [
      [
        "6b911d1.7bad3e4",
        "b82eeaf0.aaace8"
      ]
    ]
  },
  {
    "id": "f148f968.8aff58",
    "type": "ui_button",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "958ff866.e606f8",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "System Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 850,
    "y": 220,
    "wires": [
      [
        "86a35da0.f143c",
        "3d1eb310.2f910c"
      ]
    ]
  },
  {
    "id": "ca0bf04c.3917c",
    "type": "change",
    "z": "5b1407f1.d96848",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "enabled",
        "pt": "msg",
        "to": "true",
        "tot": "bool"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 700,
    "y": 400,
    "wires": [
      [
        "822e43c1.258ba"
      ]
    ]
  },
  {
    "id": "d1e85165.34caf",
    "type": "ui_button",
    "z": "5b1407f1.d96848",
    "name": "",
    "group": "958ff866.e606f8",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": false,
    "label": "Settings",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "Settings",
    "payloadType": "str",
    "topic": "",
    "x": 200,
    "y": 1200,
    "wires": [
      [
        "71a79cef.5e7854"
      ]
    ]
  },
  {
    "id": "f4a38120.9dafd",
    "type": "comment",
    "z": "5b1407f1.d96848",
    "name": "Settings",
    "info": "",
    "x": 290,
    "y": 1120,
    "wires": []
  },
  {
    "id": "71a79cef.5e7854",
    "type": "ui_ui_control",
    "z": "5b1407f1.d96848",
    "name": "",
    "events": "all",
    "x": 350,
    "y": 1200,
    "wires": [
      []
    ]
  },
  {
    "id": "fcbab852.0d32c8",
    "type": "link in",
    "z": "5b1407f1.d96848",
    "name": "System Off",
    "links": [
      "468f9d92.0d38f4"
    ],
    "x": 735,
    "y": 220,
    "wires": [
      [
        "f148f968.8aff58"
      ]
    ]
  },
  {
    "id": "44fe6c8c.ea2ee4",
    "type": "ui_slider",
    "z": "5b1407f1.d96848",
    "name": "",
    "label": "",
    "tooltip": "",
    "group": "f0c68884.7c8b18",
    "order": 13,
    "width": 9,
    "height": 1,
    "passthru": true,
    "outs": "all",
    "topic": "",
    "min": 0,
    "max": "100",
    "step": 1,
    "x": 510,
    "y": 400,
    "wires": [
      [
        "ca0bf04c.3917c",
        "9b7e42cc.1522e"
      ]
    ]
  },
  {
    "id": "9b7e42cc.1522e",
    "type": "ui_text",
    "z": "5b1407f1.d96848",
    "group": "f0c68884.7c8b18",
    "order": 9,
    "width": 3,
    "height": 2,
    "name": "",
    "label": "Manual Power",
    "format": "{{msg.payload}}%",
    "layout": "col-center",
    "x": 760,
    "y": 360,
    "wires": []
  }
]