Development/Flows/flows/Initiate.json
[
  {
    "id": "29ecf7a3.4cb5f8",
    "type": "tab",
    "label": "Initiate",
    "disabled": false,
    "info": ""
  },
  {
    "id": "b7876ab8.5ea928",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "dephleg",
    "rules": [
      {
        "t": "set",
        "p": "dephleg",
        "pt": "global",
        "to": "{\"temp\":0,\"medium\":\"water\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "f6587f86.80f16",
    "type": "inject",
    "z": "29ecf7a3.4cb5f8",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 280,
    "wires": [
      [
        "22349ebb.e30122",
        "b7876ab8.5ea928",
        "f6b97366.1848a",
        "e46ea224.b4e81",
        "d3f5a79b.2cd3f8",
        "39f45c84.f93124"
      ]
    ]
  },
  {
    "id": "e46ea224.b4e81",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "charge",
    "rules": [
      {
        "t": "set",
        "p": "charge",
        "pt": "global",
        "to": "{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"ABV\":0,\"volume\":0,\"initialABV\":9}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "d3f5a79b.2cd3f8",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "jacket",
    "rules": [
      {
        "t": "set",
        "p": "jacket",
        "pt": "global",
        "to": "{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"status\":\"off\",\"control\":\"manual\"}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 350,
    "y": 320,
    "wires": [
      []
    ]
  },
  {
    "id": "f6b97366.1848a",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "pot_vapor",
    "rules": [
      {
        "t": "set",
        "p": "pot_vapor",
        "pt": "global",
        "to": "{\"ID\":\"Pot Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 360,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "22349ebb.e30122",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "head_vapor",
    "rules": [
      {
        "t": "set",
        "p": "head_vapor",
        "pt": "global",
        "to": "{\"ID\":\"Head_Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0,\"volume\":0}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 370,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "39f45c84.f93124",
    "type": "change",
    "z": "29ecf7a3.4cb5f8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "control",
        "pt": "global",
        "to": "off",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "system",
        "pt": "global",
        "to": "false",
        "tot": "bool"
      },
      {
        "t": "set",
        "p": "dephlegtarget",
        "pt": "global",
        "to": "0",
        "tot": "num"
      },
      {
        "t": "set",
        "p": "preheat",
        "pt": "global",
        "to": "70",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 360,
    "wires": [
      []
    ]
  }
]