Development/Flows/flows/Logging.json
[
  {
    "id": "1bbd252a.068abb",
    "type": "tab",
    "label": "Logging",
    "disabled": false,
    "info": ""
  },
  {
    "id": "315efaf.0136506",
    "type": "function",
    "z": "1bbd252a.068abb",
    "name": "Database log entry",
    "func": "msg.payload = [{\n        measurement: global.get(\"batch\"),\n        fields: {\n            \"Charge Temp\": global.get(\"charge.temp\"),\n            \"Jacket Temp\": global.get(\"jacket.temp\"),\n            \"Pot Vapor Temp\": global.get(\"pot_vapor.temp\"),\n            \"Dephleg Temp\": global.get(\"dephleg.temp\"),\n            \"Head Vapor Temp\": global.get(\"head_vapor.temp\"),\n            \"Dephleg Target\": global.get(\"dephleg.target\"),\n            \"Charge ABV\": global.get(\"charge.ABV\"),\n            \"Pot Vapor ABV\": global.get(\"pot_vapor.ABV\"),\n            \"Product ABV\": global.get(\"head_vapor.ABV\")\n            },\n        timestamp: new Date()\n}]\nreturn msg",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 550,
    "y": 200,
    "wires": [
      [
        "870348b1.8d43d8"
      ]
    ]
  },
  {
    "id": "59383dab.e11594",
    "type": "inject",
    "z": "1bbd252a.068abb",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 200,
    "wires": [
      [
        "605f1ddd.0ecb84"
      ]
    ]
  },
  {
    "id": "870348b1.8d43d8",
    "type": "influxdb batch",
    "z": "1bbd252a.068abb",
    "influxdb": "5391d36f.c4282c",
    "precision": "",
    "retentionPolicy": "",
    "name": "",
    "x": 780,
    "y": 200,
    "wires": []
  },
  {
    "id": "605f1ddd.0ecb84",
    "type": "switch",
    "z": "1bbd252a.068abb",
    "name": "Logging Switch",
    "property": "logging",
    "propertyType": "global",
    "rules": [
      {
        "t": "true"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 340,
    "y": 200,
    "wires": [
      [
        "315efaf.0136506"
      ]
    ]
  }
]