Development/Flows/flows/PID Controls.json
[{"id":"7842e5d8.ba1b5c","type":"tab","label":"PID Controls","disabled":false,"info":""},{"id":"83c1f6e8.b6fda8","type":"group","z":"7842e5d8.ba1b5c","name":"Target temp","style":{"label":true},"nodes":["af775fa1.75578","3e259a61.256ff6","6a6b1e7b.43d67","e4e57a35.c12348"],"x":634,"y":19,"w":502,"h":122},{"id":"8d7bac9f.59ba8","type":"group","z":"7842e5d8.ba1b5c","name":"Simple PID","style":{"label":true},"nodes":["af6739bb.55f8e8","b6b0839d.800a6","9b74b8ef.17ce18","740a6dd.283b594","bd06422d.b8196","24b77f3e.bed6","20d06773.a15cf8","e3a59bcf.a15dd8","88497696.f18dd8","f780b1d4.1f718","50a83688.11d978","218cdf0e.268ad","97646cb3.71656","1e6bb973.6b1d97","ff55c217.0e93b"],"x":634,"y":199,"w":502,"h":342},{"id":"d6bcae0d.73774","type":"group","z":"7842e5d8.ba1b5c","name":"Cascade PID","style":{"label":true},"nodes":["5f1bd78e.a79258","43e07dd4.c17a24","1971dc0b.fb7e94","37d092f8.b78d2e","c5043392.084e3","8263d06a.a5d83","fd86d775.c4a758","a15edbe7.bd95e8","21110fca.beca8","7cf27e4e.caeb5","3c1c43fe.a90e0c","756cbf8b.6829b","402ef598.e32b1c","5f06c0d5.2a1a2","24beec78.08ee84","b07d1797.d990a8","bba4285f.138fb8","64d822de.9d597c","b05a9a9.e893668","c8f0bb4e.911ee8","88446497.d9eb08","c549cb0c.351f88","8010199a.bb1148","7800507b.3b407","bdfe728c.1e908","56b3e127.448e2","85dbbc7.185df4","f5451b57.619868","dc338642.7a7d38","f890e9a3.d42f88","95c37b63.2a4a58","234c3e9d.1be962","2d586938.819696","b74a4d48.b825","74398bfb.37f704","c7363c08.c3fff","792bfb94.ceffa4"],"x":54,"y":199,"w":562,"h":882},{"id":"e2215904.fce678","type":"group","z":"7842e5d8.ba1b5c","name":"PID selector","style":{"label":true},"nodes":["8b293de5.c2274","fd9d4850.eb1cf8","66f3accb.fb6d14","89cf45f6.ca8688","f8ac1c7e.c6793"],"x":54,"y":19,"w":482,"h":162},{"id":"5f1bd78e.a79258","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"inner_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[[]]},{"id":"43e07dd4.c17a24","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"inner_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":480,"wires":[["f890e9a3.d42f88"]]},{"id":"1971dc0b.fb7e94","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"inner_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[[]]},{"id":"37d092f8.b78d2e","type":"function","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID","func":"// Manually specify update interval\nmsg.interval = 2000;\n\n//\n// Begin Outer Control Loop\n//\n// Output from Outer Control will be the target + Jacket delta T\n// Calculate outer error\nmsg.outer_target = flow.get('target')\nmsg.outer_error = msg.outer_target - global.get('charge.temp');\n\n// Update outer integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.outer_integrator = flow.get('outer_integrator');\nmsg.outer_integrator += (msg.interval/1000) * Math.max(Math.min(msg.outer_error, 1), -1);\n\n// Bound total outer integrator by absolute maximum\nmsg.outer_integrator = Math.max(Math.min(msg.outer_integrator, flow.get('outer_integrator_max')), -flow.get('outer_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('outer_integrator', msg.outer_integrator);\n\n// Calculate proportional action\nmsg.outer_output = msg.outer_error * flow.get('outer_p');\n\n// Calculate intergral action\nmsg.outer_output += msg.outer_integrator * flow.get('outer_i');\n\n// Calculate derivative action\nmsg.outer_derivative = (msg.outer_error - flow.get('last_outer_error'))/(msg.interval/1000);\nmsg.outer_output += msg.outer_derivative * flow.get('outer_d');\n\n// Bound outer_output by [outer_min, outer_max]\nmsg.outer_output = Math.max(Math.min(msg.outer_output, flow.get('outer_max')), flow.get('outer_min'));\n\n// Set inner_target\nmsg.inner_target = Math.min(msg.outer_target + msg.outer_output, 90)\n\n// Output updated last_outer_error to flow context\nmsg.last_outer_error = msg.outer_error;\nflow.set('last_outer_error', msg.last_outer_error);\n\n//\n// Begin Inner Control Loop\n// Output from inner control loop will be Jacket element duty %\n// Calculate inner error\nmsg.inner_error = msg.inner_target - global.get('jacket.temp');\n\n// Update inner integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.inner_integrator = flow.get('inner_integrator');\nmsg.inner_integrator += (msg.interval/1000) * Math.max(Math.min(msg.inner_error, 1), -1);\n\n// Bound total inner integrator by absolute maximum\nmsg.inner_integrator = Math.max(Math.min(msg.inner_integrator, flow.get('inner_integrator_max')), -flow.get('inner_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('inner_integrator', msg.inner_integrator);\n\n// Calculate proportional action\nmsg.inner_output = msg.inner_error * flow.get('inner_p');\n\n// Calculate intergral action\nmsg.inner_output += msg.inner_integrator * flow.get('inner_i');\n\n// Calculate derivative action\nmsg.inner_derivative = (msg.inner_error - flow.get('last_inner_error'))/(msg.interval/1000);\nmsg.inner_output += msg.inner_derivative * flow.get('inner_d');\n\n// Bound inner_output by [0.0, max_output]\nmsg.inner_output = Math.max(Math.min(msg.inner_output, flow.get('inner_max')), 0.0);\n\n// Output updated last_inner_error to flow context\nmsg.last_inner_error = msg.inner_error;\nflow.set('last_inner_error', msg.last_inner_error);\n\n// Set payload to element output\nmsg.payload = msg.inner_output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":300,"wires":[["3c1c43fe.a90e0c"]]},{"id":"c5043392.084e3","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Inner Kp","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"20.0","payloadType":"num","x":180,"y":360,"wires":[["5f06c0d5.2a1a2","5f1bd78e.a79258"]]},{"id":"8263d06a.a5d83","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Inner Ki","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":180,"y":440,"wires":[["402ef598.e32b1c","43e07dd4.c17a24"]]},{"id":"fd86d775.c4a758","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Inner Kd","props":[{"p":"payload","v":"30","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":180,"y":520,"wires":[["756cbf8b.6829b","1971dc0b.fb7e94"]]},{"id":"af775fa1.75578","type":"inject","z":"7842e5d8.ba1b5c","g":"83c1f6e8.b6fda8","name":"Default Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":760,"y":60,"wires":[["6a6b1e7b.43d67","e4e57a35.c12348"]]},{"id":"a15edbe7.bd95e8","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Inner Limit","props":[{"p":"payload","v":"30","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":190,"y":600,"wires":[["21110fca.beca8","7cf27e4e.caeb5"]]},{"id":"21110fca.beca8","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Output limiter","tooltip":"","group":"3664e4b.5830a9c","order":10,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:0}}Ùª","min":"1","max":"99","step":1,"x":220,"y":640,"wires":[["7cf27e4e.caeb5"]]},{"id":"7cf27e4e.caeb5","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"inner_limit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["95c37b63.2a4a58"]]},{"id":"3c1c43fe.a90e0c","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"PID Settings","links":["1f7f3754.389f59","3f2878d3.94f4e"],"x":355,"y":300,"wires":[]},{"id":"756cbf8b.6829b","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð–½","tooltip":"","group":"3664e4b.5830a9c","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":560,"wires":[["1971dc0b.fb7e94"]]},{"id":"402ef598.e32b1c","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð—‚","tooltip":"","group":"3664e4b.5830a9c","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":480,"wires":[["43e07dd4.c17a24"]]},{"id":"5f06c0d5.2a1a2","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð—‰","tooltip":"","group":"3664e4b.5830a9c","order":5,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":190,"y":400,"wires":[["5f1bd78e.a79258"]]},{"id":"24beec78.08ee84","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"outer_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":720,"wires":[[]]},{"id":"b07d1797.d990a8","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"outer_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":800,"wires":[["234c3e9d.1be962"]]},{"id":"bba4285f.138fb8","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"outer_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[[]]},{"id":"64d822de.9d597c","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Outer Kp","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":680,"wires":[["56b3e127.448e2","24beec78.08ee84"]]},{"id":"b05a9a9.e893668","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Outer Ki","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":180,"y":760,"wires":[["bdfe728c.1e908","b07d1797.d990a8"]]},{"id":"c8f0bb4e.911ee8","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Outer Kd","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":840,"wires":[["7800507b.3b407","bba4285f.138fb8"]]},{"id":"88446497.d9eb08","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":190,"y":920,"wires":[["c549cb0c.351f88","8010199a.bb1148"]]},{"id":"c549cb0c.351f88","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"max Î”T","tooltip":"","group":"321aaa6a.377d5e","order":11,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}Â°C","min":"1","max":"15","step":1,"x":200,"y":960,"wires":[["8010199a.bb1148"]]},{"id":"8010199a.bb1148","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"outer_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["2d586938.819696"]]},{"id":"7800507b.3b407","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð–½","tooltip":"","group":"321aaa6a.377d5e","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":880,"wires":[["bba4285f.138fb8"]]},{"id":"bdfe728c.1e908","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð—‚","tooltip":"","group":"321aaa6a.377d5e","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":800,"wires":[["b07d1797.d990a8"]]},{"id":"56b3e127.448e2","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"Kð—‰","tooltip":"","group":"321aaa6a.377d5e","order":5,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":190,"y":720,"wires":[["24beec78.08ee84"]]},{"id":"85dbbc7.185df4","type":"link in","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID trigger","links":["5010ffd6.cabb28","6c6b47e7.a7f548","7b7e6c85.997614","ddd60831.df3758","45561c48.56fff4","66f3accb.fb6d14"],"x":115,"y":300,"wires":[["37d092f8.b78d2e"]]},{"id":"f5451b57.619868","type":"function","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID - integrator max calculation","func":"\n// Calculate outer integrator max\n// Output to flow context\nif(flow.get('outer_i')>0.0){\n    flow.set('outer_integrator_max', (flow.get('outer_max')-flow.get('outer_min'))/flow.get('outer_i'))}else {\n        flow.set('outer_integrator_max', 0.0)}\n\n// Get current output max\n// Output to flow context\nif(global.get('jacket.limit')){\n    flow.set('inner_max', flow.get('inner_limit'))}else {\n        flow.set('inner_max', 100)}\n\n// Calculate inner integrator max\n// Output to flow context\nif(flow.get('inner_i')>0.0){\n    flow.set('inner_integrator_max', flow.get('inner_max')/flow.get('inner_i'))}else {\n        flow.set('inner_integrator_max', 0.0)}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[[]]},{"id":"dc338642.7a7d38","type":"link in","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["b097c6ec.5fbe5","f890e9a3.d42f88","d75d11e.f8f757","95c37b63.2a4a58","2f03decd.c6137a","234c3e9d.1be962","668f2b46.52004c","2d586938.819696","60f7dfe2.9a8ba","9bd31a5b.f45448","792bfb94.ceffa4"],"x":115,"y":240,"wires":[["f5451b57.619868"]]},{"id":"f890e9a3.d42f88","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":575,"y":480,"wires":[]},{"id":"95c37b63.2a4a58","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":575,"y":640,"wires":[]},{"id":"234c3e9d.1be962","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":575,"y":800,"wires":[]},{"id":"2d586938.819696","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":575,"y":960,"wires":[]},{"id":"3e259a61.256ff6","type":"link out","z":"7842e5d8.ba1b5c","g":"83c1f6e8.b6fda8","name":"Mash target slider output","links":["6ce6448.f7e59bc"],"x":1095,"y":100,"wires":[]},{"id":"b74a4d48.b825","type":"inject","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"-2","payloadType":"num","x":190,"y":1000,"wires":[["74398bfb.37f704","c7363c08.c3fff"]]},{"id":"74398bfb.37f704","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","label":"min Î”T","tooltip":"","group":"321aaa6a.377d5e","order":10,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}Â°C","min":"-10","max":"0","step":1,"x":200,"y":1040,"wires":[["c7363c08.c3fff"]]},{"id":"c7363c08.c3fff","type":"change","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"","rules":[{"t":"set","p":"outer_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1040,"wires":[["792bfb94.ceffa4"]]},{"id":"792bfb94.ceffa4","type":"link out","z":"7842e5d8.ba1b5c","g":"d6bcae0d.73774","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":575,"y":1040,"wires":[]},{"id":"6a6b1e7b.43d67","type":"change","z":"7842e5d8.ba1b5c","g":"83c1f6e8.b6fda8","name":"","rules":[{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["3e259a61.256ff6"]]},{"id":"af6739bb.55f8e8","type":"PID","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"Simple PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":930,"y":240,"wires":[["9b74b8ef.17ce18"]]},{"id":"e4e57a35.c12348","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"83c1f6e8.b6fda8","name":"","label":"Target","tooltip":"","group":"f0c68884.7c8b18","order":2,"width":3,"height":2,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"75","step":1,"x":770,"y":100,"wires":[["6a6b1e7b.43d67"]]},{"id":"8b293de5.c2274","type":"inject","z":"7842e5d8.ba1b5c","g":"e2215904.fce678","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":60,"wires":[["f8ac1c7e.c6793"]]},{"id":"fd9d4850.eb1cf8","type":"switch","z":"7842e5d8.ba1b5c","g":"e2215904.fce678","name":"Cascade PID or simple PID","property":"equipment.heating","propertyType":"global","rules":[{"t":"eq","v":"jacketed","vt":"str"},{"t":"eq","v":"direct","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["66f3accb.fb6d14"],["89cf45f6.ca8688"]]},{"id":"66f3accb.fb6d14","type":"link out","z":"7842e5d8.ba1b5c","g":"e2215904.fce678","name":"","links":["85dbbc7.185df4"],"x":495,"y":100,"wires":[]},{"id":"89cf45f6.ca8688","type":"link out","z":"7842e5d8.ba1b5c","g":"e2215904.fce678","name":"","links":["b6b0839d.800a6"],"x":495,"y":140,"wires":[]},{"id":"b6b0839d.800a6","type":"link in","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","links":["89cf45f6.ca8688","97646cb3.71656","ff55c217.0e93b"],"x":765,"y":240,"wires":[["af6739bb.55f8e8"]]},{"id":"f8ac1c7e.c6793","type":"switch","z":"7842e5d8.ba1b5c","g":"e2215904.fce678","name":"Manual or PID","property":"equipment.control","propertyType":"global","rules":[{"t":"eq","v":"PID","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":60,"wires":[["fd9d4850.eb1cf8"]]},{"id":"9b74b8ef.17ce18","type":"link out","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","links":["1f7f3754.389f59"],"x":1035,"y":240,"wires":[]},{"id":"82a35efd.5210e","type":"pid-autotune","z":"7842e5d8.ba1b5c","name":"Autotune","outstep":100,"maxout":100,"lookback":30,"setpoint":65,"setpointType":"num","tempVariable":"payload","tempVariableType":"msg","tempVariableMsgTopic":"autotune","x":740,"y":720,"wires":[["6ebf1449.2ebabc"],["96df769e.4ac398"],[]]},{"id":"96df769e.4ac398","type":"link out","z":"7842e5d8.ba1b5c","name":"","links":["1f7f3754.389f59"],"x":885,"y":720,"wires":[]},{"id":"6ebf1449.2ebabc","type":"debug","z":"7842e5d8.ba1b5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":660,"wires":[]},{"id":"740a6dd.283b594","type":"change","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","rules":[{"t":"set","p":"P","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"prop_band","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":340,"wires":[["97646cb3.71656"]]},{"id":"bd06422d.b8196","type":"inject","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"Default P","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"20.0","payloadType":"num","x":740,"y":300,"wires":[["24b77f3e.bed6","740a6dd.283b594"]]},{"id":"24b77f3e.bed6","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","label":"P","tooltip":"","group":"f04603e8.50a4f","order":2,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":750,"y":340,"wires":[["740a6dd.283b594"]]},{"id":"20d06773.a15cf8","type":"change","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","rules":[{"t":"set","p":"I","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"t_integral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":420,"wires":[["1e6bb973.6b1d97"]]},{"id":"e3a59bcf.a15dd8","type":"inject","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"Default I","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"1","payloadType":"num","x":740,"y":380,"wires":[["88497696.f18dd8","20d06773.a15cf8"]]},{"id":"88497696.f18dd8","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","label":"I","tooltip":"","group":"f04603e8.50a4f","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":770,"y":420,"wires":[["20d06773.a15cf8"]]},{"id":"f780b1d4.1f718","type":"change","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","rules":[{"t":"set","p":"D","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"t_derivative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":500,"wires":[["ff55c217.0e93b"]]},{"id":"50a83688.11d978","type":"inject","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"Default D","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"30","payloadType":"num","x":740,"y":460,"wires":[["218cdf0e.268ad","f780b1d4.1f718"]]},{"id":"218cdf0e.268ad","type":"ui_numeric","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","label":"D","tooltip":"","group":"f04603e8.50a4f","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":770,"y":500,"wires":[["f780b1d4.1f718"]]},{"id":"97646cb3.71656","type":"link out","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","links":["b6b0839d.800a6"],"x":1095,"y":340,"wires":[]},{"id":"1e6bb973.6b1d97","type":"link out","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","links":[],"x":1095,"y":420,"wires":[]},{"id":"ff55c217.0e93b","type":"link out","z":"7842e5d8.ba1b5c","g":"8d7bac9f.59ba8","name":"","links":["b6b0839d.800a6"],"x":1095,"y":500,"wires":[]},{"id":"3664e4b.5830a9c","type":"ui_group","name":"Jacket Cascade PID","tab":"9d60f4cf.750658","order":2,"disp":true,"width":"6","collapse":false},{"id":"321aaa6a.377d5e","type":"ui_group","name":"Charge Cascade PID","tab":"9d60f4cf.750658","order":3,"disp":true,"width":"6","collapse":false},{"id":"f0c68884.7c8b18","type":"ui_group","name":"Input Control","tab":"80cd4062.93a5","order":1,"disp":true,"width":9,"collapse":false},{"id":"f04603e8.50a4f","type":"ui_group","name":"Regular PID","tab":"9d60f4cf.750658","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d60f4cf.750658","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"80cd4062.93a5","type":"ui_tab","name":"Distilling","icon":"dashboard","order":2,"disabled":false,"hidden":false}]