Development/Flows/flows/Settings.json
[{"id":"4ef08725.8fbdd","type":"tab","label":"Settings","disabled":false,"info":"This flow displays output from the PID \nalgorithm. This can be useful for tuning \npurposes."},{"id":"1446f1d5.4ab00e","type":"group","z":"4ef08725.8fbdd","name":"Cascade PID","style":{"label":true},"nodes":["e82101b5.32efb8","527896c3.acf218","fba1b06.ac1075","3f2878d3.94f4e","b4a403cc.f45e58","2aae55db.648c0a","b627264.9440ad8","b8578d41.4523a","204b1bc3.f8ebdc","6ce6448.f7e59bc","417ad43f.c5b28c"],"x":34,"y":19,"w":612,"h":362},{"id":"3270eb4c.6877e4","type":"group","z":"4ef08725.8fbdd","name":"Dashboard","style":{"label":true},"nodes":["a50f903b.e0fe","3274a395.80ef6c"],"x":694,"y":219,"w":362,"h":82},{"id":"5a969b04.935e84","type":"group","z":"4ef08725.8fbdd","name":"Settings","style":{"label":true},"nodes":["241fde88.5d9662","12916d6c.162033","4ebc903b.7570c","ca92425d.77b8","6e87e2dc.f004dc","9486cfb0.dbb05","b944178b.aafc98"],"x":34,"y":399,"w":592,"h":202},{"id":"cd30fb5c.2f91f8","type":"group","z":"4ef08725.8fbdd","name":"Simple PID","style":{"label":true},"nodes":["331f0c30.0eaf84","6d1b4227.4e146c","834663e4.c08d7","48ae8805.06b6a"],"x":694,"y":19,"w":332,"h":162},{"id":"e82101b5.32efb8","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"3664e4b.5830a9c","order":6,"width":2,"height":1,"name":"Inner PID Integrator","label":"Integral","format":"{{inner_integrator | number:1}}°C⦁s","layout":"col-center","x":510,"y":100,"wires":[]},{"id":"527896c3.acf218","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"3664e4b.5830a9c","order":4,"width":2,"height":1,"name":"Inner PID Error","label":"Error","format":"{{last_inner_error | number:1}}°C","layout":"col-center","x":500,"y":60,"wires":[]},{"id":"fba1b06.ac1075","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"3664e4b.5830a9c","order":8,"width":2,"height":1,"name":"Inner PID Derivative","label":"Derivative","format":"{{inner_derivative | number:1}}°C/s","layout":"col-center","x":510,"y":140,"wires":[]},{"id":"3f2878d3.94f4e","type":"link in","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","name":"Cascade PID display","links":["3c1c43fe.a90e0c"],"x":315,"y":160,"wires":[["e82101b5.32efb8","fba1b06.ac1075","527896c3.acf218","2aae55db.648c0a","b4a403cc.f45e58","b627264.9440ad8","b8578d41.4523a","204b1bc3.f8ebdc"]]},{"id":"331f0c30.0eaf84","type":"ui_text","z":"4ef08725.8fbdd","g":"cd30fb5c.2f91f8","group":"f04603e8.50a4f","order":3,"width":2,"height":1,"name":"PID Integrator","label":"Integral","format":"{{integrator | number:1}}°C⦁s","layout":"col-center","x":920,"y":100,"wires":[]},{"id":"6d1b4227.4e146c","type":"ui_text","z":"4ef08725.8fbdd","g":"cd30fb5c.2f91f8","group":"f04603e8.50a4f","order":1,"width":2,"height":1,"name":"PID Error","label":"Error","format":"{{last_error | number:1}}°C","layout":"col-center","x":900,"y":60,"wires":[]},{"id":"834663e4.c08d7","type":"ui_text","z":"4ef08725.8fbdd","g":"cd30fb5c.2f91f8","group":"f04603e8.50a4f","order":5,"width":2,"height":1,"name":"PID Derivative","label":"Derivative","format":"{{derivative | number:1}}°C/s","layout":"col-center","x":920,"y":140,"wires":[]},{"id":"48ae8805.06b6a","type":"link in","z":"4ef08725.8fbdd","g":"cd30fb5c.2f91f8","name":"PID","links":[],"x":735,"y":100,"wires":[["331f0c30.0eaf84","834663e4.c08d7","6d1b4227.4e146c"]]},{"id":"b4a403cc.f45e58","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"321aaa6a.377d5e","order":6,"width":2,"height":1,"name":"Outer PID Integrator","label":"Integral","format":"{{outer_integrator | number:1}}°C⦁s","layout":"col-center","x":520,"y":220,"wires":[]},{"id":"2aae55db.648c0a","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"321aaa6a.377d5e","order":4,"width":2,"height":1,"name":"Outer PID Error","label":"Error","format":"{{last_outer_error | number:1}}°C","layout":"col-center","x":500,"y":180,"wires":[]},{"id":"b627264.9440ad8","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"321aaa6a.377d5e","order":8,"width":2,"height":1,"name":"Outer PID Derivative","label":"Derivative","format":"{{outer_derivative | number:1}}°C/s","layout":"col-center","x":520,"y":260,"wires":[]},{"id":"b8578d41.4523a","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"3664e4b.5830a9c","order":2,"width":2,"height":1,"name":"Inner Target","label":"Target","format":"{{inner_target | number:1}}°C","layout":"col-center","x":490,"y":300,"wires":[]},{"id":"204b1bc3.f8ebdc","type":"ui_text","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","group":"321aaa6a.377d5e","order":2,"width":2,"height":1,"name":"Outer Output","label":"Output","format":"{{outer_output | number:1}}°C","layout":"col-center","x":490,"y":340,"wires":[]},{"id":"6ce6448.f7e59bc","type":"link in","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","name":"","links":["64f4ecd7.223dac","3e259a61.256ff6"],"x":75,"y":280,"wires":[["417ad43f.c5b28c"]]},{"id":"417ad43f.c5b28c","type":"change","z":"4ef08725.8fbdd","g":"1446f1d5.4ab00e","name":"","rules":[{"t":"set","p":"inner_target","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":320,"wires":[["b8578d41.4523a"]]},{"id":"241fde88.5d9662","type":"inject","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"Initial Depleg Delta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":170,"y":440,"wires":[["12916d6c.162033"]]},{"id":"12916d6c.162033","type":"change","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"set global.dephleg.delta","rules":[{"t":"set","p":"dephleg.delta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["ca92425d.77b8"]]},{"id":"4ebc903b.7570c","type":"ui_numeric","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"","label":"Depleg Delta","tooltip":"","group":"50b35c82.f9a6f4","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":".1","x":180,"y":480,"wires":[["12916d6c.162033"]]},{"id":"ca92425d.77b8","type":"link out","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"Dephleg Delta","links":["9c094d41.16fba"],"x":585,"y":460,"wires":[]},{"id":"a50f903b.e0fe","type":"ui_button","z":"4ef08725.8fbdd","g":"3270eb4c.6877e4","name":"","group":"50b35c82.f9a6f4","order":3,"width":0,"height":0,"passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Distilling","payloadType":"str","topic":"","x":790,"y":260,"wires":[["3274a395.80ef6c"]]},{"id":"3274a395.80ef6c","type":"ui_ui_control","z":"4ef08725.8fbdd","g":"3270eb4c.6877e4","name":"","events":"all","x":970,"y":260,"wires":[[]]},{"id":"6e87e2dc.f004dc","type":"change","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"","rules":[{"t":"set","p":"jacket.limit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"9486cfb0.dbb05","type":"inject","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"Initial Jacket Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":170,"y":520,"wires":[["6e87e2dc.f004dc","b944178b.aafc98"]]},{"id":"b944178b.aafc98","type":"ui_numeric","z":"4ef08725.8fbdd","g":"5a969b04.935e84","name":"","label":"Jacket Temp Limit","tooltip":"","group":"50b35c82.f9a6f4","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".5","x":170,"y":560,"wires":[["6e87e2dc.f004dc"]]},{"id":"3664e4b.5830a9c","type":"ui_group","name":"Jacket Cascade PID","tab":"9d60f4cf.750658","order":2,"disp":true,"width":"6","collapse":false},{"id":"f04603e8.50a4f","type":"ui_group","name":"Regular PID","tab":"9d60f4cf.750658","order":1,"disp":true,"width":"6","collapse":false},{"id":"321aaa6a.377d5e","type":"ui_group","name":"Charge Cascade PID","tab":"9d60f4cf.750658","order":3,"disp":true,"width":"6","collapse":false},{"id":"50b35c82.f9a6f4","type":"ui_group","name":"Settings","tab":"9d60f4cf.750658","order":4,"disp":true,"width":"6","collapse":false},{"id":"9d60f4cf.750658","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false}]