Development/Flows/flows/Temp to ABV.json
[{"id":"9ef73f39.07419","type":"tab","label":"Temp to ABV","disabled":false,"info":""},{"id":"74978567.e7b37c","type":"group","z":"9ef73f39.07419","name":"Product ABV","style":{"label":true},"nodes":["f120818e.7d103","2ebbf820.491248","c31ee75f.514fb8"],"x":194,"y":359,"w":322,"h":82},{"id":"be7c7764.f4fc78","type":"group","z":"9ef73f39.07419","name":"Pot Vapor ABV","style":{"label":true},"nodes":["58e67b76.d27184","3e7d53.33b0e2ae","ae94a037.474f4"],"x":194,"y":259,"w":322,"h":82},{"id":"f508ed4d.b60f3","type":"group","z":"9ef73f39.07419","name":"Charge ABV","style":{"label":true},"nodes":["c12e92d7.21f21","717cdbe5.5a97a4","580a9a57.60be34","c6eee28a.e8ba6","1b847843.7b1828"],"x":194,"y":119,"w":682,"h":122},{"id":"c12e92d7.21f21","type":"function","z":"9ef73f39.07419","g":"f508ed4d.b60f3","name":"LiquidTempABV","func":"TempABV = {\n    78.2 : 96.0,\n    78.3 : 93.6,\n    78.4 : 92.3,\n    78.5 : 91.3,\n    78.6 : 90.0,\n    78.7 : 89.0,\n    78.8 : 88.0,\n    78.9 : 86.9,\n    79.0 : 86.0,\n    79.1 : 85.0,\n    79.2 : 84.1,\n    79.3 : 83.1,\n    79.4 : 82.2,\n    79.5 : 81.3,\n    79.6 : 80.3,\n    79.7 : 79.4,\n    79.8 : 78.4,\n    79.9 : 77.4,\n    80.0 : 76.5,\n    80.1 : 75.5,\n    80.2 : 74.6,\n    80.3 : 73.7,\n    80.4 : 72.8,\n    80.5 : 71.9,\n    80.6 : 71.0,\n    80.7 : 70.3,\n    80.8 : 69.6,\n    80.9 : 68.8,\n    81.0 : 67.7,\n    81.1 : 66.6,\n    81.2 : 65.6,\n    81.3 : 64.7,\n    81.4 : 63.7,\n    81.5 : 62.8,\n    81.6 : 61.9,\n    81.7 : 60.9,\n    81.8 : 60.0,\n    81.9 : 59.0,\n    82.0 : 58.1,\n    82.1 : 57.1,\n    82.2 : 56.3,\n    82.3 : 55.5,\n    82.4 : 54.5,\n    82.5 : 53.6,\n    82.6 : 52.7,\n    82.7 : 51.8,\n    82.8 : 50.9,\n    82.9 : 50.0,\n    83.0 : 49.1,\n    83.1 : 48.2,\n    83.2 : 47.2,\n    83.3 : 46.3,\n    83.4 : 45.5,\n    83.5 : 44.7,\n    83.6 : 44.0,\n    83.7 : 43.2,\n    83.8 : 42.4,\n    83.9 : 41.7,\n    84.0 : 41.1,\n    84.1 : 40.4,\n    84.2 : 39.7,\n    84.3 : 39.0,\n    84.4 : 38.4,\n    84.5 : 37.7,\n    84.6 : 37.0,\n    84.7 : 36.3,\n    84.8 : 35.6,\n    84.9 : 34.8,\n    85.0 : 34.2,\n    85.1 : 33.6,\n    85.2 : 32.9,\n    85.3 : 32.3,\n    85.4 : 31.7,\n    85.5 : 31.1,\n    85.6 : 30.3,\n    85.7 : 29.7,\n    85.8 : 29.0,\n    85.9 : 28.4,\n    86.0 : 27.7,\n    86.1 : 27.0,\n    86.2 : 26.6,\n    86.3 : 26.4,\n    86.4 : 26.3,\n    86.5 : 26.1,\n    86.6 : 26.0,\n    86.7 : 25.8,\n    86.8 : 25.6,\n    86.9 : 25.4,\n    87.0 : 25.2,\n    87.1 : 25.0,\n    87.2 : 24.8,\n    87.3 : 24.6,\n    87.4 : 24.2,\n    87.5 : 23.8,\n    87.6 : 23.4,\n    87.7 : 23.0,\n    87.8 : 22.6,\n    87.9 : 22.2,\n    88.0 : 21.9,\n    88.1 : 21.6,\n    88.2 : 21.3,\n    88.3 : 21.0,\n    88.4 : 20.7,\n    88.5 : 20.4,\n    88.6 : 20.1,\n    88.7 : 19.8,\n    88.8 : 18.5,\n    88.9 : 19.2,\n    89.0 : 19.0,\n    89.1 : 18.7,\n    89.2 : 18.4,\n    89.3 : 18.1,\n    89.4 : 17.8,\n    89.5 : 17.5,\n    89.6 : 17.2,\n    89.7 : 16.9,\n    89.8 : 16.7,\n    89.9 : 16.4,\n    90.0 : 16.2,\n    90.1 : 15.9,\n    90.2 : 15.7,\n    90.3 : 15.5,\n    90.4 : 15.2,\n    90.5 : 15.0,\n    90.6 : 14.8,\n    90.7 : 14.6,\n    90.8 : 14.4,\n    90.9 : 14.1,\n    91.0 : 13.9,\n    91.1 : 13.7,\n    91.2 : 13.5,\n    91.3 : 13.3,\n    91.4 : 13.2,\n    91.5 : 13.0,\n    91.6 : 12.8,\n    91.7 : 12.6,\n    91.8 : 12.4,\n    91.9 : 12.2,\n    92.0 : 12.0,\n    92.1 : 11.8,\n    92.2 : 11.6,\n    92.3 : 11.4,\n    92.4 : 11.2,\n    92.5 : 11.1,\n    92.6 : 10.9,\n    92.7 : 10.7,\n    92.8 : 10.6,\n    92.9 : 10.4,\n    93.0 : 10.2,\n    93.1 : 10.0,\n    93.2 : 9.8,\n    93.3 : 9.6,\n    93.4 : 9.4,\n    93.5 : 9.2,\n    93.6 : 9.0,\n    93.7 : 8.8,\n    93.8 : 8.6,\n    93.9 : 8.5,\n    94.0 : 8.3,\n    94.1 : 8.1,\n    94.2 : 8.0,\n    94.3 : 7.9,\n    94.4 : 7.7,\n    94.5 : 7.6,\n    94.6 : 7.4,\n    94.7 : 7.2,\n    94.8 : 7.0,\n    94.9 : 6.8,\n    95.0 : 6.6,\n    95.1 : 6.4,\n    95.2 : 6.3,\n    95.3 : 6.1,\n    95.4 : 6.0,\n    95.5 : 5.8,\n    95.6 : 5.7,\n    95.7 : 5.5,\n    95.8 : 5.4,\n    95.9 : 5.2,\n    96.0 : 5.0,\n    96.1 : 4.9,\n    96.2 : 4.8,\n    96.3 : 4.7,\n    96.4 : 4.6,\n    96.5 : 4.5,\n    96.6 : 4.4,\n    96.7 : 4.3,\n    96.8 : 4.1,\n    96.9 : 4.0,\n    97.0 : 3.9,\n    97.1 : 3.8,\n    97.2 : 3.6,\n    97.3 : 3.5,\n    97.4 : 3.3,\n    97.5 : 3.2,\n    97.6 : 3.0,\n    97.7 : 2.9,\n    97.8 : 2.8,\n    97.9 : 2.7,\n    98.0 : 2.6,\n    98.1 : 2.5,\n    98.2 : 2.3,\n    98.3 : 2.2,\n    98.4 : 2.1,\n    98.5 : 2.0,\n    98.6 : 1.8,\n    98.7 : 1.6,\n    98.8 : 1.5,\n    98.9 : 1.3,\n    99.0 : 1.2,\n    99.1 : 1.1,\n    99.2 : 1.0,\n    99.3 : 0.9,\n    99.4 : 0.8,\n    99.5 : 0.7,\n    99.6 : 0.7,\n    99.7 : 0.6,\n    99.8 : 0.4,\n    99.9 : 0.2,\n    100.0 : 0\n}\n\nmsg.payload = TempABV[msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["717cdbe5.5a97a4"]]},{"id":"717cdbe5.5a97a4","type":"switch","z":"9ef73f39.07419","g":"f508ed4d.b60f3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"batch.initialABV","vt":"global"},{"t":"lt","v":"batch.initialABV","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["c6eee28a.e8ba6"],["580a9a57.60be34"]]},{"id":"580a9a57.60be34","type":"link out","z":"9ef73f39.07419","g":"f508ed4d.b60f3","name":"Charge ABV","links":["121a4af7.3a2305"],"x":835,"y":200,"wires":[]},{"id":"c6eee28a.e8ba6","type":"change","z":"9ef73f39.07419","g":"f508ed4d.b60f3","name":"Charge Threshold","rules":[{"t":"set","p":"payload","pt":"msg","to":"batch.initialABV","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["580a9a57.60be34"]]},{"id":"1b847843.7b1828","type":"link in","z":"9ef73f39.07419","g":"f508ed4d.b60f3","name":"Charge temp to ABV","links":["95790b99.012848"],"x":235,"y":180,"wires":[["c12e92d7.21f21"]]},{"id":"58e67b76.d27184","type":"link out","z":"9ef73f39.07419","g":"be7c7764.f4fc78","name":"Pot Vapor ABV","links":["cdbde309.46fda"],"x":475,"y":300,"wires":[]},{"id":"3e7d53.33b0e2ae","type":"link in","z":"9ef73f39.07419","g":"be7c7764.f4fc78","name":"Pot Vapor temp to ABV","links":["a591d336.3a884"],"x":235,"y":300,"wires":[["ae94a037.474f4"]]},{"id":"f120818e.7d103","type":"link out","z":"9ef73f39.07419","g":"74978567.e7b37c","name":"Product ABV","links":["edb61981.193898"],"x":475,"y":400,"wires":[]},{"id":"2ebbf820.491248","type":"link in","z":"9ef73f39.07419","g":"74978567.e7b37c","name":"Head Vapor temp to ABV","links":["49c701a0.f99fc"],"x":235,"y":400,"wires":[["c31ee75f.514fb8"]]},{"id":"c31ee75f.514fb8","type":"function","z":"9ef73f39.07419","g":"74978567.e7b37c","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["f120818e.7d103"]]},{"id":"ae94a037.474f4","type":"function","z":"9ef73f39.07419","g":"be7c7764.f4fc78","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["58e67b76.d27184"]]}]