V1.0-Beta/Flows/package.json
[{"id":"7842e5d8.ba1b5c","type":"tab","label":"Cascade PID","disabled":false,"info":""},{"id":"aa302b94.cd9608","type":"tab","label":"Dephleg Control","disabled":false,"info":""},{"id":"bf8a72d.780759","type":"tab","label":"Distillery Temps","disabled":false,"info":""},{"id":"5b1407f1.d96848","type":"tab","label":"Distilling UI","disabled":false,"info":""},{"id":"3781abdd.207e34","type":"tab","label":"Element Control","disabled":false,"info":""},{"id":"43bea4ab.d3ab4c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"29ecf7a3.4cb5f8","type":"tab","label":"Initiate","disabled":false,"info":""},{"id":"1bbd252a.068abb","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"4ef08725.8fbdd","type":"tab","label":"Settings","disabled":false,"info":"This flow displays output from the PID \nalgorithm. This can be useful for tuning \npurposes."},{"id":"7c1b1ea9.f4fd7","type":"tab","label":"Start up Form","disabled":false,"info":""},{"id":"9ef73f39.07419","type":"tab","label":"Temp to ABV","disabled":false,"info":""},{"id":"b4973237.46ab6","type":"subflow","name":"Process Simulation","info":"","category":"","in":[{"x":37,"y":103,"wires":[{"id":"ec719d4d.0d54f8"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"ae1a6e5.d4c0d9","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"62ddf792.853598","type":"group","z":"bf8a72d.780759","name":"Sensor Selection","style":{"label":true},"nodes":["98b213c3.5e563","47d22f06.ab3f8","f50985c4.11e928","7d6fb46d.6ef61c"],"x":74,"y":19},{"id":"8571ed47.189fe","type":"group","z":"bf8a72d.780759","name":"DS18B20 Sensors","style":{"label":true},"nodes":["6e701c85.1b4b04","250556d8.f186ea","e473655e.27a1f8","b694f76e.a3d898","533e0288.169cbc","eeba3dd2.57219","df5d9768.4f7848","d067b650.4f0a88","f4fa518a.f3477","37fda1c8.8d896e","e11c1adc.6f4c58"],"x":154,"y":179},{"id":"abbb9e71.5c066","type":"group","z":"bf8a72d.780759","name":"RTD Sensors","style":{"label":true},"nodes":["76d43b9d.1a55d4","90e4989.d864168","c30b100.c8fd7f","816df909.2497c8","f52a1cd.1e5cbe","6dbadaee.0cf744","507231c4.53a4a","67163431.da8a2c","bbccda6b.f40168","9764455b.c423f8","8a3ce6d1.82f708"],"x":154,"y":439},{"id":"96e2c541.670608","type":"group","z":"bf8a72d.780759","name":"Head Vapor Temp","style":{"label":true},"nodes":["ecacda2c.3afc58","f0f96cbb.b0c7b","195ab73.cf70249","e64af20e.1405d","5b156042.6fb2a"],"x":694,"y":619},{"id":"83fd4423.db9448","type":"group","z":"bf8a72d.780759","name":"Dephleg Temp","style":{"label":true},"nodes":["34806f76.8d3bb","66d5c2e2.415a8c","399458e1.0033c8","7aaa59d2.931158","40b8ca3b.d19d14"],"x":694,"y":479},{"id":"c59fe98.7ce2318","type":"group","z":"bf8a72d.780759","name":"Pot Vapor Temp","style":{"label":true},"nodes":["5fb15a9a.b1d4d4","ddfdc9b9.1046c8","3876e625.29cd6a","c8132ffd.a837e","96214383.8888e"],"x":694,"y":339},{"id":"820b3a6f.7d4bf8","type":"group","z":"bf8a72d.780759","name":"Charge Temp","style":{"label":true},"nodes":["318fddbc.d98f72","ba59e38e.b6aec","3576afe2.88414","bb9c0ec0.9bd82","7525e55e.29aa8c"],"x":694,"y":199},{"id":"680e4b13.489204","type":"group","z":"bf8a72d.780759","name":"Jacket Temp","style":{"label":true},"nodes":["5d19ac5e.bb7c74","ddd60831.df3758","24fafe0c.6d0dc2","26607619.d622ca","248f68fc.83ec88","d486bed4.c8ddf"],"x":694,"y":19},{"id":"60e75bea.b09b94","type":"group","z":"7c1b1ea9.f4fd7","name":"Batch Information","style":{"label":true},"nodes":["25909bc2.e78714","f6f664e4.df1288","1dff7527.0c8b5b","a3cb27e1.b242f8","bad72e17.bdeee","5cd8ce31.b774f","41aae92d.ec9df8","6ce11651.012638","5388cc52.d414c4","d0a3f9df.c3d4f8","d4cf72af.f33d9","61567072.6807f"],"x":234,"y":39},{"id":"4b0dda2.671d124","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Galveston Distilling Co","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"80cd4062.93a5","type":"ui_tab","name":"Distilling","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0e00a00.81b428","type":"ui_group","name":"HLT","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea5e6691.a9d4b8","type":"ui_group","name":"MLT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d59abb0.326b08","type":"ui_group","name":"BK","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"3a5d5e9b.7af2a2","type":"ui_group","name":"Timer","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"867a95f.bdb8168","type":"ui_group","name":"Status","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"9f19d793.eac5f8","type":"ui_group","name":"Batch Information","tab":"c356d94c.a5acd8","order":1,"disp":true,"width":"4","collapse":false},{"id":"f52ce78c.180578","type":"ui_group","name":"MLT Calibration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4db7f25b.b9ea8c","type":"ui_group","name":"BK Calibration","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"99bd808a.f2698","type":"ui_group","name":"MLT Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96ccbe54.5ee14","type":"ui_group","name":"HLT Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e71aa9ca.9bbda8","type":"ui_group","name":"BK Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6078a96a.d1d938","type":"ui_group","name":"Logging","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e010af88.2414c","type":"ui_group","name":"Settings","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"4871467d.3f6578","type":"ui_group","name":"Mash Schedule","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"6c2dc2b5.3e20ac","type":"ui_group","name":"Bottom","tab":"","order":3,"disp":true,"width":8,"collapse":false},{"id":"4ab794a8.956e2c","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":4,"width":8,"height":1},{"id":"c197493c.080228","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":6,"width":2,"height":1},{"id":"a97ca045.0ef45","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":7,"width":2,"height":1},{"id":"b921988f.6da898","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brew2","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"f6e1ef23.f6f118","type":"ui_group","name":"MASH","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9fe30f36.92cc2","type":"ui_group","name":"BOIL","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3e4e5c9.37f76","type":"ui_group","name":"BOIL SETTINGS","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"321aaa6a.377d5e","type":"ui_group","name":"Charge Cascade PID","tab":"9d60f4cf.750658","order":3,"disp":true,"width":"6","collapse":false},{"id":"7311bc5c.585f8c","type":"ui_group","name":"BOTTOM","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"63e15812.768e7","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brew2","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"c8c78fe4.1dbea","type":"ui_tab","name":"General Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8d73628b.8b862","type":"ui_group","name":"LOGGING","tab":"c8c78fe4.1dbea","order":1,"disp":true,"width":"6","collapse":false},{"id":"3664e4b.5830a9c","type":"ui_group","name":"Jacket Cascade PID","tab":"9d60f4cf.750658","order":2,"disp":true,"width":"6","collapse":false},{"id":"cafd8af.6569df8","type":"ui_group","name":"SETTINGS","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96bf5896.1b3","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":3,"width":1,"height":1},{"id":"2cfdf347.8a409c","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":5,"width":1,"height":1},{"id":"6db8096d.374e48","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":8,"width":1,"height":1},{"id":"bb34ebdd.441c78","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":11,"width":6,"height":1},{"id":"c23518b8.fe4078","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":3,"width":1,"height":1},{"id":"77749ace.a27fd4","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":5,"width":1,"height":1},{"id":"161e0a39.182ef6","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":8,"width":1,"height":1},{"id":"b6e497ee.fe7be","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":9,"width":6,"height":1},{"id":"ec60eb52.b964f8","type":"ui_spacer","name":"spacer","group":"7311bc5c.585f8c","order":1,"width":1,"height":1},{"id":"2d0bf0ca.7f6d5","type":"ui_spacer","name":"spacer","group":"7311bc5c.585f8c","order":3,"width":1,"height":1},{"id":"44727e58.1ef0a","type":"ui_spacer","name":"spacer","group":"cafd8af.6569df8","order":4,"width":"6","height":1},{"id":"d950fab6.61d3c8","type":"ui_spacer","name":"spacer","group":"8d73628b.8b862","order":6,"width":6,"height":1},{"id":"958ff866.e606f8","type":"ui_group","name":"Reflux","tab":"80cd4062.93a5","order":2,"disp":true,"width":"9","collapse":false},{"id":"5ba9cb15.acfaf4","type":"ui_spacer","name":"spacer","group":"f3e4e5c9.37f76","order":5,"width":4,"height":1},{"id":"5fa23c95.9835e4","type":"ui_group","name":"Output","tab":"80cd4062.93a5","order":3,"disp":true,"width":9,"collapse":false},{"id":"f0c68884.7c8b18","type":"ui_group","name":"Input Control","tab":"80cd4062.93a5","order":1,"disp":true,"width":9,"collapse":false},{"id":"f04603e8.50a4f","type":"ui_group","name":"Regular PID","tab":"9d60f4cf.750658","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d60f4cf.750658","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"50b35c82.f9a6f4","type":"ui_group","name":"Settings","tab":"9d60f4cf.750658","order":4,"disp":true,"width":"6","collapse":false},{"id":"ce7416d6.e2ed68","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":2,"width":4,"height":1},{"id":"a7187e6f.a930c","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":2,"width":4,"height":1},{"id":"1a3677cf.412528","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":10,"width":1,"height":1},{"id":"e9e19cf4.359f3","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":12,"width":1,"height":1},{"id":"c356d94c.a5acd8","type":"ui_tab","name":"New Run","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5391d36f.c4282c","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"Test","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"40070099.65227","type":"ui_group","name":"Equipment","tab":"c356d94c.a5acd8","order":null,"disp":true,"width":4,"collapse":false},{"id":"bf22b89c.a5d8a8","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":8,"width":3,"height":1},{"id":"bc907ce9.18747","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":10,"width":3,"height":1},{"id":"b63bd56b.5be5f8","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":11,"width":3,"height":1},{"id":"1b927a23.581b36","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":12,"width":3,"height":1},{"id":"7d6fb46d.6ef61c","type":"link out","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","links":["8a3ce6d1.82f708"],"x":575,"y":100,"wires":[]},{"id":"f50985c4.11e928","type":"link out","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","links":["e11c1adc.6f4c58"],"x":575,"y":60,"wires":[]},{"id":"47d22f06.ab3f8","type":"switch","z":"bf8a72d.780759","g":"62ddf792.853598","name":"Sensor Type Selection","property":"batch.sensor","propertyType":"global","rules":[{"t":"eq","v":"ds18b20","vt":"str"},{"t":"eq","v":"RTD","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":80,"wires":[["f50985c4.11e928"],["7d6fb46d.6ef61c"]]},{"id":"8a3ce6d1.82f708","type":"link in","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["7d6fb46d.6ef61c"],"x":195,"y":560,"wires":[["90e4989.d864168","c30b100.c8fd7f","816df909.2497c8","76d43b9d.1a55d4","f52a1cd.1e5cbe"]]},{"id":"e11c1adc.6f4c58","type":"link in","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["f50985c4.11e928"],"x":195,"y":300,"wires":[["6e701c85.1b4b04","250556d8.f186ea","e473655e.27a1f8","b694f76e.a3d898","533e0288.169cbc"]]},{"id":"9764455b.c423f8","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["5b156042.6fb2a"],"x":495,"y":640,"wires":[]},{"id":"bbccda6b.f40168","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["40b8ca3b.d19d14"],"x":495,"y":600,"wires":[]},{"id":"37fda1c8.8d896e","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["5b156042.6fb2a"],"x":495,"y":380,"wires":[]},{"id":"5b156042.6fb2a","type":"link in","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","links":["37fda1c8.8d896e","9764455b.c423f8"],"x":735,"y":680,"wires":[["f0f96cbb.b0c7b","ecacda2c.3afc58"]]},{"id":"f4fa518a.f3477","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["40b8ca3b.d19d14"],"x":495,"y":340,"wires":[]},{"id":"40b8ca3b.d19d14","type":"link in","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","links":["f4fa518a.f3477","bbccda6b.f40168"],"x":735,"y":540,"wires":[["66d5c2e2.415a8c","34806f76.8d3bb"]]},{"id":"67163431.da8a2c","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["96214383.8888e"],"x":495,"y":560,"wires":[]},{"id":"d067b650.4f0a88","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["96214383.8888e"],"x":495,"y":300,"wires":[]},{"id":"96214383.8888e","type":"link in","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","links":["d067b650.4f0a88","67163431.da8a2c"],"x":735,"y":400,"wires":[["ddfdc9b9.1046c8","5fb15a9a.b1d4d4"]]},{"id":"507231c4.53a4a","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["7525e55e.29aa8c"],"x":495,"y":520,"wires":[]},{"id":"7525e55e.29aa8c","type":"link in","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","links":["df5d9768.4f7848","507231c4.53a4a"],"x":735,"y":260,"wires":[["3576afe2.88414","318fddbc.d98f72"]]},{"id":"df5d9768.4f7848","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["7525e55e.29aa8c"],"x":495,"y":260,"wires":[]},{"id":"6dbadaee.0cf744","type":"link out","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"","links":["d486bed4.c8ddf"],"x":495,"y":480,"wires":[]},{"id":"eeba3dd2.57219","type":"link out","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"","links":["d486bed4.c8ddf"],"x":495,"y":220,"wires":[]},{"id":"d486bed4.c8ddf","type":"link in","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","links":["eeba3dd2.57219","6dbadaee.0cf744"],"x":735,"y":100,"wires":[["ddd60831.df3758","24fafe0c.6d0dc2","5d19ac5e.bb7c74"]]},{"id":"f52a1cd.1e5cbe","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Head Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":370,"y":640,"wires":[["9764455b.c423f8"]]},{"id":"816df909.2497c8","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Pot Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":560,"wires":[["67163431.da8a2c"]]},{"id":"c30b100.c8fd7f","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Charge Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":520,"wires":[["507231c4.53a4a"]]},{"id":"90e4989.d864168","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Jacket Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":350,"y":480,"wires":[["6dbadaee.0cf744"]]},{"id":"76d43b9d.1a55d4","type":"rtd","z":"bf8a72d.780759","g":"abbb9e71.5c066","name":"Dephleg Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":600,"wires":[["bbccda6b.f40168"]]},{"id":"e64af20e.1405d","type":"change","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Head Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":700,"wires":[["195ab73.cf70249"]]},{"id":"7aaa59d2.931158","type":"change","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Depleg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["399458e1.0033c8"]]},{"id":"c8132ffd.a837e","type":"change","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pot Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":420,"wires":[["3876e625.29cd6a"]]},{"id":"bb9c0ec0.9bd82","type":"change","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":280,"wires":[["ba59e38e.b6aec"]]},{"id":"248f68fc.83ec88","type":"change","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Jacket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":140,"wires":[["26607619.d622ca"]]},{"id":"195ab73.cf70249","type":"link out","z":"bf8a72d.780759","g":"96e2c541.670608","name":"Head Vapor Temp","links":["c6deb5b2.5f0928"],"x":1095,"y":700,"wires":[]},{"id":"399458e1.0033c8","type":"link out","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"Dephleg temp","links":["5ea8f5d1.fd971c","66d5f7bc.90e308","afeff59.6b03208"],"x":1115,"y":560,"wires":[]},{"id":"3876e625.29cd6a","type":"link out","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"Pot_Vapor temp","links":["57f2df9e.4d454"],"x":1115,"y":420,"wires":[]},{"id":"f0f96cbb.b0c7b","type":"change","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","rules":[{"t":"set","p":"head_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":660,"wires":[[]]},{"id":"66d5c2e2.415a8c","type":"change","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","rules":[{"t":"set","p":"dephleg.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":520,"wires":[[]]},{"id":"ddfdc9b9.1046c8","type":"change","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","rules":[{"t":"set","p":"pot_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":380,"wires":[[]]},{"id":"3576afe2.88414","type":"change","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","rules":[{"t":"set","p":"charge.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[[]]},{"id":"ba59e38e.b6aec","type":"link out","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"Charge Temp","links":["4813c991.453bb8"],"x":1115,"y":280,"wires":[]},{"id":"26607619.d622ca","type":"link out","z":"bf8a72d.780759","g":"680e4b13.489204","name":"Jacket Temp","links":["ee9e83c1.63cc4"],"x":1135,"y":140,"wires":[]},{"id":"24fafe0c.6d0dc2","type":"change","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","rules":[{"t":"set","p":"jacket.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":100,"wires":[[]]},{"id":"533e0288.169cbc","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Head Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":370,"y":380,"wires":[["37fda1c8.8d896e"]]},{"id":"ecacda2c.3afc58","type":"smooth","z":"bf8a72d.780759","g":"96e2c541.670608","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":700,"wires":[["e64af20e.1405d"]]},{"id":"b694f76e.a3d898","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Dephleg temp","topic":"","sensorid":"00-240000000000","timer":"1","repeat":false,"x":360,"y":340,"wires":[["f4fa518a.f3477"]]},{"id":"34806f76.8d3bb","type":"smooth","z":"bf8a72d.780759","g":"83fd4423.db9448","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":560,"wires":[["7aaa59d2.931158"]]},{"id":"e473655e.27a1f8","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Pot Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":360,"y":300,"wires":[["d067b650.4f0a88"]]},{"id":"250556d8.f186ea","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Charge temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":260,"wires":[["df5d9768.4f7848"]]},{"id":"6e701c85.1b4b04","type":"sensor-ds18b20","z":"bf8a72d.780759","g":"8571ed47.189fe","name":"Jacket temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":220,"wires":[["eeba3dd2.57219"]]},{"id":"5fb15a9a.b1d4d4","type":"smooth","z":"bf8a72d.780759","g":"c59fe98.7ce2318","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":420,"wires":[["c8132ffd.a837e"]]},{"id":"318fddbc.d98f72","type":"smooth","z":"bf8a72d.780759","g":"820b3a6f.7d4bf8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":280,"wires":[["bb9c0ec0.9bd82"]]},{"id":"ddd60831.df3758","type":"link out","z":"bf8a72d.780759","g":"680e4b13.489204","name":"Jacket calibrated temp","links":["85dbbc7.185df4"],"x":815,"y":60,"wires":[]},{"id":"5d19ac5e.bb7c74","type":"smooth","z":"bf8a72d.780759","g":"680e4b13.489204","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":860,"y":140,"wires":[["248f68fc.83ec88"]]},{"id":"98b213c3.5e563","type":"inject","z":"bf8a72d.780759","g":"62ddf792.853598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["47d22f06.ab3f8"]]},{"id":"61567072.6807f","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.misc.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":280,"wires":[[]]},{"id":"d4cf72af.f33d9","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.fients.abv","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[[]]},{"id":"d0a3f9df.c3d4f8","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.fients.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[[]]},{"id":"5388cc52.d414c4","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.charge.abv","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[[]]},{"id":"6ce11651.012638","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.charge.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[[]]},{"id":"41aae92d.ec9df8","type":"change","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","rules":[{"t":"set","p":"batch.name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[[]]},{"id":"5cd8ce31.b774f","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Water/Misc Volume","tooltip":"","group":"9f19d793.eac5f8","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":350,"y":280,"wires":[["61567072.6807f"]]},{"id":"bad72e17.bdeee","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Fients ABV","tooltip":"","group":"9f19d793.eac5f8","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":330,"y":240,"wires":[["d4cf72af.f33d9"]]},{"id":"a3cb27e1.b242f8","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Fients Volume","tooltip":"","group":"9f19d793.eac5f8","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":340,"y":200,"wires":[["d0a3f9df.c3d4f8"]]},{"id":"1dff7527.0c8b5b","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Charge ABV","tooltip":"","group":"9f19d793.eac5f8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":330,"y":160,"wires":[["5388cc52.d414c4"]]},{"id":"f6f664e4.df1288","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Charge Volume","tooltip":"","group":"9f19d793.eac5f8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":340,"y":120,"wires":[["6ce11651.012638"]]},{"id":"25909bc2.e78714","type":"ui_text_input","z":"7c1b1ea9.f4fd7","g":"60e75bea.b09b94","name":"","label":"Batch Name","tooltip":"","group":"9f19d793.eac5f8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":330,"y":80,"wires":[["41aae92d.ec9df8"]]},{"id":"5f1bd78e.a79258","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"inner_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":420,"wires":[[]]},{"id":"43e07dd4.c17a24","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"inner_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":500,"wires":[["f890e9a3.d42f88"]]},{"id":"1971dc0b.fb7e94","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"inner_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":580,"wires":[[]]},{"id":"37d092f8.b78d2e","type":"function","z":"7842e5d8.ba1b5c","name":"Cascade PID","func":"// Manually specify update interval\nmsg.interval = 2000;\n\n//\n// Begin Outer Control Loop\n//\n// Output from Outer Control will be the target + Jacket delta T\n// Calculate outer error\nmsg.outer_target = flow.get('target')\nmsg.outer_error = msg.outer_target - global.get('charge.temp');\n\n// Update outer integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.outer_integrator = flow.get('outer_integrator');\nmsg.outer_integrator += (msg.interval/1000) * Math.max(Math.min(msg.outer_error, 1), -1);\n\n// Bound total outer integrator by absolute maximum\nmsg.outer_integrator = Math.max(Math.min(msg.outer_integrator, flow.get('outer_integrator_max')), -flow.get('outer_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('outer_integrator', msg.outer_integrator);\n\n// Calculate proportional action\nmsg.outer_output = msg.outer_error * flow.get('outer_p');\n\n// Calculate intergral action\nmsg.outer_output += msg.outer_integrator * flow.get('outer_i');\n\n// Calculate derivative action\nmsg.outer_derivative = (msg.outer_error - flow.get('last_outer_error'))/(msg.interval/1000);\nmsg.outer_output += msg.outer_derivative * flow.get('outer_d');\n\n// Bound outer_output by [outer_min, outer_max]\nmsg.outer_output = Math.max(Math.min(msg.outer_output, flow.get('outer_max')), flow.get('outer_min'));\n\n// Set inner_target\nmsg.inner_target = Math.min(msg.outer_target + msg.outer_output, 90)\n\n// Output updated last_outer_error to flow context\nmsg.last_outer_error = msg.outer_error;\nflow.set('last_outer_error', msg.last_outer_error);\n\n//\n// Begin Inner Control Loop\n// Output from inner control loop will be Jacket element duty %\n// Calculate inner error\nmsg.inner_error = msg.inner_target - global.get('jacket.temp');\n\n// Update inner integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.inner_integrator = flow.get('inner_integrator');\nmsg.inner_integrator += (msg.interval/1000) * Math.max(Math.min(msg.inner_error, 1), -1);\n\n// Bound total inner integrator by absolute maximum\nmsg.inner_integrator = Math.max(Math.min(msg.inner_integrator, flow.get('inner_integrator_max')), -flow.get('inner_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('inner_integrator', msg.inner_integrator);\n\n// Calculate proportional action\nmsg.inner_output = msg.inner_error * flow.get('inner_p');\n\n// Calculate intergral action\nmsg.inner_output += msg.inner_integrator * flow.get('inner_i');\n\n// Calculate derivative action\nmsg.inner_derivative = (msg.inner_error - flow.get('last_inner_error'))/(msg.interval/1000);\nmsg.inner_output += msg.inner_derivative * flow.get('inner_d');\n\n// Bound inner_output by [0.0, max_output]\nmsg.inner_output = Math.max(Math.min(msg.inner_output, flow.get('inner_max')), 0.0);\n\n// Output updated last_inner_error to flow context\nmsg.last_inner_error = msg.inner_error;\nflow.set('last_inner_error', msg.last_inner_error);\n\n// Set payload to element output\nmsg.payload = msg.inner_output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":160,"wires":[["3c1c43fe.a90e0c","a30b8419.22e588"]]},{"id":"c5043392.084e3","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Inner Kp","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"20.0","payloadType":"num","x":220,"y":380,"wires":[["5f06c0d5.2a1a2","5f1bd78e.a79258"]]},{"id":"8263d06a.a5d83","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Inner Ki","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":220,"y":460,"wires":[["402ef598.e32b1c","43e07dd4.c17a24"]]},{"id":"fd86d775.c4a758","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Inner Kd","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":220,"y":540,"wires":[["756cbf8b.6829b","1971dc0b.fb7e94"]]},{"id":"af775fa1.75578","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":220,"y":300,"wires":[["6a6b1e7b.43d67"]]},{"id":"a15edbe7.bd95e8","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Inner Limit","props":[{"p":"payload","v":"30","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":230,"y":620,"wires":[["21110fca.beca8","7cf27e4e.caeb5"]]},{"id":"21110fca.beca8","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Output limiter","tooltip":"","group":"3664e4b.5830a9c","order":9,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:0}}Ùª","min":"1","max":"99","step":1,"x":260,"y":660,"wires":[["7cf27e4e.caeb5"]]},{"id":"7cf27e4e.caeb5","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"inner_limit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":660,"wires":[["95c37b63.2a4a58"]]},{"id":"3c1c43fe.a90e0c","type":"link out","z":"7842e5d8.ba1b5c","name":"PID Settings","links":["3f2878d3.94f4e"],"x":515,"y":120,"wires":[]},{"id":"756cbf8b.6829b","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð–½","tooltip":"","group":"3664e4b.5830a9c","order":8,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":230,"y":580,"wires":[["1971dc0b.fb7e94"]]},{"id":"402ef598.e32b1c","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð—‚","tooltip":"","group":"3664e4b.5830a9c","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":230,"y":500,"wires":[["43e07dd4.c17a24"]]},{"id":"5f06c0d5.2a1a2","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð—‰","tooltip":"","group":"3664e4b.5830a9c","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":230,"y":420,"wires":[["5f1bd78e.a79258"]]},{"id":"24beec78.08ee84","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"outer_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":740,"wires":[[]]},{"id":"b07d1797.d990a8","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"outer_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":820,"wires":[["234c3e9d.1be962"]]},{"id":"bba4285f.138fb8","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"outer_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":900,"wires":[[]]},{"id":"64d822de.9d597c","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Outer Kp","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":230,"y":700,"wires":[["56b3e127.448e2","24beec78.08ee84"]]},{"id":"b05a9a9.e893668","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Outer Ki","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":220,"y":780,"wires":[["bdfe728c.1e908","b07d1797.d990a8"]]},{"id":"c8f0bb4e.911ee8","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Outer Kd","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":230,"y":860,"wires":[["7800507b.3b407","bba4285f.138fb8"]]},{"id":"88446497.d9eb08","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":230,"y":940,"wires":[["c549cb0c.351f88","8010199a.bb1148"]]},{"id":"c549cb0c.351f88","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"max Î”T","tooltip":"","group":"321aaa6a.377d5e","order":11,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}Â°C","min":"1","max":"15","step":1,"x":240,"y":980,"wires":[["8010199a.bb1148"]]},{"id":"8010199a.bb1148","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"outer_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":980,"wires":[["2d586938.819696"]]},{"id":"7800507b.3b407","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð–½","tooltip":"","group":"321aaa6a.377d5e","order":8,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":230,"y":900,"wires":[["bba4285f.138fb8"]]},{"id":"bdfe728c.1e908","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð—‚","tooltip":"","group":"321aaa6a.377d5e","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":230,"y":820,"wires":[["b07d1797.d990a8"]]},{"id":"56b3e127.448e2","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"Kð—‰","tooltip":"","group":"321aaa6a.377d5e","order":4,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":230,"y":740,"wires":[["24beec78.08ee84"]]},{"id":"85dbbc7.185df4","type":"link in","z":"7842e5d8.ba1b5c","name":"Cascade PID trigger","links":["5010ffd6.cabb28","6c6b47e7.a7f548","7b7e6c85.997614","ddd60831.df3758"],"x":155,"y":160,"wires":[["37d092f8.b78d2e"]]},{"id":"f5451b57.619868","type":"function","z":"7842e5d8.ba1b5c","name":"Cascade PID - integrator max calculation","func":"// brew2 PID algorithm - integrators\n// Justin Angevaare\n// May 2018 - Nov. 2019\n\n// Calculate outer integrator max\n// Output to flow context\nif(flow.get('outer_i')>0.0){\n    flow.set('outer_integrator_max', (flow.get('outer_max')-flow.get('outer_min'))/flow.get('outer_i'))}else {\n        flow.set('outer_integrator_max', 0.0)}\n\n// Get current output max\n// Output to flow context\nif(global.get('rims_limiter')){\n    flow.set('inner_max', flow.get('inner_limit'))}else {\n        flow.set('inner_max', 100)}\n\n// Calculate inner integrator max\n// Output to flow context\nif(flow.get('inner_i')>0.0){\n    flow.set('inner_integrator_max', flow.get('inner_max')/flow.get('inner_i'))}else {\n        flow.set('inner_integrator_max', 0.0)}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":60,"wires":[[]]},{"id":"dc338642.7a7d38","type":"link in","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["b097c6ec.5fbe5","f890e9a3.d42f88","d75d11e.f8f757","95c37b63.2a4a58","2f03decd.c6137a","234c3e9d.1be962","668f2b46.52004c","2d586938.819696","60f7dfe2.9a8ba","9bd31a5b.f45448","792bfb94.ceffa4"],"x":155,"y":60,"wires":[["f5451b57.619868"]]},{"id":"f890e9a3.d42f88","type":"link out","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":615,"y":500,"wires":[]},{"id":"95c37b63.2a4a58","type":"link out","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":615,"y":660,"wires":[]},{"id":"234c3e9d.1be962","type":"link out","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":615,"y":820,"wires":[]},{"id":"2d586938.819696","type":"link out","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":615,"y":980,"wires":[]},{"id":"3e259a61.256ff6","type":"link out","z":"7842e5d8.ba1b5c","name":"Mash target slider output","links":["6ce6448.f7e59bc"],"x":555,"y":300,"wires":[]},{"id":"b74a4d48.b825","type":"inject","z":"7842e5d8.ba1b5c","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"-2","payloadType":"num","x":230,"y":1020,"wires":[["74398bfb.37f704","c7363c08.c3fff"]]},{"id":"74398bfb.37f704","type":"ui_numeric","z":"7842e5d8.ba1b5c","name":"","label":"min Î”T","tooltip":"","group":"321aaa6a.377d5e","order":9,"width":5,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}Â°C","min":"-10","max":"0","step":1,"x":240,"y":1060,"wires":[["c7363c08.c3fff"]]},{"id":"c7363c08.c3fff","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"outer_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1060,"wires":[["792bfb94.ceffa4"]]},{"id":"792bfb94.ceffa4","type":"link out","z":"7842e5d8.ba1b5c","name":"Cascade PID Integrator update","links":["dc338642.7a7d38"],"x":615,"y":1060,"wires":[]},{"id":"2dfabc2b.bdee04","type":"link out","z":"7842e5d8.ba1b5c","name":"Element","links":["a820b9b9.ef31d8","675c3a5f.49e194","1f7f3754.389f59"],"x":655,"y":180,"wires":[]},{"id":"a30b8419.22e588","type":"switch","z":"7842e5d8.ba1b5c","name":"Control type","property":"control","propertyType":"global","rules":[{"t":"eq","v":"PID","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":180,"wires":[["2dfabc2b.bdee04"]]},{"id":"6a6b1e7b.43d67","type":"change","z":"7842e5d8.ba1b5c","name":"","rules":[{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["3e259a61.256ff6"]]},{"id":"66d5f7bc.90e308","type":"link in","z":"aa302b94.cd9608","name":"Dephleg Temp","links":["399458e1.0033c8"],"x":275,"y":160,"wires":[["6f157f99.b19c5"]]},{"id":"26dfdbc4.f780a4","type":"link in","z":"aa302b94.cd9608","name":"Dephleg Target","links":["837abee6.1043"],"x":275,"y":220,"wires":[["95e6c143.a15c3"]]},{"id":"9c094d41.16fba","type":"link in","z":"aa302b94.cd9608","name":"Max Delta Temp","links":["ca92425d.77b8"],"x":275,"y":280,"wires":[["82515242.f5b0f"]]},{"id":"23f05c6f.3214a4","type":"inject","z":"aa302b94.cd9608","name":"Dephleg Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":380,"y":80,"wires":[["2e7d40b0.08277"]]},{"id":"51ff31e8.7b155","type":"link out","z":"aa302b94.cd9608","name":"Dephleg Target","links":["94cf49d2.757938"],"x":735,"y":80,"wires":[]},{"id":"2e7d40b0.08277","type":"change","z":"aa302b94.cd9608","name":"set global.dephleg.target","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":80,"wires":[["51ff31e8.7b155"]]},{"id":"d227e7e1.ea1e78","type":"rpi-gpio out","z":"aa302b94.cd9608","d":true,"name":"Bypass valve (default Closed)","pin":"","set":"","level":"0","freq":"","out":"out","x":970,"y":180,"wires":[]},{"id":"7e52116d.6bdb9","type":"rpi-gpio out","z":"aa302b94.cd9608","d":true,"name":"Depleg Valve (default open","pin":"","set":"","level":"0","freq":"","out":"out","x":980,"y":260,"wires":[]},{"id":"6f157f99.b19c5","type":"change","z":"aa302b94.cd9608","name":"Depleg temp","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":160,"wires":[[]]},{"id":"95e6c143.a15c3","type":"change","z":"aa302b94.cd9608","name":"Depleg target","rules":[{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[[]]},{"id":"82515242.f5b0f","type":"change","z":"aa302b94.cd9608","name":"Depleg delta","rules":[{"t":"set","p":"delta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":280,"wires":[[]]},{"id":"11963f23.820e21","type":"debug","z":"aa302b94.cd9608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"23f69b66.0ecf74","type":"debug","z":"aa302b94.cd9608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":100,"wires":[]},{"id":"867c590d.0752a8","type":"function","z":"aa302b94.cd9608","name":"Basic On-Off","func":"temp = flow.get(\"temp\");\ntarget = flow.get(\"target\");\ndelta = flow.get(\"delta\");\nvar bypass = {payload: 0}; \nvar deplag = {payload: 0};\n\nif (temp >= (target + delta)) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp >= target) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp < target && temp >= (target - delta)) {\n    bypass.payload = 1;\n    deplag.payload = 0;\n} else {\n    bypass.payload = 1;\n    deplag.payload = 1;\n}\n\nreturn [bypass, deplag];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":220,"wires":[["d227e7e1.ea1e78","23f69b66.0ecf74"],["7e52116d.6bdb9","11963f23.820e21"]],"outputLabels":["Bypass","Dephleg"]},{"id":"3b7d6616.fb116a","type":"inject","z":"aa302b94.cd9608","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":630,"y":160,"wires":[["867c590d.0752a8"]]},{"id":"53b82684.9a6f98","type":"ui_numeric","z":"5b1407f1.d96848","name":"","label":"Dephlegmator Target Temp","tooltip":"","group":"958ff866.e606f8","order":2,"width":9,"height":2,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":780,"y":600,"wires":[["f80827c5.70c148","b7c826d1.896578"]]},{"id":"c8458870.a0f788","type":"ui_chart","z":"5b1407f1.d96848","name":"","group":"5fa23c95.9835e4","order":4,"width":0,"height":0,"label":"Distilling Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":340,"y":1020,"wires":[[]]},{"id":"8b90cf18.96df9","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":3,"width":3,"height":2,"name":"","label":"Head Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":350,"y":820,"wires":[]},{"id":"82e750b3.0d3bb","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":1,"width":3,"height":2,"name":"","label":"Pot Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":340,"y":900,"wires":[]},{"id":"7990550f.286fec","type":"ui_chart","z":"5b1407f1.d96848","name":"","group":"5fa23c95.9835e4","order":8,"width":9,"height":5,"label":"Distilling ABV","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":790,"y":960,"wires":[[]]},{"id":"a91f16f3.f64478","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":5,"width":3,"height":2,"name":"","label":"Product ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":730,"y":820,"wires":[]},{"id":"59f81079.46d7d","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":6,"width":3,"height":2,"name":"","label":"Pot Vapor ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":740,"y":860,"wires":[]},{"id":"4162aa89.545d14","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":7,"width":3,"height":2,"name":"","label":"Charge ABV","format":"{{msg.payload | number:.1}}%","layout":"col-center","x":730,"y":900,"wires":[]},{"id":"6b50e22d.afb2ec","type":"ui_gauge","z":"5b1407f1.d96848","name":"","group":"958ff866.e606f8","order":1,"width":9,"height":4,"gtype":"gage","title":"Dephlegmator Output","label":"C","format":"{{value | number:1}}C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"77","x":760,"y":520,"wires":[]},{"id":"24b3fef4.97fe12","type":"ui_text","z":"5b1407f1.d96848","group":"f0c68884.7c8b18","order":4,"width":3,"height":2,"name":"","label":"Jacket Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":330,"y":600,"wires":[]},{"id":"e420938c.f98e2","type":"comment","z":"5b1407f1.d96848","name":"Output temps","info":"","x":310,"y":760,"wires":[]},{"id":"5d87b925.36f5e8","type":"comment","z":"5b1407f1.d96848","name":"Output ABV","info":"","x":690,"y":760,"wires":[]},{"id":"d069e66d.07f568","type":"comment","z":"5b1407f1.d96848","name":"Reflux Control Temps","info":"","x":720,"y":460,"wires":[]},{"id":"732315b.0648cec","type":"ui_text","z":"5b1407f1.d96848","group":"f0c68884.7c8b18","order":3,"width":3,"height":2,"name":"","label":"Charge Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":340,"y":520,"wires":[]},{"id":"5f33e368.0d780c","type":"ui_chart","z":"5b1407f1.d96848","name":"","group":"f0c68884.7c8b18","order":5,"width":9,"height":5,"label":"Heat up","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":320,"y":680,"wires":[[]]},{"id":"6b019291.0780ac","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"status","pt":"global","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":60,"wires":[[]]},{"id":"ee9e83c1.63cc4","type":"link in","z":"5b1407f1.d96848","name":"Jacket Temp","links":["26607619.d622ca"],"x":175,"y":600,"wires":[["24b3fef4.97fe12","5f33e368.0d780c"]]},{"id":"4813c991.453bb8","type":"link in","z":"5b1407f1.d96848","name":"Charge Temp","links":["ba59e38e.b6aec"],"x":175,"y":520,"wires":[["732315b.0648cec","5f33e368.0d780c","95790b99.012848"]]},{"id":"97fa3725.7281a8","type":"change","z":"5b1407f1.d96848","name":"Pre-heat","rules":[{"t":"set","p":"payload","pt":"msg","to":"preheat","tot":"global"},{"t":"set","p":"topic","pt":"msg","to":"Target","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["653aaee7.03949"]]},{"id":"7f486f7e.f6a7d","type":"ui_text","z":"5b1407f1.d96848","group":"f0c68884.7c8b18","order":2,"width":3,"height":2,"name":"","label":"Target Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":330,"y":640,"wires":[]},{"id":"b82eeaf0.aaace8","type":"change","z":"5b1407f1.d96848","name":"Manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":340,"wires":[["b69d0e73.189b4","44fe6c8c.ea2ee4","9b7e42cc.1522e"]]},{"id":"adad6dc1.77551","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":400,"wires":[["44fe6c8c.ea2ee4"]]},{"id":"5eeb0004.db091","type":"link in","z":"5b1407f1.d96848","name":"System Check","links":["57a061df.50721","c779bb5e.1bd528","6d0346f4.90d3b8"],"x":195,"y":400,"wires":[["adad6dc1.77551"]]},{"id":"822e43c1.258ba","type":"link out","z":"5b1407f1.d96848","name":"","links":["675c3a5f.49e194","1f7f3754.389f59"],"x":835,"y":400,"wires":[]},{"id":"57f2df9e.4d454","type":"link in","z":"5b1407f1.d96848","name":"Pot Vapor Temp","links":["3876e625.29cd6a"],"x":175,"y":900,"wires":[["82e750b3.0d3bb","c8458870.a0f788","a591d336.3a884"]]},{"id":"5d4c0256.ba729c","type":"ui_text","z":"5b1407f1.d96848","group":"5fa23c95.9835e4","order":2,"width":3,"height":2,"name":"","label":"Dephleg Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":340,"y":980,"wires":[]},{"id":"afeff59.6b03208","type":"link in","z":"5b1407f1.d96848","name":"Dephleg Temp","links":["399458e1.0033c8"],"x":175,"y":980,"wires":[["5d4c0256.ba729c","c8458870.a0f788"]]},{"id":"5ea8f5d1.fd971c","type":"link in","z":"5b1407f1.d96848","name":"Dephleg Guage","links":["399458e1.0033c8"],"x":595,"y":560,"wires":[["6b50e22d.afb2ec","f80827c5.70c148"]]},{"id":"c6deb5b2.5f0928","type":"link in","z":"5b1407f1.d96848","name":"Head Vapor Temp","links":["195ab73.cf70249"],"x":175,"y":820,"wires":[["8b90cf18.96df9","c8458870.a0f788","49c701a0.f99fc"]]},{"id":"fe417080.f9794","type":"comment","z":"5b1407f1.d96848","name":"Input Temps","info":"","x":310,"y":460,"wires":[]},{"id":"ef171490.ebe3b8","type":"comment","z":"5b1407f1.d96848","name":"Manual Power","info":"","x":270,"y":260,"wires":[]},{"id":"f866583e.62d568","type":"comment","z":"5b1407f1.d96848","name":"Main System Switch","info":"","x":500,"y":40,"wires":[]},{"id":"8b1f7b9a.8bf6d8","type":"comment","z":"5b1407f1.d96848","name":"Pre-Heat Charge","info":"","x":270,"y":140,"wires":[]},{"id":"49c701a0.f99fc","type":"link out","z":"5b1407f1.d96848","name":"Head Vapor temp to ABV","links":["2ebbf820.491248"],"x":275,"y":860,"wires":[]},{"id":"a591d336.3a884","type":"link out","z":"5b1407f1.d96848","name":"Pot Vapor temp to ABV","links":["3e7d53.33b0e2ae"],"x":275,"y":940,"wires":[]},{"id":"95790b99.012848","type":"link out","z":"5b1407f1.d96848","name":"Charge temp to ABV","links":["1b847843.7b1828"],"x":275,"y":560,"wires":[]},{"id":"edb61981.193898","type":"link in","z":"5b1407f1.d96848","name":"Product ABV","links":["f120818e.7d103"],"x":595,"y":820,"wires":[["a91f16f3.f64478","7990550f.286fec","ffe98f9b.53bc8"]]},{"id":"cdbde309.46fda","type":"link in","z":"5b1407f1.d96848","name":"Pot Vapor ABV","links":["58e67b76.d27184"],"x":595,"y":860,"wires":[["59f81079.46d7d","7990550f.286fec"]]},{"id":"121a4af7.3a2305","type":"link in","z":"5b1407f1.d96848","name":"Charge ABV","links":["580a9a57.60be34"],"x":595,"y":900,"wires":[["4162aa89.545d14","7990550f.286fec"]]},{"id":"94cf49d2.757938","type":"link in","z":"5b1407f1.d96848","name":"Initial Depleg temp","links":["51ff31e8.7b155"],"x":595,"y":600,"wires":[["53b82684.9a6f98"]]},{"id":"cb6fff6f.eb696","type":"link in","z":"5b1407f1.d96848","name":"Target Temp","links":["653aaee7.03949","b71975d.3550388","57a061df.50721","b69d0e73.189b4"],"x":175,"y":640,"wires":[["5f33e368.0d780c","7f486f7e.f6a7d"]]},{"id":"653aaee7.03949","type":"link out","z":"5b1407f1.d96848","name":"","links":["cb6fff6f.eb696"],"x":635,"y":180,"wires":[]},{"id":"b69d0e73.189b4","type":"link out","z":"5b1407f1.d96848","name":"","links":["cb6fff6f.eb696"],"x":695,"y":320,"wires":[]},{"id":"f80827c5.70c148","type":"ui_chart","z":"5b1407f1.d96848","name":"","group":"958ff866.e606f8","order":3,"width":9,"height":5,"label":"Reflux Control","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1040,"y":560,"wires":[[]]},{"id":"b7c826d1.896578","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":660,"wires":[["837abee6.1043"]]},{"id":"837abee6.1043","type":"link out","z":"5b1407f1.d96848","name":"Depleg Target","links":["26dfdbc4.f780a4"],"x":935,"y":660,"wires":[]},{"id":"ffe98f9b.53bc8","type":"debug","z":"5b1407f1.d96848","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":780,"wires":[]},{"id":"2c4c3ba9.d21aa4","type":"ui_toast","z":"5b1407f1.d96848","d":true,"position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Adjust Settings","cancel":"Start Distilling","raw":false,"topic":"","name":"","x":410,"y":80,"wires":[["6efc260a.39ab38"]]},{"id":"6efc260a.39ab38","type":"switch","z":"5b1407f1.d96848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Start Distilling","vt":"str"},{"t":"eq","v":"Adjust Settings","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":80,"wires":[["6b019291.0780ac"],["3bbcbda5.4ba172"]]},{"id":"9e65271e.925338","type":"ui_ui_control","z":"5b1407f1.d96848","name":"","events":"all","x":940,"y":100,"wires":[[]]},{"id":"3bbcbda5.4ba172","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Settings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":100,"wires":[["9e65271e.925338"]]},{"id":"455eea89.e303d4","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Are you ready?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":80,"wires":[["2c4c3ba9.d21aa4"]]},{"id":"a100618c.b2f92","type":"link in","z":"5b1407f1.d96848","name":"Start System","links":["468f9d92.0d38f4"],"x":95,"y":80,"wires":[["455eea89.e303d4"]]},{"id":"ed0246bc.34df78","type":"comment","z":"5b1407f1.d96848","name":"Kill Switch","info":"","x":920,"y":160,"wires":[]},{"id":"5630d3da.c06a9c","type":"ui_switch","z":"5b1407f1.d96848","name":"","label":"Pre-heat Charge","tooltip":"","group":"f0c68884.7c8b18","order":6,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"PID","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":200,"wires":[["c6108f20.a43d1"]]},{"id":"a447e26e.5e103","type":"ui_switch","z":"5b1407f1.d96848","name":"","label":"Manual Control","tooltip":"","group":"f0c68884.7c8b18","order":7,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":340,"wires":[["47d1cf7f.fab"]]},{"id":"86a35da0.f143c","type":"change","z":"5b1407f1.d96848","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":200,"wires":[["e47449fe.938f68"]]},{"id":"3d1eb310.2f910c","type":"change","z":"5b1407f1.d96848","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":240,"wires":[["6d0346f4.90d3b8"]]},{"id":"e47449fe.938f68","type":"link out","z":"5b1407f1.d96848","name":"","links":["bdcad8ed.432768"],"x":1155,"y":200,"wires":[]},{"id":"6d0346f4.90d3b8","type":"link out","z":"5b1407f1.d96848","name":"","links":["9b49428b.33492","5eeb0004.db091"],"x":1155,"y":240,"wires":[]},{"id":"9b49428b.33492","type":"link in","z":"5b1407f1.d96848","name":"","links":["6d0346f4.90d3b8","c779bb5e.1bd528"],"x":75,"y":340,"wires":[["a447e26e.5e103"]]},{"id":"bdcad8ed.432768","type":"link in","z":"5b1407f1.d96848","name":"","links":["4c1e82ae.dd6e4c","e47449fe.938f68"],"x":75,"y":200,"wires":[["5630d3da.c06a9c"]]},{"id":"6b911d1.7bad3e4","type":"change","z":"5b1407f1.d96848","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["4c1e82ae.dd6e4c"]]},{"id":"4c1e82ae.dd6e4c","type":"link out","z":"5b1407f1.d96848","name":"","links":["bdcad8ed.432768"],"x":625,"y":300,"wires":[]},{"id":"3f494aa3.2f0ce6","type":"change","z":"5b1407f1.d96848","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["c779bb5e.1bd528"]]},{"id":"c779bb5e.1bd528","type":"link out","z":"5b1407f1.d96848","name":"","links":["9b49428b.33492","5eeb0004.db091"],"x":635,"y":220,"wires":[]},{"id":"c6108f20.a43d1","type":"switch","z":"5b1407f1.d96848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":200,"wires":[["3f494aa3.2f0ce6","97fa3725.7281a8"]]},{"id":"47d1cf7f.fab","type":"switch","z":"5b1407f1.d96848","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":340,"wires":[["6b911d1.7bad3e4","b82eeaf0.aaace8"]]},{"id":"f148f968.8aff58","type":"ui_button","z":"5b1407f1.d96848","name":"","group":"958ff866.e606f8","order":4,"width":0,"height":0,"passthru":false,"label":"System Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":850,"y":220,"wires":[["86a35da0.f143c","3d1eb310.2f910c"]]},{"id":"ca0bf04c.3917c","type":"change","z":"5b1407f1.d96848","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":400,"wires":[["822e43c1.258ba"]]},{"id":"d1e85165.34caf","type":"ui_button","z":"5b1407f1.d96848","name":"","group":"958ff866.e606f8","order":5,"width":0,"height":0,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":200,"y":1200,"wires":[["71a79cef.5e7854"]]},{"id":"f4a38120.9dafd","type":"comment","z":"5b1407f1.d96848","name":"Settings","info":"","x":290,"y":1120,"wires":[]},{"id":"71a79cef.5e7854","type":"ui_ui_control","z":"5b1407f1.d96848","name":"","events":"all","x":350,"y":1200,"wires":[[]]},{"id":"fcbab852.0d32c8","type":"link in","z":"5b1407f1.d96848","name":"System Off","links":["468f9d92.0d38f4"],"x":735,"y":220,"wires":[["f148f968.8aff58"]]},{"id":"44fe6c8c.ea2ee4","type":"ui_slider","z":"5b1407f1.d96848","name":"","label":"","tooltip":"","group":"f0c68884.7c8b18","order":13,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":510,"y":400,"wires":[["ca0bf04c.3917c","9b7e42cc.1522e"]]},{"id":"9b7e42cc.1522e","type":"ui_text","z":"5b1407f1.d96848","group":"f0c68884.7c8b18","order":9,"width":3,"height":2,"name":"","label":"Manual Power","format":"{{msg.payload}}%","layout":"col-center","x":760,"y":360,"wires":[]},{"id":"e71264f6.099628","type":"rpi-gpio out","z":"3781abdd.207e34","name":"HLT GPIO","pin":"36","set":"","level":"0","freq":"1","out":"pwm","x":350,"y":100,"wires":[]},{"id":"3a8dd5f4.265eea","type":"range","z":"3781abdd.207e34","minin":"0","maxin":"100","minout":"0","maxout":"5500","action":"scale","round":false,"property":"payload","name":"Input Power","x":350,"y":140,"wires":[["8c5eb6a3.f67408"]]},{"id":"8c5eb6a3.f67408","type":"ui_gauge","z":"3781abdd.207e34","name":"Input Power Gauge","group":"f0c68884.7c8b18","order":1,"width":9,"height":4,"gtype":"gage","title":"Input Power","label":"usage","format":"{{payload | number:1}} W","min":0,"max":"5500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":140,"wires":[]},{"id":"1f7f3754.389f59","type":"link in","z":"3781abdd.207e34","name":"Element","links":["2dfabc2b.bdee04","a0530194.f477d","9122e49.3b83718","822e43c1.258ba"],"x":175,"y":120,"wires":[["e71264f6.099628","3a8dd5f4.265eea"]]},{"id":"b7876ab8.5ea928","type":"change","z":"29ecf7a3.4cb5f8","name":"dephleg","rules":[{"t":"set","p":"dephleg","pt":"global","to":"{\"temp\":0,\"medium\":\"water\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[[]]},{"id":"f6587f86.80f16","type":"inject","z":"29ecf7a3.4cb5f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["22349ebb.e30122","b7876ab8.5ea928","f6b97366.1848a","e46ea224.b4e81","d3f5a79b.2cd3f8","39f45c84.f93124"]]},{"id":"e46ea224.b4e81","type":"change","z":"29ecf7a3.4cb5f8","name":"charge","rules":[{"t":"set","p":"charge","pt":"global","to":"{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"ABV\":0,\"volume\":0,\"initialABV\":9}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[[]]},{"id":"d3f5a79b.2cd3f8","type":"change","z":"29ecf7a3.4cb5f8","name":"jacket","rules":[{"t":"set","p":"jacket","pt":"global","to":"{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"status\":\"off\",\"control\":\"manual\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[[]]},{"id":"f6b97366.1848a","type":"change","z":"29ecf7a3.4cb5f8","name":"pot_vapor","rules":[{"t":"set","p":"pot_vapor","pt":"global","to":"{\"ID\":\"Pot Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[[]]},{"id":"22349ebb.e30122","type":"change","z":"29ecf7a3.4cb5f8","name":"head_vapor","rules":[{"t":"set","p":"head_vapor","pt":"global","to":"{\"ID\":\"Head_Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0,\"volume\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[[]]},{"id":"39f45c84.f93124","type":"change","z":"29ecf7a3.4cb5f8","name":"","rules":[{"t":"set","p":"control","pt":"global","to":"off","tot":"str"},{"t":"set","p":"system","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"dephlegtarget","pt":"global","to":"0","tot":"num"},{"t":"set","p":"preheat","pt":"global","to":"70","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"315efaf.0136506","type":"function","z":"1bbd252a.068abb","name":"Database log entry","func":"msg.payload = [{\n        measurement: global.get(\"batch\"),\n        fields: {\n            \"Charge Temp\": global.get(\"charge.temp\"),\n            \"Jacket Temp\": global.get(\"jacket.temp\"),\n            \"Pot Vapor Temp\": global.get(\"pot_vapor.temp\"),\n            \"Dephleg Temp\": global.get(\"dephleg.temp\"),\n            \"Head Vapor Temp\": global.get(\"head_vapor.temp\"),\n            \"Dephleg Target\": global.get(\"dephleg.target\"),\n            \"Charge ABV\": global.get(\"charge.ABV\"),\n            \"Pot Vapor ABV\": global.get(\"pot_vapor.ABV\"),\n            \"Product ABV\": global.get(\"head_vapor.ABV\")\n            },\n        timestamp: new Date()\n}]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["870348b1.8d43d8"]]},{"id":"59383dab.e11594","type":"inject","z":"1bbd252a.068abb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["605f1ddd.0ecb84"]]},{"id":"870348b1.8d43d8","type":"influxdb batch","z":"1bbd252a.068abb","influxdb":"5391d36f.c4282c","precision":"","retentionPolicy":"","name":"","x":780,"y":200,"wires":[]},{"id":"605f1ddd.0ecb84","type":"switch","z":"1bbd252a.068abb","name":"Logging Switch","property":"logging","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":200,"wires":[["315efaf.0136506"]]},{"id":"e82101b5.32efb8","type":"ui_text","z":"4ef08725.8fbdd","group":"3664e4b.5830a9c","order":5,"width":2,"height":1,"name":"Inner PID Integrator","label":"Integral","format":"{{inner_integrator | number:1}}Â°Câ¦s","layout":"col-center","x":550,"y":300,"wires":[]},{"id":"527896c3.acf218","type":"ui_text","z":"4ef08725.8fbdd","group":"3664e4b.5830a9c","order":3,"width":2,"height":1,"name":"Inner PID Error","label":"Error","format":"{{last_inner_error | number:1}}Â°C","layout":"col-center","x":540,"y":260,"wires":[]},{"id":"fba1b06.ac1075","type":"ui_text","z":"4ef08725.8fbdd","group":"3664e4b.5830a9c","order":7,"width":2,"height":1,"name":"Inner PID Derivative","label":"Derivative","format":"{{inner_derivative | number:1}}Â°C/s","layout":"col-center","x":550,"y":340,"wires":[]},{"id":"3f2878d3.94f4e","type":"link in","z":"4ef08725.8fbdd","name":"Cascade PID display","links":["3c1c43fe.a90e0c"],"x":355,"y":360,"wires":[["e82101b5.32efb8","fba1b06.ac1075","527896c3.acf218","2aae55db.648c0a","b4a403cc.f45e58","b627264.9440ad8","b8578d41.4523a","204b1bc3.f8ebdc","ea10db28.55266"]]},{"id":"331f0c30.0eaf84","type":"ui_text","z":"4ef08725.8fbdd","group":"f04603e8.50a4f","order":2,"width":2,"height":1,"name":"PID Integrator","label":"Integral","format":"{{integrator | number:1}}Â°Câ¦s","layout":"col-center","x":540,"y":740,"wires":[]},{"id":"6d1b4227.4e146c","type":"ui_text","z":"4ef08725.8fbdd","group":"f04603e8.50a4f","order":1,"width":2,"height":1,"name":"PID Error","label":"Error","format":"{{last_error | number:1}}Â°C","layout":"col-center","x":520,"y":700,"wires":[]},{"id":"834663e4.c08d7","type":"ui_text","z":"4ef08725.8fbdd","group":"f04603e8.50a4f","order":3,"width":2,"height":1,"name":"PID Derivative","label":"Derivative","format":"{{derivative | number:1}}Â°C/s","layout":"col-center","x":540,"y":780,"wires":[]},{"id":"48ae8805.06b6a","type":"link in","z":"4ef08725.8fbdd","name":"Boil PID display","links":["be75bc65.2c4a58","fd3d823.f4d7d8"],"x":355,"y":740,"wires":[["331f0c30.0eaf84","834663e4.c08d7","6d1b4227.4e146c"]]},{"id":"b4a403cc.f45e58","type":"ui_text","z":"4ef08725.8fbdd","group":"321aaa6a.377d5e","order":5,"width":2,"height":1,"name":"Outer PID Integrator","label":"Integral","format":"{{outer_integrator | number:1}}Â°Câ¦s","layout":"col-center","x":560,"y":420,"wires":[]},{"id":"2aae55db.648c0a","type":"ui_text","z":"4ef08725.8fbdd","group":"321aaa6a.377d5e","order":3,"width":2,"height":1,"name":"Outer PID Error","label":"Error","format":"{{last_outer_error | number:1}}Â°C","layout":"col-center","x":540,"y":380,"wires":[]},{"id":"b627264.9440ad8","type":"ui_text","z":"4ef08725.8fbdd","group":"321aaa6a.377d5e","order":7,"width":2,"height":1,"name":"Outer PID Derivative","label":"Derivative","format":"{{outer_derivative | number:1}}Â°C/s","layout":"col-center","x":560,"y":460,"wires":[]},{"id":"b8578d41.4523a","type":"ui_text","z":"4ef08725.8fbdd","group":"3664e4b.5830a9c","order":1,"width":2,"height":1,"name":"Inner Target","label":"Target","format":"{{inner_target | number:1}}Â°C","layout":"col-center","x":530,"y":500,"wires":[]},{"id":"204b1bc3.f8ebdc","type":"ui_text","z":"4ef08725.8fbdd","group":"321aaa6a.377d5e","order":1,"width":2,"height":1,"name":"Outer Output","label":"Output","format":"{{outer_output | number:1}}Â°C","layout":"col-center","x":530,"y":580,"wires":[]},{"id":"ea10db28.55266","type":"ui_text","z":"4ef08725.8fbdd","group":"3664e4b.5830a9c","order":15,"width":3,"height":1,"name":"Inner Target","label":"Target","format":"{{inner_target | number:1}}Â°C","layout":"col-center","x":530,"y":540,"wires":[]},{"id":"6188a3dc.9d0a9c","type":"switch","z":"4ef08725.8fbdd","name":"","property":"rims_on","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":true,"outputs":1,"x":210,"y":480,"wires":[["417ad43f.c5b28c"]]},{"id":"6ce6448.f7e59bc","type":"link in","z":"4ef08725.8fbdd","name":"","links":["64f4ecd7.223dac","3e259a61.256ff6"],"x":115,"y":480,"wires":[["6188a3dc.9d0a9c"]]},{"id":"417ad43f.c5b28c","type":"change","z":"4ef08725.8fbdd","name":"","rules":[{"t":"set","p":"inner_target","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":520,"wires":[["ea10db28.55266","b8578d41.4523a"]]},{"id":"36ce38c8.0568d8","type":"inject","z":"4ef08725.8fbdd","name":"Initial Pre-heat","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"preheat","payloadType":"global","x":140,"y":80,"wires":[["3c49eb57.93ed64"]]},{"id":"1e3d325a.b26bde","type":"ui_numeric","z":"4ef08725.8fbdd","name":"","label":"Pre-heat Tempature C","tooltip":"","group":"50b35c82.f9a6f4","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"75","step":1,"x":130,"y":120,"wires":[["3c49eb57.93ed64"]]},{"id":"3c49eb57.93ed64","type":"change","z":"4ef08725.8fbdd","name":"","rules":[{"t":"set","p":"preheat","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":100,"wires":[["b71975d.3550388"]]},{"id":"b71975d.3550388","type":"link out","z":"4ef08725.8fbdd","name":"Target temp","links":["cb6fff6f.eb696"],"x":495,"y":100,"wires":[]},{"id":"241fde88.5d9662","type":"inject","z":"4ef08725.8fbdd","name":"Initial Depleg Delta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":700,"y":80,"wires":[["12916d6c.162033"]]},{"id":"12916d6c.162033","type":"change","z":"4ef08725.8fbdd","name":"set global.dephleg.delta","rules":[{"t":"set","p":"dephleg.delta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":100,"wires":[["ca92425d.77b8"]]},{"id":"4ebc903b.7570c","type":"ui_numeric","z":"4ef08725.8fbdd","name":"","label":"Depleg Delta","tooltip":"","group":"50b35c82.f9a6f4","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":".1","x":710,"y":120,"wires":[["12916d6c.162033"]]},{"id":"ca92425d.77b8","type":"link out","z":"4ef08725.8fbdd","name":"Dephleg Delta","links":["9c094d41.16fba"],"x":1115,"y":100,"wires":[]},{"id":"a50f903b.e0fe","type":"ui_button","z":"4ef08725.8fbdd","name":"","group":"50b35c82.f9a6f4","order":2,"width":0,"height":0,"passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Distilling","payloadType":"str","topic":"","x":200,"y":200,"wires":[["3274a395.80ef6c"]]},{"id":"3274a395.80ef6c","type":"ui_ui_control","z":"4ef08725.8fbdd","name":"","events":"all","x":380,"y":200,"wires":[[]]},{"id":"6975a962.315e98","type":"ui_ui_control","z":"7c1b1ea9.f4fd7","name":"","events":"connect","x":800,"y":840,"wires":[[]]},{"id":"468f9d92.0d38f4","type":"link out","z":"7c1b1ea9.f4fd7","name":"Start System","links":["a100618c.b2f92","fcbab852.0d32c8","4ca10801.bf1988"],"x":755,"y":880,"wires":[]},{"id":"fc34292a.115af8","type":"ui_dropdown","z":"7c1b1ea9.f4fd7","name":"","label":"Sensor Selection","tooltip":"","place":"Select option","group":"40070099.65227","order":2,"width":4,"height":1,"passthru":true,"multiple":false,"options":[{"label":"ds18b20","value":"ds18b20","type":"str"},{"label":"RTD","value":"RTD","type":"str"}],"payload":"","topic":"","x":350,"y":460,"wires":[["2ac72ef5.a4e792"]]},{"id":"2ac72ef5.a4e792","type":"change","z":"7c1b1ea9.f4fd7","name":"","rules":[{"t":"set","p":"batch.sensor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":460,"wires":[[]]},{"id":"db001647.ad0c58","type":"ui_button","z":"7c1b1ea9.f4fd7","name":"","group":"40070099.65227","order":1,"width":4,"height":1,"passthru":false,"label":"Let's get started!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Distilling","payloadType":"str","topic":"","x":400,"y":860,"wires":[["ae8780d5.f1bcd"]]},{"id":"54fc5e6c.a1a5e","type":"ui_switch","z":"7c1b1ea9.f4fd7","name":"","label":"Jacketed","tooltip":"","group":"40070099.65227","order":3,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":320,"y":420,"wires":[[]]},{"id":"ae8780d5.f1bcd","type":"change","z":"7c1b1ea9.f4fd7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Distilling","tot":"str"},{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":860,"wires":[["6975a962.315e98","468f9d92.0d38f4"]]},{"id":"94c18fec.f4305","type":"debug","z":"7c1b1ea9.f4fd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":140,"wires":[]},{"id":"a7eba453.ba4fb8","type":"inject","z":"7c1b1ea9.f4fd7","name":"Clear selections","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":360,"wires":[["25909bc2.e78714","f6f664e4.df1288","1dff7527.0c8b5b","a3cb27e1.b242f8","bad72e17.bdeee","5cd8ce31.b774f","fc34292a.115af8","54fc5e6c.a1a5e"]]},{"id":"c12e92d7.21f21","type":"function","z":"9ef73f39.07419","name":"LiquidTempABV","func":"TempABV = {\n    78.2 : 96.0,\n    78.3 : 93.6,\n    78.4 : 92.3,\n    78.5 : 91.3,\n    78.6 : 90.0,\n    78.7 : 89.0,\n    78.8 : 88.0,\n    78.9 : 86.9,\n    79.0 : 86.0,\n    79.1 : 85.0,\n    79.2 : 84.1,\n    79.3 : 83.1,\n    79.4 : 82.2,\n    79.5 : 81.3,\n    79.6 : 80.3,\n    79.7 : 79.4,\n    79.8 : 78.4,\n    79.9 : 77.4,\n    80.0 : 76.5,\n    80.1 : 75.5,\n    80.2 : 74.6,\n    80.3 : 73.7,\n    80.4 : 72.8,\n    80.5 : 71.9,\n    80.6 : 71.0,\n    80.7 : 70.3,\n    80.8 : 69.6,\n    80.9 : 68.8,\n    81.0 : 67.7,\n    81.1 : 66.6,\n    81.2 : 65.6,\n    81.3 : 64.7,\n    81.4 : 63.7,\n    81.5 : 62.8,\n    81.6 : 61.9,\n    81.7 : 60.9,\n    81.8 : 60.0,\n    81.9 : 59.0,\n    82.0 : 58.1,\n    82.1 : 57.1,\n    82.2 : 56.3,\n    82.3 : 55.5,\n    82.4 : 54.5,\n    82.5 : 53.6,\n    82.6 : 52.7,\n    82.7 : 51.8,\n    82.8 : 50.9,\n    82.9 : 50.0,\n    83.0 : 49.1,\n    83.1 : 48.2,\n    83.2 : 47.2,\n    83.3 : 46.3,\n    83.4 : 45.5,\n    83.5 : 44.7,\n    83.6 : 44.0,\n    83.7 : 43.2,\n    83.8 : 42.4,\n    83.9 : 41.7,\n    84.0 : 41.1,\n    84.1 : 40.4,\n    84.2 : 39.7,\n    84.3 : 39.0,\n    84.4 : 38.4,\n    84.5 : 37.7,\n    84.6 : 37.0,\n    84.7 : 36.3,\n    84.8 : 35.6,\n    84.9 : 34.8,\n    85.0 : 34.2,\n    85.1 : 33.6,\n    85.2 : 32.9,\n    85.3 : 32.3,\n    85.4 : 31.7,\n    85.5 : 31.1,\n    85.6 : 30.3,\n    85.7 : 29.7,\n    85.8 : 29.0,\n    85.9 : 28.4,\n    86.0 : 27.7,\n    86.1 : 27.0,\n    86.2 : 26.6,\n    86.3 : 26.4,\n    86.4 : 26.3,\n    86.5 : 26.1,\n    86.6 : 26.0,\n    86.7 : 25.8,\n    86.8 : 25.6,\n    86.9 : 25.4,\n    87.0 : 25.2,\n    87.1 : 25.0,\n    87.2 : 24.8,\n    87.3 : 24.6,\n    87.4 : 24.2,\n    87.5 : 23.8,\n    87.6 : 23.4,\n    87.7 : 23.0,\n    87.8 : 22.6,\n    87.9 : 22.2,\n    88.0 : 21.9,\n    88.1 : 21.6,\n    88.2 : 21.3,\n    88.3 : 21.0,\n    88.4 : 20.7,\n    88.5 : 20.4,\n    88.6 : 20.1,\n    88.7 : 19.8,\n    88.8 : 18.5,\n    88.9 : 19.2,\n    89.0 : 19.0,\n    89.1 : 18.7,\n    89.2 : 18.4,\n    89.3 : 18.1,\n    89.4 : 17.8,\n    89.5 : 17.5,\n    89.6 : 17.2,\n    89.7 : 16.9,\n    89.8 : 16.7,\n    89.9 : 16.4,\n    90.0 : 16.2,\n    90.1 : 15.9,\n    90.2 : 15.7,\n    90.3 : 15.5,\n    90.4 : 15.2,\n    90.5 : 15.0,\n    90.6 : 14.8,\n    90.7 : 14.6,\n    90.8 : 14.4,\n    90.9 : 14.1,\n    91.0 : 13.9,\n    91.1 : 13.7,\n    91.2 : 13.5,\n    91.3 : 13.3,\n    91.4 : 13.2,\n    91.5 : 13.0,\n    91.6 : 12.8,\n    91.7 : 12.6,\n    91.8 : 12.4,\n    91.9 : 12.2,\n    92.0 : 12.0,\n    92.1 : 11.8,\n    92.2 : 11.6,\n    92.3 : 11.4,\n    92.4 : 11.2,\n    92.5 : 11.1,\n    92.6 : 10.9,\n    92.7 : 10.7,\n    92.8 : 10.6,\n    92.9 : 10.4,\n    93.0 : 10.2,\n    93.1 : 10.0,\n    93.2 : 9.8,\n    93.3 : 9.6,\n    93.4 : 9.4,\n    93.5 : 9.2,\n    93.6 : 9.0,\n    93.7 : 8.8,\n    93.8 : 8.6,\n    93.9 : 8.5,\n    94.0 : 8.3,\n    94.1 : 8.1,\n    94.2 : 8.0,\n    94.3 : 7.9,\n    94.4 : 7.7,\n    94.5 : 7.6,\n    94.6 : 7.4,\n    94.7 : 7.2,\n    94.8 : 7.0,\n    94.9 : 6.8,\n    95.0 : 6.6,\n    95.1 : 6.4,\n    95.2 : 6.3,\n    95.3 : 6.1,\n    95.4 : 6.0,\n    95.5 : 5.8,\n    95.6 : 5.7,\n    95.7 : 5.5,\n    95.8 : 5.4,\n    95.9 : 5.2,\n    96.0 : 5.0,\n    96.1 : 4.9,\n    96.2 : 4.8,\n    96.3 : 4.7,\n    96.4 : 4.6,\n    96.5 : 4.5,\n    96.6 : 4.4,\n    96.7 : 4.3,\n    96.8 : 4.1,\n    96.9 : 4.0,\n    97.0 : 3.9,\n    97.1 : 3.8,\n    97.2 : 3.6,\n    97.3 : 3.5,\n    97.4 : 3.3,\n    97.5 : 3.2,\n    97.6 : 3.0,\n    97.7 : 2.9,\n    97.8 : 2.8,\n    97.9 : 2.7,\n    98.0 : 2.6,\n    98.1 : 2.5,\n    98.2 : 2.3,\n    98.3 : 2.2,\n    98.4 : 2.1,\n    98.5 : 2.0,\n    98.6 : 1.8,\n    98.7 : 1.6,\n    98.8 : 1.5,\n    98.9 : 1.3,\n    99.0 : 1.2,\n    99.1 : 1.1,\n    99.2 : 1.0,\n    99.3 : 0.9,\n    99.4 : 0.8,\n    99.5 : 0.7,\n    99.6 : 0.7,\n    99.7 : 0.6,\n    99.8 : 0.4,\n    99.9 : 0.2,\n    100.0 : 0\n}\n\nmsg.payload = TempABV[msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["717cdbe5.5a97a4"]]},{"id":"717cdbe5.5a97a4","type":"switch","z":"9ef73f39.07419","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"batch.initialABV","vt":"global"},{"t":"lt","v":"batch.initialABV","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":260,"wires":[["c6eee28a.e8ba6"],["580a9a57.60be34"]]},{"id":"580a9a57.60be34","type":"link out","z":"9ef73f39.07419","name":"Charge ABV","links":["121a4af7.3a2305"],"x":835,"y":280,"wires":[]},{"id":"c6eee28a.e8ba6","type":"change","z":"9ef73f39.07419","name":"Charge Threshold","rules":[{"t":"set","p":"payload","pt":"msg","to":"batch.initialABV","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["580a9a57.60be34"]]},{"id":"1b847843.7b1828","type":"link in","z":"9ef73f39.07419","name":"Charge temp to ABV","links":["95790b99.012848"],"x":235,"y":260,"wires":[["c12e92d7.21f21"]]},{"id":"58e67b76.d27184","type":"link out","z":"9ef73f39.07419","name":"Pot Vapor ABV","links":["cdbde309.46fda"],"x":655,"y":460,"wires":[]},{"id":"3e7d53.33b0e2ae","type":"link in","z":"9ef73f39.07419","name":"Pot Vapor temp to ABV","links":["a591d336.3a884"],"x":335,"y":460,"wires":[["ae94a037.474f4"]]},{"id":"f120818e.7d103","type":"link out","z":"9ef73f39.07419","name":"Product ABV","links":["edb61981.193898"],"x":655,"y":680,"wires":[]},{"id":"2ebbf820.491248","type":"link in","z":"9ef73f39.07419","name":"Head Vapor temp to ABV","links":["49c701a0.f99fc"],"x":335,"y":680,"wires":[["c31ee75f.514fb8"]]},{"id":"7be22fc1.f7dba","type":"comment","z":"9ef73f39.07419","name":"Charge ABV","info":"","x":520,"y":180,"wires":[]},{"id":"d93bbd55.42e6e","type":"comment","z":"9ef73f39.07419","name":"Pot Vapor ABV","info":"","x":530,"y":400,"wires":[]},{"id":"204318f3.ea8f28","type":"comment","z":"9ef73f39.07419","name":"Product ABV","info":"","x":530,"y":600,"wires":[]},{"id":"c31ee75f.514fb8","type":"function","z":"9ef73f39.07419","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":680,"wires":[["f120818e.7d103"]]},{"id":"ae94a037.474f4","type":"function","z":"9ef73f39.07419","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":460,"wires":[["58e67b76.d27184"]]},{"id":"7fe4b5c3.32e58c","type":"function","z":"b4973237.46ab6","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["ae1a6e5.d4c0d9"]]},{"id":"1bacd004.9753c","type":"inject","z":"b4973237.46ab6","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["ec719d4d.0d54f8"]]},{"id":"999a52c2.f465f","type":"function","z":"b4973237.46ab6","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["7fe4b5c3.32e58c"]]},{"id":"ec719d4d.0d54f8","type":"delay","z":"b4973237.46ab6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["ede39236.1961f8"]]},{"id":"a823c9cf.2a6178","type":"function","z":"b4973237.46ab6","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["999a52c2.f465f"]]},{"id":"ae1a6e5.d4c0d9","type":"function","z":"b4973237.46ab6","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"ede39236.1961f8","type":"range","z":"b4973237.46ab6","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["a823c9cf.2a6178"]]}]
