Development/Flows/Temp to ABV.json
[{"id":"9ef73f39.07419","type":"tab","label":"Temp to ABV","disabled":false,"info":""},{"id":"c12e92d7.21f21","type":"function","z":"9ef73f39.07419","name":"LiquidTempABV","func":"TempABV = {\n    78.2 : 96.0,\n    78.3 : 93.6,\n    78.4 : 92.3,\n    78.5 : 91.3,\n    78.6 : 90.0,\n    78.7 : 89.0,\n    78.8 : 88.0,\n    78.9 : 86.9,\n    79.0 : 86.0,\n    79.1 : 85.0,\n    79.2 : 84.1,\n    79.3 : 83.1,\n    79.4 : 82.2,\n    79.5 : 81.3,\n    79.6 : 80.3,\n    79.7 : 79.4,\n    79.8 : 78.4,\n    79.9 : 77.4,\n    80.0 : 76.5,\n    80.1 : 75.5,\n    80.2 : 74.6,\n    80.3 : 73.7,\n    80.4 : 72.8,\n    80.5 : 71.9,\n    80.6 : 71.0,\n    80.7 : 70.3,\n    80.8 : 69.6,\n    80.9 : 68.8,\n    81.0 : 67.7,\n    81.1 : 66.6,\n    81.2 : 65.6,\n    81.3 : 64.7,\n    81.4 : 63.7,\n    81.5 : 62.8,\n    81.6 : 61.9,\n    81.7 : 60.9,\n    81.8 : 60.0,\n    81.9 : 59.0,\n    82.0 : 58.1,\n    82.1 : 57.1,\n    82.2 : 56.3,\n    82.3 : 55.5,\n    82.4 : 54.5,\n    82.5 : 53.6,\n    82.6 : 52.7,\n    82.7 : 51.8,\n    82.8 : 50.9,\n    82.9 : 50.0,\n    83.0 : 49.1,\n    83.1 : 48.2,\n    83.2 : 47.2,\n    83.3 : 46.3,\n    83.4 : 45.5,\n    83.5 : 44.7,\n    83.6 : 44.0,\n    83.7 : 43.2,\n    83.8 : 42.4,\n    83.9 : 41.7,\n    84.0 : 41.1,\n    84.1 : 40.4,\n    84.2 : 39.7,\n    84.3 : 39.0,\n    84.4 : 38.4,\n    84.5 : 37.7,\n    84.6 : 37.0,\n    84.7 : 36.3,\n    84.8 : 35.6,\n    84.9 : 34.8,\n    85.0 : 34.2,\n    85.1 : 33.6,\n    85.2 : 32.9,\n    85.3 : 32.3,\n    85.4 : 31.7,\n    85.5 : 31.1,\n    85.6 : 30.3,\n    85.7 : 29.7,\n    85.8 : 29.0,\n    85.9 : 28.4,\n    86.0 : 27.7,\n    86.1 : 27.0,\n    86.2 : 26.6,\n    86.3 : 26.4,\n    86.4 : 26.3,\n    86.5 : 26.1,\n    86.6 : 26.0,\n    86.7 : 25.8,\n    86.8 : 25.6,\n    86.9 : 25.4,\n    87.0 : 25.2,\n    87.1 : 25.0,\n    87.2 : 24.8,\n    87.3 : 24.6,\n    87.4 : 24.2,\n    87.5 : 23.8,\n    87.6 : 23.4,\n    87.7 : 23.0,\n    87.8 : 22.6,\n    87.9 : 22.2,\n    88.0 : 21.9,\n    88.1 : 21.6,\n    88.2 : 21.3,\n    88.3 : 21.0,\n    88.4 : 20.7,\n    88.5 : 20.4,\n    88.6 : 20.1,\n    88.7 : 19.8,\n    88.8 : 18.5,\n    88.9 : 19.2,\n    89.0 : 19.0,\n    89.1 : 18.7,\n    89.2 : 18.4,\n    89.3 : 18.1,\n    89.4 : 17.8,\n    89.5 : 17.5,\n    89.6 : 17.2,\n    89.7 : 16.9,\n    89.8 : 16.7,\n    89.9 : 16.4,\n    90.0 : 16.2,\n    90.1 : 15.9,\n    90.2 : 15.7,\n    90.3 : 15.5,\n    90.4 : 15.2,\n    90.5 : 15.0,\n    90.6 : 14.8,\n    90.7 : 14.6,\n    90.8 : 14.4,\n    90.9 : 14.1,\n    91.0 : 13.9,\n    91.1 : 13.7,\n    91.2 : 13.5,\n    91.3 : 13.3,\n    91.4 : 13.2,\n    91.5 : 13.0,\n    91.6 : 12.8,\n    91.7 : 12.6,\n    91.8 : 12.4,\n    91.9 : 12.2,\n    92.0 : 12.0,\n    92.1 : 11.8,\n    92.2 : 11.6,\n    92.3 : 11.4,\n    92.4 : 11.2,\n    92.5 : 11.1,\n    92.6 : 10.9,\n    92.7 : 10.7,\n    92.8 : 10.6,\n    92.9 : 10.4,\n    93.0 : 10.2,\n    93.1 : 10.0,\n    93.2 : 9.8,\n    93.3 : 9.6,\n    93.4 : 9.4,\n    93.5 : 9.2,\n    93.6 : 9.0,\n    93.7 : 8.8,\n    93.8 : 8.6,\n    93.9 : 8.5,\n    94.0 : 8.3,\n    94.1 : 8.1,\n    94.2 : 8.0,\n    94.3 : 7.9,\n    94.4 : 7.7,\n    94.5 : 7.6,\n    94.6 : 7.4,\n    94.7 : 7.2,\n    94.8 : 7.0,\n    94.9 : 6.8,\n    95.0 : 6.6,\n    95.1 : 6.4,\n    95.2 : 6.3,\n    95.3 : 6.1,\n    95.4 : 6.0,\n    95.5 : 5.8,\n    95.6 : 5.7,\n    95.7 : 5.5,\n    95.8 : 5.4,\n    95.9 : 5.2,\n    96.0 : 5.0,\n    96.1 : 4.9,\n    96.2 : 4.8,\n    96.3 : 4.7,\n    96.4 : 4.6,\n    96.5 : 4.5,\n    96.6 : 4.4,\n    96.7 : 4.3,\n    96.8 : 4.1,\n    96.9 : 4.0,\n    97.0 : 3.9,\n    97.1 : 3.8,\n    97.2 : 3.6,\n    97.3 : 3.5,\n    97.4 : 3.3,\n    97.5 : 3.2,\n    97.6 : 3.0,\n    97.7 : 2.9,\n    97.8 : 2.8,\n    97.9 : 2.7,\n    98.0 : 2.6,\n    98.1 : 2.5,\n    98.2 : 2.3,\n    98.3 : 2.2,\n    98.4 : 2.1,\n    98.5 : 2.0,\n    98.6 : 1.8,\n    98.7 : 1.6,\n    98.8 : 1.5,\n    98.9 : 1.3,\n    99.0 : 1.2,\n    99.1 : 1.1,\n    99.2 : 1.0,\n    99.3 : 0.9,\n    99.4 : 0.8,\n    99.5 : 0.7,\n    99.6 : 0.7,\n    99.7 : 0.6,\n    99.8 : 0.4,\n    99.9 : 0.2,\n    100.0 : 0\n}\nmsg.payload.ABV = TempABV[msg.payload.temp]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":260,"wires":[["717cdbe5.5a97a4"]]},{"id":"717cdbe5.5a97a4","type":"switch","z":"9ef73f39.07419","name":"","property":"payload.ABV","propertyType":"msg","rules":[{"t":"gte","v":"charge.initialABV","vt":"global"},{"t":"lt","v":"charge.initialABV","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":260,"wires":[["c6eee28a.e8ba6"],["580a9a57.60be34"]]},{"id":"580a9a57.60be34","type":"link out","z":"9ef73f39.07419","name":"Charge ABV","links":["121a4af7.3a2305"],"x":815,"y":280,"wires":[]},{"id":"c6eee28a.e8ba6","type":"change","z":"9ef73f39.07419","name":"Charge Threshold","rules":[{"t":"set","p":"payload.ABV","pt":"msg","to":"charge.initialABV","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["580a9a57.60be34"]]},{"id":"1b847843.7b1828","type":"link in","z":"9ef73f39.07419","name":"Charge temp to ABV","links":["95790b99.012848"],"x":235,"y":260,"wires":[["c12e92d7.21f21"]]},{"id":"58e67b76.d27184","type":"link out","z":"9ef73f39.07419","name":"Pot Vapor ABV","links":["cdbde309.46fda"],"x":775,"y":440,"wires":[]},{"id":"e5e70615.3a2628","type":"switch","z":"9ef73f39.07419","name":"","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"78.1","vt":"str"},{"t":"lte","v":"78.1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":460,"wires":[["58e67b76.d27184"],["62329051.10e1c"]]},{"id":"62329051.10e1c","type":"change","z":"9ef73f39.07419","name":"Heating up","rules":[{"t":"set","p":"payload.ABV","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":480,"wires":[["58e67b76.d27184"]]},{"id":"3e7d53.33b0e2ae","type":"link in","z":"9ef73f39.07419","name":"Pot Vapor temp to ABV","links":["a591d336.3a884"],"x":235,"y":460,"wires":[["c8f96e6d.aff1"]]},{"id":"1f3299c7.d0b8c6","type":"function","z":"9ef73f39.07419","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8\n    \n}\nmsg.payload.ABV = TempABV[msg.payload.temp]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":660,"wires":[["eb753931.859928"]]},{"id":"f120818e.7d103","type":"link out","z":"9ef73f39.07419","name":"Product ABV","links":["edb61981.193898"],"x":775,"y":640,"wires":[]},{"id":"eb753931.859928","type":"switch","z":"9ef73f39.07419","name":"","property":"temp","propertyType":"msg","rules":[{"t":"gt","v":"78.1","vt":"str"},{"t":"lte","v":"78.1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":660,"wires":[["f120818e.7d103"],["2b21e995.bf6a66"]]},{"id":"2b21e995.bf6a66","type":"change","z":"9ef73f39.07419","name":"Heating up","rules":[{"t":"set","p":"payload.ABV","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[["f120818e.7d103"]]},{"id":"2ebbf820.491248","type":"link in","z":"9ef73f39.07419","name":"Head Vapor temp to ABV","links":["49c701a0.f99fc"],"x":235,"y":660,"wires":[["1f3299c7.d0b8c6"]]},{"id":"c8f96e6d.aff1","type":"function","z":"9ef73f39.07419","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : \n    79.1 : \n    79.2 : \n    79.3 : \n    79.4 : \n    79.5 : \n    79.6 : \n    79.7 : \n    79.8 : \n    79.9 : \n    80.0 : \n    80.1 : \n    80.2 : \n    80.3 : \n    80.4 : \n    80.5 : \n    80.6 : \n    80.7 : \n    80.8 : \n    80.9 : \n    81.0 : \n    81.1 : \n    81.2 : \n    81.3 : \n    81.4 : \n    81.5 : \n    81.6 : \n    81.7 : \n    81.8 : \n    81.9 : \n    82.0 : \n    82.1 : \n    82.2 : \n    82.3 : \n    82.4 : \n    82.5 : \n    82.6 : \n    82.7 : \n    82.8 : \n    82.9 : \n    83.0 : \n    83.1 : \n    83.2 : \n    83.3 : \n    83.4 : \n    83.5 : \n    83.6 : \n    83.7 : \n    83.8 : \n    83.9 : \n    84.0 : \n    84.1 : \n    84.2 : \n    84.3 : \n    84.4 : \n    84.5 : \n    84.6 : \n    84.7 : \n    84.8 : \n    84.9 : \n    85.0 : \n    85.1 : \n    85.2 : \n    85.3 : \n    85.4 : \n    85.5 : \n    85.6 : \n    85.7 : \n    85.8 : \n    85.9 : \n    86.0 : \n    86.1 : \n    86.2 : \n    86.3 : \n    86.4 : \n    86.5 : \n    86.6 : \n    86.7 : \n    86.8 : \n    86.9 : \n    87.0 : \n    87.1 : \n    87.2 : \n    87.3 : \n    87.4 : \n    87.5 : \n    87.6 : \n    87.7 : \n    87.8 : \n    87.9 : \n    88.0 : \n    88.1 : \n    88.2 : \n    88.3 : \n    88.4 : \n    88.5 : \n    88.6 : \n    88.7 : \n    88.8 : \n    88.9 : \n    89.0 : \n    89.1 : \n    89.2 : \n    89.3 : \n    89.4 : \n    89.5 : \n    89.6 : \n    89.7 : \n    89.8 : \n    89.9 : \n    90.0 : \n    90.1 : \n    90.2 : \n    90.3 : \n    90.4 : \n    90.5 : \n    90.6 : \n    90.7 : \n    90.8 : \n    90.9 : \n    91.0 : \n    91.1 : \n    91.2 : \n    91.3 : \n    91.4 : \n    91.5 : \n    91.6 : \n    91.7 : \n    91.8 : \n    91.9 : \n    92.0 : \n    92.1 : \n    92.2 : \n    92.3 : \n    92.4 : \n    92.5 : \n    92.6 : \n    92.7 : \n    92.8 : \n    92.9 : \n    93.0 : \n    93.1 : \n    93.2 : \n    93.3 : \n    93.4 : \n    93.5 : \n    93.6 : \n    93.7 : \n    93.8 : \n    93.9 : \n    94.0 : \n    94.1 : \n    94.2 : \n    94.3 : \n    94.4 : \n    94.5 : \n    94.6 : \n    94.7 : \n    94.8 : \n    94.9 : \n    95.0 : \n    95.1 : \n    95.2 : \n    95.3 : \n    95.4 : \n    95.5 : \n    95.6 : \n    95.7 : \n    95.8 : \n    95.9 : \n    96.0 : \n    96.1 : \n    96.2 : \n    96.3 : \n    96.4 : \n    96.5 : \n    96.6 : \n    96.7 : \n    96.8 : \n    96.9 : \n    97.0 : \n    97.1 : \n    97.2 : \n    97.3 : \n    97.4 : \n    97.5 : \n    97.6 : \n    97.7 : \n    97.8 : \n    97.9 : \n    98.0 : \n    98.1 : \n    98.2 : \n    98.3 : \n    98.4 : \n    98.5 : \n    98.6 : \n    98.7 : \n    98.8 : \n    98.9 : \n    99.0 : \n    99.1 : \n    99.2 : \n    99.3 : \n    99.4 : \n    99.5 : \n    99.6 : \n    99.7 : \n    99.8 : \n    99.9 : \n    100.0 : \n}\nmsg.payload.ABV = TempABV[msg.payload.temp]\nreturn msg;","outputs":1,"noerr":5,"initialize":"","finalize":"","x":380,"y":460,"wires":[["e5e70615.3a2628"]]},{"id":"7be22fc1.f7dba","type":"comment","z":"9ef73f39.07419","name":"Charge ABV","info":"","x":520,"y":180,"wires":[]},{"id":"d93bbd55.42e6e","type":"comment","z":"9ef73f39.07419","name":"Pot Vapor ABV","info":"","x":530,"y":400,"wires":[]},{"id":"204318f3.ea8f28","type":"comment","z":"9ef73f39.07419","name":"Product ABV","info":"","x":530,"y":600,"wires":[]}]
