V1.0-Beta/package.json
[{"id":"b8112136.e594b","type":"tab","label":"Initiate","disabled":false,"info":""},{"id":"de93bf73.91c09","type":"tab","label":"Start up Form","disabled":false,"info":""},{"id":"92baee0.48dc21","type":"tab","label":"Dephleg Control","disabled":false,"info":""},{"id":"c7cd9866.a5f918","type":"tab","label":"Distillery Temps","disabled":false,"info":""},{"id":"b6c2b635.891a28","type":"tab","label":"Distilling UI","disabled":false,"info":""},{"id":"d6aab34f.74a0b","type":"tab","label":"PID Controls","disabled":false,"info":""},{"id":"7275b624.c890f8","type":"tab","label":"Element Control","disabled":false,"info":""},{"id":"36848125.8127ee","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"e9088d5c.0a27c","type":"tab","label":"Settings","disabled":false,"info":"This flow displays output from the PID \nalgorithm. This can be useful for tuning \npurposes."},{"id":"a4159cf7.8fe94","type":"tab","label":"Temp to ABV","disabled":false,"info":""},{"id":"b4973237.46ab6","type":"subflow","name":"Process Simulation","info":"","category":"","in":[{"x":37,"y":103,"wires":[{"id":"ec719d4d.0d54f8"}]}],"out":[{"x":728.5,"y":294,"wires":[{"id":"ae1a6e5.d4c0d9","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"77442757.1131a8","type":"group","z":"c7cd9866.a5f918","name":"Sensor Selection","style":{"label":true},"nodes":["a61a8553.a42ad8","e048ea26.589bf8","71e1fcc0.608544","82b51d58.951f5","9d1babd2.5cad78"],"x":74,"y":19},{"id":"90ef8b8.2c7ed78","type":"group","z":"c7cd9866.a5f918","name":"DS18B20 Sensors","style":{"label":true},"nodes":["2a0d6a85.4c61c6","1373e769.7b7949","7b458e6f.a3325","90bbdfd8.5eaed","3b822caa.098074","2d83ec58.711ba4","32df92a7.13153e","d1d92da9.066c","171045b1.b5e7ea","9fae8771.a7de98","1eea5f6a.051541"],"x":154,"y":199},{"id":"4450b274.f054ac","type":"group","z":"c7cd9866.a5f918","name":"RTD - Sequent Microsystems","style":{"label":true},"nodes":["27818443.a1408c","22f803b4.b5ca7c","241de585.58889a","df09faf0.a95c88","392a3f16.6334f","34933216.a6587e","6d5c926d.2da34c","b1c00425.9873c8","76546074.58015","5159320b.af583c","4a331fb7.ea506"],"x":154,"y":459},{"id":"dee0b127.9eda","type":"group","z":"c7cd9866.a5f918","name":"Head Vapor Temp","style":{"label":true},"nodes":["40ce7b97.87e3b4","272342e7.43a3fe","367e88eb.1697a8","4089248c.a0ba6c","50d8d972.f3bc78"],"x":694,"y":579},{"id":"f81b18c5.5e92d8","type":"group","z":"c7cd9866.a5f918","name":"Dephleg Temp","style":{"label":true},"nodes":["dc714c18.2c8f3","badffa91.bc4b18","81515fba.54b23","4922a05d.0b436","b47509e7.c6f878"],"x":694,"y":439},{"id":"15a9ba67.8e57c6","type":"group","z":"c7cd9866.a5f918","name":"Pot Vapor Temp","style":{"label":true},"nodes":["9844ab42.dc2f88","8ba4962d.251c78","d54754c4.fc68e8","64a242da.aee34c","4d5706ea.33b428"],"x":694,"y":299},{"id":"95146af1.b868a8","type":"group","z":"c7cd9866.a5f918","name":"Charge Temp","style":{"label":true},"nodes":["3c42f11c.da90be","91414316.c9459","91c89b41.d61628","289cda0b.0fbfc6","ca1ca5a.47fbb58"],"x":694,"y":159},{"id":"f1ecd8e2.b0a338","type":"group","z":"c7cd9866.a5f918","name":"Jacket Temp","style":{"label":true},"nodes":["33fd5130.c2b59e","b0284bfd.13d438","df08d1bf.230a4","6bc4f850.88c818","9e67a50f.5087e8"],"x":694,"y":19},{"id":"f99a393a.cbd898","type":"group","z":"de93bf73.91c09","name":"Batch Information","style":{"label":true},"nodes":["bdaff123.9457b","4076b108.0fba","6c7055e7.4e71bc","afae9d4c.193ca","3083f61d.a6573a","3ac91bdf.4b6f54","4219f25.3b43f0c","d1abf200.9c9e1","479594c7.c00f7c","96092b1c.a27f48","b21f7f7c.6da16","aa0a1c80.30fb9"],"x":254,"y":39,"w":532,"h":282},{"id":"68f8a4c1.b3898c","type":"group","z":"c7cd9866.a5f918","name":"RTD - MAX31865","style":{"label":true},"nodes":["4c6d7059.7d073","ad9fa2f4.9c41b","5ac38377.077e8c","58b33560.862b8c","1bcc9e34.5c85c2","5075ea26.c44bf4","5f8f9229.0df84c","c89c578f.03b478","8688e823.b04388","67be2a53.eda774","12595fe7.cd80c"],"x":154,"y":719},{"id":"5e24ed9f.2e4ca4","type":"group","z":"de93bf73.91c09","name":"Equipment Information","style":{"label":true},"nodes":["ab7ed8fa.c95728","beb739d8.f9d7b8","bedaef76.8e67b","7f19c38.f41fc3c"],"x":254,"y":379,"w":512,"h":122},{"id":"d300bfcb.e6db1","type":"group","z":"a4159cf7.8fe94","name":"Pot Vapor ABV","style":{"label":true},"nodes":["ab15260b.fadb98","afdf81f.235178","86633694.af63c8"],"x":194,"y":259},{"id":"e65bead7.19a058","type":"group","z":"a4159cf7.8fe94","name":"Product ABV","style":{"label":true},"nodes":["d39096e5.1c9f68","40567133.36902","8c2fc240.46a87"],"x":194,"y":359},{"id":"96288347.51711","type":"group","z":"a4159cf7.8fe94","name":"Charge ABV","style":{"label":true},"nodes":["857a803.078988","3cd4b90f.858386","1453d042.8d623","387252.7de63dae","aefffb75.79a6a8"],"x":194,"y":119},{"id":"70185001.65eac","type":"group","z":"d6aab34f.74a0b","name":"Simple PID","style":{"label":true},"nodes":["e41a302.f7dfbd","a729392d.377cb8","a447a2a6.129f3","3e257d8a.74adc2","98a8b915.1f1748","a46c3606.1ed7b8","497fc0ec.2d23a","58cf956c.5f5a9c","9d114786.00f4f8","f56aca12.86ee98","246f6a99.0536a6","903b5a82.ece9a8","5de285d4.0ffcfc","b14e3ef9.7dc06","efb7b606.473ee8"],"x":634,"y":199},{"id":"2a45f799.c069b8","type":"group","z":"d6aab34f.74a0b","name":"Cascade PID","style":{"label":true},"nodes":["a51b22b1.df1d8","3f649c50.6122b4","851e8c3f.3de15","4036fbf5.593634","a270d0cf.0f1a3","49e37f58.00674","108c5d6.35365a3","8e61a6d0.084bb8","43621a4c.003ae4","c6fb8418.29c078","ea7754df.f29998","9f6b9768.2f3808","6b90963d.ad4db8","a188313.5dd4cd","f9697d4d.d0e4","d8300e56.aae3","9e602d7e.d43dc","d7298b23.1bec78","d1fc4531.9993a8","2fdbda52.ec5256","796dd50f.1afd0c","7e47aa3.9cd8f54","6754ce34.5368e","ca0ba955.ac4f58","109f097c.6fd1f7","6948a168.4f8f6","eece2f2e.44a95","645b33c8.57a1ac","f71f94fb.1e7ae8","754187cc.959148","47f1078c.16ba08","617686a8.2ac8c8","8c359555.d7d8a8","c91cfe14.d5167","758b09e8.6dc468","4abf1fed.06ad7","9b87db49.cc1db8"],"x":54,"y":199},{"id":"dbc64d03.5bc92","type":"group","z":"d6aab34f.74a0b","name":"PID selector","style":{"label":true},"nodes":["4e9e6dca.676ce4","29b92f87.1d99c","d8278d7e.29d1c","e961fe32.14e66","a2d575d9.985618"],"x":54,"y":19},{"id":"bc8fc09a.5b762","type":"group","z":"d6aab34f.74a0b","name":"Target temp","style":{"label":true},"nodes":["e8a24140.ab1d2","4f661344.fb864c","dbba3415.2975d8","a4049e6f.19b98"],"x":634,"y":19},{"id":"992a87fd.2d4948","type":"group","z":"92baee0.48dc21","name":"Dephleg Parameters","style":{"label":true},"nodes":["56515e2d.82d15","9117f83a.6891c8","11679bad.3154d4","bf18307f.110f7","692a478f.424c48","fd210056.29184","dcbb7291.84437"],"x":74,"y":39},{"id":"58d59afb.88c934","type":"group","z":"92baee0.48dc21","name":"Dephleg Control","style":{"label":true},"nodes":["561d20ef.b8688","d4c800bd.0767","fbdfb3e3.2aa4e","9bd649cd.3a0e68","2cd62deb.f97042"],"x":74,"y":279},{"id":"2f6d83dd.f68edc","type":"group","z":"7275b624.c890f8","name":"Element Control","style":{"label":true},"nodes":["5fa6e78b.ae5968","27684eaa.a33d62","c661dd7d.982e8","cc259a5a.8cccd8"],"x":134,"y":59},{"id":"9e891fd2.c3f12","type":"group","z":"e9088d5c.0a27c","name":"Cascade PID","style":{"label":true},"nodes":["71f63262.fe1f5c","7c0228d4.217bc8","2f53f846.207428","8488d1b0.2dc86","c20530a3.96428","d33ceec5.fcdcf","da179796.826b18","4aaefe87.c057e","2d4b6b7c.b748d4","d6bfc362.de0b","5594f75d.6ab018"],"x":34,"y":19},{"id":"f9065291.cc264","type":"group","z":"e9088d5c.0a27c","name":"Dashboard","style":{"label":true},"nodes":["8850f9d5.786208","57b2ba04.2240a4"],"x":694,"y":219},{"id":"ec1b7117.3c03e","type":"group","z":"e9088d5c.0a27c","name":"Simple PID","style":{"label":true},"nodes":["2bd52300.f0e91c","b5a67436.41fbf8","e078d0fc.3718e","73d18a4c.aa3714"],"x":694,"y":19},{"id":"1275229.73ceddd","type":"group","z":"e9088d5c.0a27c","name":"Settings","style":{"label":true},"nodes":["58727c6f.ae95c4","c1023d09.ef68f","bc8e004c.3f8d4","de5e9147.c6c74","5537ef7b.9c8b2","8d3cc6f9.0caa48","f74c265e.977bc8"],"x":34,"y":399},{"id":"63e4631e.4c890c","type":"group","z":"de93bf73.91c09","name":"Start Button","style":{"label":true},"nodes":["2fd157e1.372648","f9958f03.f3282","73c51acc.a61d24","bab23cef.c6407"],"x":254,"y":559,"w":592,"h":122},{"id":"313052a8.b5757e","type":"group","z":"b6c2b635.891a28","name":"Main System Switch","style":{"label":true},"nodes":["13033e96.858f91","8111fd7a.f8a9","8c6f103d.6ec6e","363381d.384447e","864fe813.00bf78","4d49d591.7d447c"],"x":14,"y":19},{"id":"bf9d01da.d295","type":"group","z":"b6c2b635.891a28","name":"PID Control","style":{"label":true},"nodes":["af87613a.e707c","93eea6b2.3e0e98","b2f7f5be.875198","f486a086.b933","33070e60.112262","254ca1c6.758cfe"],"x":14,"y":119},{"id":"e4ddbed4.fc77e","type":"group","z":"b6c2b635.891a28","name":"Manual Control","style":{"label":true},"nodes":["d8c7b456.748788","7af06e2.d82129","af13b2e1.47cc1","d3978cf6.83417","a54bdee0.ec8a9","96742492.0ffd58","286e7102.bd811e","5ff3938b.74c10c","e823b40a.672598","ace2a575.a520d8","51bb3a2d.877154","b60a6892.ad7ab8","2c2bc22a.af7a0e"],"x":14,"y":299},{"id":"f71e7358.c6a52","type":"group","z":"b6c2b635.891a28","name":"Input Temps","style":{"label":true},"nodes":["c600dfe1.f8566","b2f008f3.2cf708","b922659b.ebef48","6eaa34cb.820e8c","5c660b18.7ffd24","4f76d2aa.3d8eec","eba98b72.07f2e8"],"x":14,"y":499},{"id":"8ef4d53a.df2df8","type":"group","z":"b6c2b635.891a28","name":"Output Temps","style":{"label":true},"nodes":["60addf35.677d9","b46afff5.d8f6a","2728d3e8.b809fc","3b6c2a90.94e9a6","2563939c.0b1f8c","d9e22990.015cf8","6fb5115e.eb099","d1d4694e.64b4d8","ca6434e8.3fc3b8"],"x":14,"y":719},{"id":"a6ff9dbe.830e7","type":"group","z":"b6c2b635.891a28","name":"Reflux Control","style":{"label":true},"nodes":["2e01b75a.7baae8","d9f4168.109c7e8","197a07cc.de0d48","3eaad418.011b2c","672ade54.2a2e5","76e15b69.899484","2f2e007e.9bed7"],"x":414,"y":499},{"id":"9d7f936b.4c1ff","type":"group","z":"b6c2b635.891a28","name":"Output ABV","style":{"label":true},"nodes":["fa5f78d2.3fdb58","9a47028e.c7477","8550adcb.0c7ec","3b40ae49.72dc92","2fd15956.5829b6","1646c6ee.acb3c9","6dfab8f9.27d0a8"],"x":414,"y":719},{"id":"82032573.846958","type":"group","z":"b6c2b635.891a28","name":"UI Control","style":{"label":true},"nodes":["f3cd7892.929cd8","71f7b1a7.914c8","ba9472c9.08ee7","4c08d85f.e5ae88"],"x":814,"y":739},{"id":"acbdc567.d63bf8","type":"group","z":"b6c2b635.891a28","name":"Kill Switch","style":{"label":true},"nodes":["f9cf014.fd44c","ec2d52eb.9f67e","ed18441d.6615b8","4584968a.1d7d18","eb352ac5.4b9fe8","8ecc641a.5f0be8"],"x":674,"y":119},{"id":"4b0dda2.671d124","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Galveston Distilling Co","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"80cd4062.93a5","type":"ui_tab","name":"Distilling","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a0e00a00.81b428","type":"ui_group","name":"HLT","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea5e6691.a9d4b8","type":"ui_group","name":"MLT","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"9d59abb0.326b08","type":"ui_group","name":"BK","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"3a5d5e9b.7af2a2","type":"ui_group","name":"Timer","tab":"","order":5,"disp":true,"width":"6","collapse":false},{"id":"867a95f.bdb8168","type":"ui_group","name":"Status","tab":"","order":6,"disp":true,"width":"6","collapse":false},{"id":"9f19d793.eac5f8","type":"ui_group","name":"Batch Information","tab":"c356d94c.a5acd8","order":1,"disp":true,"width":"4","collapse":false},{"id":"f52ce78c.180578","type":"ui_group","name":"MLT Calibration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4db7f25b.b9ea8c","type":"ui_group","name":"BK Calibration","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"99bd808a.f2698","type":"ui_group","name":"MLT Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96ccbe54.5ee14","type":"ui_group","name":"HLT Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e71aa9ca.9bbda8","type":"ui_group","name":"BK Settings","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"6078a96a.d1d938","type":"ui_group","name":"Logging","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e010af88.2414c","type":"ui_group","name":"Settings","tab":"","order":1,"disp":true,"width":"8","collapse":false},{"id":"4871467d.3f6578","type":"ui_group","name":"Mash Schedule","tab":"","order":2,"disp":true,"width":"8","collapse":false},{"id":"6c2dc2b5.3e20ac","type":"ui_group","name":"Bottom","tab":"","order":3,"disp":true,"width":8,"collapse":false},{"id":"4ab794a8.956e2c","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":4,"width":8,"height":1},{"id":"c197493c.080228","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":6,"width":2,"height":1},{"id":"a97ca045.0ef45","type":"ui_spacer","name":"spacer","group":"e010af88.2414c","order":7,"width":2,"height":1},{"id":"b921988f.6da898","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brew2","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"f6e1ef23.f6f118","type":"ui_group","name":"MASH","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"9fe30f36.92cc2","type":"ui_group","name":"BOIL","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"f3e4e5c9.37f76","type":"ui_group","name":"BOIL SETTINGS","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"321aaa6a.377d5e","type":"ui_group","name":"Charge Cascade PID","tab":"9d60f4cf.750658","order":3,"disp":true,"width":"6","collapse":false},{"id":"7311bc5c.585f8c","type":"ui_group","name":"BOTTOM","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"63e15812.768e7","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"brew2","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"c8c78fe4.1dbea","type":"ui_tab","name":"General Settings","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"8d73628b.8b862","type":"ui_group","name":"LOGGING","tab":"c8c78fe4.1dbea","order":1,"disp":true,"width":"6","collapse":false},{"id":"3664e4b.5830a9c","type":"ui_group","name":"Jacket Cascade PID","tab":"9d60f4cf.750658","order":2,"disp":true,"width":"6","collapse":false},{"id":"cafd8af.6569df8","type":"ui_group","name":"SETTINGS","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"96bf5896.1b3","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":3,"width":1,"height":1},{"id":"2cfdf347.8a409c","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":5,"width":1,"height":1},{"id":"6db8096d.374e48","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":8,"width":1,"height":1},{"id":"bb34ebdd.441c78","type":"ui_spacer","name":"spacer","group":"f6e1ef23.f6f118","order":11,"width":6,"height":1},{"id":"c23518b8.fe4078","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":3,"width":1,"height":1},{"id":"77749ace.a27fd4","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":5,"width":1,"height":1},{"id":"161e0a39.182ef6","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":8,"width":1,"height":1},{"id":"b6e497ee.fe7be","type":"ui_spacer","name":"spacer","group":"9fe30f36.92cc2","order":9,"width":6,"height":1},{"id":"ec60eb52.b964f8","type":"ui_spacer","name":"spacer","group":"7311bc5c.585f8c","order":1,"width":1,"height":1},{"id":"2d0bf0ca.7f6d5","type":"ui_spacer","name":"spacer","group":"7311bc5c.585f8c","order":3,"width":1,"height":1},{"id":"44727e58.1ef0a","type":"ui_spacer","name":"spacer","group":"cafd8af.6569df8","order":4,"width":"6","height":1},{"id":"d950fab6.61d3c8","type":"ui_spacer","name":"spacer","group":"8d73628b.8b862","order":6,"width":6,"height":1},{"id":"958ff866.e606f8","type":"ui_group","name":"Reflux","tab":"80cd4062.93a5","order":2,"disp":true,"width":"9","collapse":false},{"id":"5ba9cb15.acfaf4","type":"ui_spacer","name":"spacer","group":"f3e4e5c9.37f76","order":5,"width":4,"height":1},{"id":"5fa23c95.9835e4","type":"ui_group","name":"Output","tab":"80cd4062.93a5","order":3,"disp":true,"width":9,"collapse":false},{"id":"f0c68884.7c8b18","type":"ui_group","name":"Input Control","tab":"80cd4062.93a5","order":1,"disp":true,"width":9,"collapse":false},{"id":"f04603e8.50a4f","type":"ui_group","name":"Regular PID","tab":"9d60f4cf.750658","order":1,"disp":true,"width":"6","collapse":false},{"id":"9d60f4cf.750658","type":"ui_tab","name":"Settings","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"50b35c82.f9a6f4","type":"ui_group","name":"Settings","tab":"9d60f4cf.750658","order":4,"disp":true,"width":"6","collapse":false},{"id":"ce7416d6.e2ed68","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":2,"width":4,"height":1},{"id":"a7187e6f.a930c","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":2,"width":4,"height":1},{"id":"1a3677cf.412528","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":10,"width":1,"height":1},{"id":"e9e19cf4.359f3","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":12,"width":1,"height":1},{"id":"c356d94c.a5acd8","type":"ui_tab","name":"New Run","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5391d36f.c4282c","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"Test","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"40070099.65227","type":"ui_group","name":"Equipment","tab":"c356d94c.a5acd8","order":null,"disp":true,"width":4,"collapse":false},{"id":"bf22b89c.a5d8a8","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":8,"width":3,"height":1},{"id":"bc907ce9.18747","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":10,"width":3,"height":1},{"id":"b63bd56b.5be5f8","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":11,"width":3,"height":1},{"id":"1b927a23.581b36","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":12,"width":3,"height":1},{"id":"ae8f2222.99055","type":"ui_group","name":"RELAYS","tab":"","order":2,"disp":true,"width":"4","collapse":false},{"id":"3eeeb0d0.28c43","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":8,"width":3,"height":1},{"id":"1d862b1c.b25d65","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":10,"width":3,"height":1},{"id":"c4e7e5f.4199f18","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":11,"width":3,"height":1},{"id":"8aa7bf37.551d6","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":12,"width":3,"height":1},{"id":"e3726ccb.546b7","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":1,"width":2,"height":1},{"id":"fab16d26.ce62a","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":3,"width":2,"height":1},{"id":"762548e0.566688","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":1,"width":2,"height":1},{"id":"f39e2efe.20fc7","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":3,"width":2,"height":1},{"id":"c12ce118.a27f4","type":"ui_group","name":"RELAYS","tab":"","order":2,"disp":true,"width":"4","collapse":false},{"id":"1164eae9.a9e665","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":8,"width":3,"height":1},{"id":"5c80791a.33b518","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":10,"width":3,"height":1},{"id":"6d7bc041.d16ee","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":11,"width":3,"height":1},{"id":"e0c199a2.93ae98","type":"ui_spacer","name":"spacer","group":"f0c68884.7c8b18","order":12,"width":3,"height":1},{"id":"fe95e0e6.6169e","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":1,"width":2,"height":1},{"id":"f06f99dc.876f78","type":"ui_spacer","name":"spacer","group":"3664e4b.5830a9c","order":3,"width":2,"height":1},{"id":"f9d043ee.5aaae","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":1,"width":2,"height":1},{"id":"25d03059.ba0ce","type":"ui_spacer","name":"spacer","group":"321aaa6a.377d5e","order":3,"width":2,"height":1},{"id":"7fe4b5c3.32e58c","type":"function","z":"b4973237.46ab6","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":626.5,"y":207,"wires":[["ae1a6e5.d4c0d9"]]},{"id":"1bacd004.9753c","type":"inject","z":"b4973237.46ab6","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":134.5,"y":30,"wires":[["ec719d4d.0d54f8"]]},{"id":"999a52c2.f465f","type":"function","z":"b4973237.46ab6","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":207,"wires":[["7fe4b5c3.32e58c"]]},{"id":"ec719d4d.0d54f8","type":"delay","z":"b4973237.46ab6","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":268,"y":104,"wires":[["ede39236.1961f8"]]},{"id":"a823c9cf.2a6178","type":"function","z":"b4973237.46ab6","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":258,"y":208,"wires":[["999a52c2.f465f"]]},{"id":"ae1a6e5.d4c0d9","type":"function","z":"b4973237.46ab6","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":545,"y":293,"wires":[[]]},{"id":"ede39236.1961f8","type":"range","z":"b4973237.46ab6","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"name":"","x":87,"y":208,"wires":[["a823c9cf.2a6178"]]},{"id":"82b51d58.951f5","type":"link out","z":"c7cd9866.a5f918","g":"77442757.1131a8","name":"","links":["4a331fb7.ea506","337edde0.421592"],"x":575,"y":100,"wires":[]},{"id":"71e1fcc0.608544","type":"link out","z":"c7cd9866.a5f918","g":"77442757.1131a8","name":"","links":["1eea5f6a.051541"],"x":575,"y":60,"wires":[]},{"id":"e048ea26.589bf8","type":"switch","z":"c7cd9866.a5f918","g":"77442757.1131a8","name":"Sensor Type Selection","property":"batch.sensor","propertyType":"global","rules":[{"t":"eq","v":"ds18b20","vt":"str"},{"t":"eq","v":"RTD - Sequent Microsystems","vt":"str"},{"t":"eq","v":"RTD - MAX31865","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":100,"wires":[["71e1fcc0.608544"],["82b51d58.951f5"],["9d1babd2.5cad78"]]},{"id":"4a331fb7.ea506","type":"link in","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["82b51d58.951f5"],"x":195,"y":580,"wires":[["22f803b4.b5ca7c","241de585.58889a","df09faf0.a95c88","27818443.a1408c","392a3f16.6334f"]]},{"id":"1eea5f6a.051541","type":"link in","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["71e1fcc0.608544"],"x":195,"y":320,"wires":[["2a0d6a85.4c61c6","1373e769.7b7949","7b458e6f.a3325","90bbdfd8.5eaed","3b822caa.098074"]]},{"id":"5159320b.af583c","type":"link out","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["50d8d972.f3bc78"],"x":495,"y":660,"wires":[]},{"id":"76546074.58015","type":"link out","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["b47509e7.c6f878"],"x":495,"y":620,"wires":[]},{"id":"9fae8771.a7de98","type":"link out","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["50d8d972.f3bc78"],"x":495,"y":400,"wires":[]},{"id":"50d8d972.f3bc78","type":"link in","z":"c7cd9866.a5f918","g":"dee0b127.9eda","name":"","links":["9fae8771.a7de98","5159320b.af583c","67be2a53.eda774"],"x":735,"y":640,"wires":[["272342e7.43a3fe","40ce7b97.87e3b4"]]},{"id":"171045b1.b5e7ea","type":"link out","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["b47509e7.c6f878"],"x":495,"y":360,"wires":[]},{"id":"b47509e7.c6f878","type":"link in","z":"c7cd9866.a5f918","g":"f81b18c5.5e92d8","name":"","links":["171045b1.b5e7ea","76546074.58015","5075ea26.c44bf4"],"x":735,"y":500,"wires":[["badffa91.bc4b18","dc714c18.2c8f3"]]},{"id":"b1c00425.9873c8","type":"link out","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["4d5706ea.33b428"],"x":495,"y":580,"wires":[]},{"id":"d1d92da9.066c","type":"link out","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["4d5706ea.33b428"],"x":495,"y":320,"wires":[]},{"id":"4d5706ea.33b428","type":"link in","z":"c7cd9866.a5f918","g":"15a9ba67.8e57c6","name":"","links":["d1d92da9.066c","b1c00425.9873c8","8688e823.b04388"],"x":735,"y":360,"wires":[["8ba4962d.251c78","9844ab42.dc2f88"]]},{"id":"6d5c926d.2da34c","type":"link out","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["ca1ca5a.47fbb58"],"x":495,"y":540,"wires":[]},{"id":"ca1ca5a.47fbb58","type":"link in","z":"c7cd9866.a5f918","g":"95146af1.b868a8","name":"","links":["32df92a7.13153e","6d5c926d.2da34c","c89c578f.03b478"],"x":735,"y":220,"wires":[["91c89b41.d61628","3c42f11c.da90be"]]},{"id":"32df92a7.13153e","type":"link out","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["ca1ca5a.47fbb58"],"x":495,"y":280,"wires":[]},{"id":"34933216.a6587e","type":"link out","z":"c7cd9866.a5f918","g":"4450b274.f054ac","name":"","links":["9e67a50f.5087e8"],"x":495,"y":500,"wires":[]},{"id":"2d83ec58.711ba4","type":"link out","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"","links":["9e67a50f.5087e8"],"x":495,"y":240,"wires":[]},{"id":"9e67a50f.5087e8","type":"link in","z":"c7cd9866.a5f918","g":"f1ecd8e2.b0a338","name":"","links":["2d83ec58.711ba4","34933216.a6587e","5f8f9229.0df84c"],"x":735,"y":80,"wires":[["b0284bfd.13d438","33fd5130.c2b59e"]]},{"id":"392a3f16.6334f","type":"rtd","z":"c7cd9866.a5f918","g":"abbb9e71.5c066","name":"Head Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":370,"y":660,"wires":[["5159320b.af583c"]]},{"id":"df09faf0.a95c88","type":"rtd","z":"c7cd9866.a5f918","g":"abbb9e71.5c066","name":"Pot Vapor Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":580,"wires":[["b1c00425.9873c8"]]},{"id":"241de585.58889a","type":"rtd","z":"c7cd9866.a5f918","g":"abbb9e71.5c066","name":"Charge Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":540,"wires":[["6d5c926d.2da34c"]]},{"id":"22f803b4.b5ca7c","type":"rtd","z":"c7cd9866.a5f918","g":"abbb9e71.5c066","name":"Jacket Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":350,"y":500,"wires":[["34933216.a6587e"]]},{"id":"27818443.a1408c","type":"rtd","z":"c7cd9866.a5f918","g":"abbb9e71.5c066","name":"Dephleg Temp","stack":"1","channel":"1","resistance":false,"payload":"payload","payloadType":"msg","x":360,"y":620,"wires":[["76546074.58015"]]},{"id":"4089248c.a0ba6c","type":"change","z":"c7cd9866.a5f918","g":"dee0b127.9eda","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Head Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["367e88eb.1697a8"]]},{"id":"4922a05d.0b436","type":"change","z":"c7cd9866.a5f918","g":"f81b18c5.5e92d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Depleg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["81515fba.54b23"]]},{"id":"64a242da.aee34c","type":"change","z":"c7cd9866.a5f918","g":"15a9ba67.8e57c6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Pot Vapor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":380,"wires":[["d54754c4.fc68e8"]]},{"id":"289cda0b.0fbfc6","type":"change","z":"c7cd9866.a5f918","g":"95146af1.b868a8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["91414316.c9459"]]},{"id":"6bc4f850.88c818","type":"change","z":"c7cd9866.a5f918","g":"f1ecd8e2.b0a338","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"Jacket","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[["df08d1bf.230a4"]]},{"id":"367e88eb.1697a8","type":"link out","z":"c7cd9866.a5f918","g":"dee0b127.9eda","name":"Head Vapor Temp","links":["6fb5115e.eb099"],"x":1115,"y":660,"wires":[]},{"id":"81515fba.54b23","type":"link out","z":"c7cd9866.a5f918","g":"f81b18c5.5e92d8","name":"Dephleg temp","links":["197a07cc.de0d48","56515e2d.82d15","d9e22990.015cf8"],"x":1115,"y":520,"wires":[]},{"id":"d54754c4.fc68e8","type":"link out","z":"c7cd9866.a5f918","g":"15a9ba67.8e57c6","name":"Pot_Vapor temp","links":["3b6c2a90.94e9a6"],"x":1115,"y":380,"wires":[]},{"id":"272342e7.43a3fe","type":"change","z":"c7cd9866.a5f918","g":"dee0b127.9eda","name":"","rules":[{"t":"set","p":"head_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":620,"wires":[[]]},{"id":"badffa91.bc4b18","type":"change","z":"c7cd9866.a5f918","g":"f81b18c5.5e92d8","name":"","rules":[{"t":"set","p":"dephleg.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":480,"wires":[[]]},{"id":"8ba4962d.251c78","type":"change","z":"c7cd9866.a5f918","g":"15a9ba67.8e57c6","name":"","rules":[{"t":"set","p":"pot_vapor.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":340,"wires":[[]]},{"id":"91c89b41.d61628","type":"change","z":"c7cd9866.a5f918","g":"95146af1.b868a8","name":"","rules":[{"t":"set","p":"charge.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":200,"wires":[[]]},{"id":"91414316.c9459","type":"link out","z":"c7cd9866.a5f918","g":"95146af1.b868a8","name":"Charge Temp","links":["5c660b18.7ffd24"],"x":1115,"y":240,"wires":[]},{"id":"df08d1bf.230a4","type":"link out","z":"c7cd9866.a5f918","g":"f1ecd8e2.b0a338","name":"Jacket Temp","links":["6eaa34cb.820e8c"],"x":1115,"y":100,"wires":[]},{"id":"b0284bfd.13d438","type":"change","z":"c7cd9866.a5f918","g":"f1ecd8e2.b0a338","name":"","rules":[{"t":"set","p":"jacket.temp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":60,"wires":[[]]},{"id":"3b822caa.098074","type":"sensor-ds18b20","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"Head Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":370,"y":400,"wires":[["9fae8771.a7de98"]]},{"id":"40ce7b97.87e3b4","type":"smooth","z":"c7cd9866.a5f918","g":"dee0b127.9eda","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":660,"wires":[["4089248c.a0ba6c"]]},{"id":"90bbdfd8.5eaed","type":"sensor-ds18b20","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"Dephleg temp","topic":"","sensorid":"00-240000000000","timer":"1","repeat":false,"x":360,"y":360,"wires":[["171045b1.b5e7ea"]]},{"id":"dc714c18.2c8f3","type":"smooth","z":"c7cd9866.a5f918","g":"f81b18c5.5e92d8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":520,"wires":[["4922a05d.0b436"]]},{"id":"7b458e6f.a3325","type":"sensor-ds18b20","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"Pot Vapor temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":360,"y":320,"wires":[["d1d92da9.066c"]]},{"id":"1373e769.7b7949","type":"sensor-ds18b20","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"Charge temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":280,"wires":[["32df92a7.13153e"]]},{"id":"2a0d6a85.4c61c6","type":"sensor-ds18b20","z":"c7cd9866.a5f918","g":"90ef8b8.2c7ed78","name":"Jacket temp","topic":"","sensorid":"00-a72800000000","timer":"1","repeat":false,"x":350,"y":240,"wires":[["2d83ec58.711ba4"]]},{"id":"9844ab42.dc2f88","type":"smooth","z":"c7cd9866.a5f918","g":"15a9ba67.8e57c6","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":380,"wires":[["64a242da.aee34c"]]},{"id":"3c42f11c.da90be","type":"smooth","z":"c7cd9866.a5f918","g":"95146af1.b868a8","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":240,"wires":[["289cda0b.0fbfc6"]]},{"id":"33fd5130.c2b59e","type":"smooth","z":"c7cd9866.a5f918","g":"f1ecd8e2.b0a338","name":"","property":"payload","action":"mean","count":"5","round":"1","mult":"single","reduce":false,"x":840,"y":100,"wires":[["6bc4f850.88c818"]]},{"id":"a61a8553.a42ad8","type":"inject","z":"c7cd9866.a5f918","g":"77442757.1131a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":100,"wires":[["e048ea26.589bf8"]]},{"id":"aa0a1c80.30fb9","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.misc.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[[]]},{"id":"b21f7f7c.6da16","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.fients.abv","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"96092b1c.a27f48","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.fients.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[[]]},{"id":"479594c7.c00f7c","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.charge.abv","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[[]]},{"id":"d1abf200.9c9e1","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.charge.volume","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":120,"wires":[[]]},{"id":"4219f25.3b43f0c","type":"change","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","rules":[{"t":"set","p":"batch.name","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":80,"wires":[[]]},{"id":"3ac91bdf.4b6f54","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Water/Misc Volume","tooltip":"","group":"9f19d793.eac5f8","order":6,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":370,"y":280,"wires":[["aa0a1c80.30fb9"]]},{"id":"3083f61d.a6573a","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Fients ABV","tooltip":"","group":"9f19d793.eac5f8","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":350,"y":240,"wires":[["b21f7f7c.6da16"]]},{"id":"afae9d4c.193ca","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Fients Volume","tooltip":"","group":"9f19d793.eac5f8","order":4,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":360,"y":200,"wires":[["96092b1c.a27f48"]]},{"id":"6c7055e7.4e71bc","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Charge ABV","tooltip":"","group":"9f19d793.eac5f8","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":350,"y":160,"wires":[["479594c7.c00f7c"]]},{"id":"4076b108.0fba","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Charge Volume","tooltip":"","group":"9f19d793.eac5f8","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":360,"y":120,"wires":[["d1abf200.9c9e1"]]},{"id":"bdaff123.9457b","type":"ui_text_input","z":"de93bf73.91c09","g":"f99a393a.cbd898","name":"","label":"Batch Name","tooltip":"","group":"9f19d793.eac5f8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":350,"y":80,"wires":[["4219f25.3b43f0c"]]},{"id":"a51b22b1.df1d8","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"inner_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":400,"wires":[[]]},{"id":"3f649c50.6122b4","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"inner_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":480,"wires":[["754187cc.959148"]]},{"id":"851e8c3f.3de15","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"inner_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[[]]},{"id":"4036fbf5.593634","type":"function","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID","func":"// Manually specify update interval\nmsg.interval = 2000;\n\n//\n// Begin Outer Control Loop\n//\n// Output from Outer Control will be the target + Jacket delta T\n// Calculate outer error\nmsg.outer_target = flow.get('target')\nmsg.outer_error = msg.outer_target - global.get('charge.temp');\n\n// Update outer integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.outer_integrator = flow.get('outer_integrator');\nmsg.outer_integrator += (msg.interval/1000) * Math.max(Math.min(msg.outer_error, 1), -1);\n\n// Bound total outer integrator by absolute maximum\nmsg.outer_integrator = Math.max(Math.min(msg.outer_integrator, flow.get('outer_integrator_max')), -flow.get('outer_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('outer_integrator', msg.outer_integrator);\n\n// Calculate proportional action\nmsg.outer_output = msg.outer_error * flow.get('outer_p');\n\n// Calculate intergral action\nmsg.outer_output += msg.outer_integrator * flow.get('outer_i');\n\n// Calculate derivative action\nmsg.outer_derivative = (msg.outer_error - flow.get('last_outer_error'))/(msg.interval/1000);\nmsg.outer_output += msg.outer_derivative * flow.get('outer_d');\n\n// Bound outer_output by [outer_min, outer_max]\nmsg.outer_output = Math.max(Math.min(msg.outer_output, flow.get('outer_max')), flow.get('outer_min'));\n\n// Set inner_target\nmsg.inner_target = Math.min(msg.outer_target + msg.outer_output, 90)\n\n// Output updated last_outer_error to flow context\nmsg.last_outer_error = msg.outer_error;\nflow.set('last_outer_error', msg.last_outer_error);\n\n//\n// Begin Inner Control Loop\n// Output from inner control loop will be Jacket element duty %\n// Calculate inner error\nmsg.inner_error = msg.inner_target - global.get('jacket.temp');\n\n// Update inner integrator\n// For purposes of integrator, bound error by [-1, 1]\nmsg.inner_integrator = flow.get('inner_integrator');\nmsg.inner_integrator += (msg.interval/1000) * Math.max(Math.min(msg.inner_error, 1), -1);\n\n// Bound total inner integrator by absolute maximum\nmsg.inner_integrator = Math.max(Math.min(msg.inner_integrator, flow.get('inner_integrator_max')), -flow.get('inner_integrator_max'));\n\n// Output updated integrator to flow context\nflow.set('inner_integrator', msg.inner_integrator);\n\n// Calculate proportional action\nmsg.inner_output = msg.inner_error * flow.get('inner_p');\n\n// Calculate intergral action\nmsg.inner_output += msg.inner_integrator * flow.get('inner_i');\n\n// Calculate derivative action\nmsg.inner_derivative = (msg.inner_error - flow.get('last_inner_error'))/(msg.interval/1000);\nmsg.inner_output += msg.inner_derivative * flow.get('inner_d');\n\n// Bound inner_output by [0.0, max_output]\nmsg.inner_output = Math.max(Math.min(msg.inner_output, flow.get('inner_max')), 0.0);\n\n// Output updated last_inner_error to flow context\nmsg.last_inner_error = msg.inner_error;\nflow.set('last_inner_error', msg.last_inner_error);\n\n// Set payload to element output\nmsg.payload = msg.inner_output;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":300,"wires":[["ea7754df.f29998"]]},{"id":"a270d0cf.0f1a3","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Inner Kp","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"20.0","payloadType":"num","x":180,"y":360,"wires":[["a188313.5dd4cd","a51b22b1.df1d8"]]},{"id":"49e37f58.00674","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Inner Ki","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":180,"y":440,"wires":[["6b90963d.ad4db8","3f649c50.6122b4"]]},{"id":"108c5d6.35365a3","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Inner Kd","props":[{"p":"payload","v":"30","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":180,"y":520,"wires":[["9f6b9768.2f3808","851e8c3f.3de15"]]},{"id":"e8a24140.ab1d2","type":"inject","z":"d6aab34f.74a0b","g":"bc8fc09a.5b762","name":"Default Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":760,"y":60,"wires":[["dbba3415.2975d8","a4049e6f.19b98"]]},{"id":"8e61a6d0.084bb8","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Inner Limit","props":[{"p":"payload","v":"30","vt":"num"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":190,"y":600,"wires":[["43621a4c.003ae4","c6fb8418.29c078"]]},{"id":"43621a4c.003ae4","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"Output limiter","tooltip":"","group":"3664e4b.5830a9c","order":10,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:0}}٪","min":"1","max":"99","step":1,"x":220,"y":640,"wires":[["c6fb8418.29c078"]]},{"id":"c6fb8418.29c078","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"inner_limit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":640,"wires":[["47f1078c.16ba08"]]},{"id":"ea7754df.f29998","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"PID Settings","links":["cc259a5a.8cccd8","8488d1b0.2dc86"],"x":355,"y":300,"wires":[]},{"id":"9f6b9768.2f3808","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝖽","tooltip":"","group":"3664e4b.5830a9c","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":560,"wires":[["851e8c3f.3de15"]]},{"id":"6b90963d.ad4db8","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝗂","tooltip":"","group":"3664e4b.5830a9c","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":480,"wires":[["3f649c50.6122b4"]]},{"id":"a188313.5dd4cd","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝗉","tooltip":"","group":"3664e4b.5830a9c","order":5,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":190,"y":400,"wires":[["a51b22b1.df1d8"]]},{"id":"f9697d4d.d0e4","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"outer_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":720,"wires":[[]]},{"id":"d8300e56.aae3","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"outer_i","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":800,"wires":[["617686a8.2ac8c8"]]},{"id":"9e602d7e.d43dc","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"outer_d","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":880,"wires":[[]]},{"id":"d7298b23.1bec78","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Outer Kp","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":190,"y":680,"wires":[["6948a168.4f8f6","f9697d4d.d0e4"]]},{"id":"d1fc4531.9993a8","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Outer Ki","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":180,"y":760,"wires":[["109f097c.6fd1f7","d8300e56.aae3"]]},{"id":"2fdbda52.ec5256","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Outer Kd","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":190,"y":840,"wires":[["ca0ba955.ac4f58","9e602d7e.d43dc"]]},{"id":"796dd50f.1afd0c","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"8","payloadType":"num","x":190,"y":920,"wires":[["7e47aa3.9cd8f54","6754ce34.5368e"]]},{"id":"7e47aa3.9cd8f54","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"max ΔT","tooltip":"","group":"321aaa6a.377d5e","order":11,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}°C","min":"1","max":"15","step":1,"x":200,"y":960,"wires":[["6754ce34.5368e"]]},{"id":"6754ce34.5368e","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"outer_max","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":960,"wires":[["8c359555.d7d8a8"]]},{"id":"ca0ba955.ac4f58","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝖽","tooltip":"","group":"321aaa6a.377d5e","order":9,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":880,"wires":[["9e602d7e.d43dc"]]},{"id":"109f097c.6fd1f7","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝗂","tooltip":"","group":"321aaa6a.377d5e","order":7,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"100","step":"0.2","x":190,"y":800,"wires":[["d8300e56.aae3"]]},{"id":"6948a168.4f8f6","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"K𝗉","tooltip":"","group":"321aaa6a.377d5e","order":5,"width":4,"height":1,"wrap":false,"passthru":false,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":190,"y":720,"wires":[["f9697d4d.d0e4"]]},{"id":"eece2f2e.44a95","type":"link in","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID trigger","links":["5010ffd6.cabb28","6c6b47e7.a7f548","7b7e6c85.997614","ddd60831.df3758","45561c48.56fff4","d8278d7e.29d1c"],"x":115,"y":300,"wires":[["4036fbf5.593634"]]},{"id":"645b33c8.57a1ac","type":"function","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID - integrator max calculation","func":"\n// Calculate outer integrator max\n// Output to flow context\nif(flow.get('outer_i')>0.0){\n    flow.set('outer_integrator_max', (flow.get('outer_max')-flow.get('outer_min'))/flow.get('outer_i'))}else {\n        flow.set('outer_integrator_max', 0.0)}\n\n// Get current output max\n// Output to flow context\nif(global.get('jacket.limit')){\n    flow.set('inner_max', flow.get('inner_limit'))}else {\n        flow.set('inner_max', 100)}\n\n// Calculate inner integrator max\n// Output to flow context\nif(flow.get('inner_i')>0.0){\n    flow.set('inner_integrator_max', flow.get('inner_max')/flow.get('inner_i'))}else {\n        flow.set('inner_integrator_max', 0.0)}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":240,"wires":[[]]},{"id":"f71f94fb.1e7ae8","type":"link in","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["b097c6ec.5fbe5","754187cc.959148","d75d11e.f8f757","47f1078c.16ba08","2f03decd.c6137a","617686a8.2ac8c8","668f2b46.52004c","8c359555.d7d8a8","60f7dfe2.9a8ba","9bd31a5b.f45448","9b87db49.cc1db8"],"x":115,"y":240,"wires":[["645b33c8.57a1ac"]]},{"id":"754187cc.959148","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["f71f94fb.1e7ae8"],"x":575,"y":480,"wires":[]},{"id":"47f1078c.16ba08","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["f71f94fb.1e7ae8"],"x":575,"y":640,"wires":[]},{"id":"617686a8.2ac8c8","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["f71f94fb.1e7ae8"],"x":575,"y":800,"wires":[]},{"id":"8c359555.d7d8a8","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["f71f94fb.1e7ae8"],"x":575,"y":960,"wires":[]},{"id":"4f661344.fb864c","type":"link out","z":"d6aab34f.74a0b","g":"bc8fc09a.5b762","name":"Mash target slider output","links":["d6bfc362.de0b"],"x":1095,"y":100,"wires":[]},{"id":"c91cfe14.d5167","type":"inject","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Default Outer Max","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"-2","payloadType":"num","x":190,"y":1000,"wires":[["758b09e8.6dc468","4abf1fed.06ad7"]]},{"id":"758b09e8.6dc468","type":"ui_numeric","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","label":"min ΔT","tooltip":"","group":"321aaa6a.377d5e","order":10,"width":6,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}°C","min":"-10","max":"0","step":1,"x":200,"y":1040,"wires":[["4abf1fed.06ad7"]]},{"id":"4abf1fed.06ad7","type":"change","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"","rules":[{"t":"set","p":"outer_min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":1040,"wires":[["9b87db49.cc1db8"]]},{"id":"9b87db49.cc1db8","type":"link out","z":"d6aab34f.74a0b","g":"2a45f799.c069b8","name":"Cascade PID Integrator update","links":["f71f94fb.1e7ae8"],"x":575,"y":1040,"wires":[]},{"id":"dbba3415.2975d8","type":"change","z":"d6aab34f.74a0b","g":"bc8fc09a.5b762","name":"","rules":[{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["4f661344.fb864c"]]},{"id":"56515e2d.82d15","type":"link in","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Dephleg Temp","links":["81515fba.54b23"],"x":115,"y":180,"wires":[["fd210056.29184"]]},{"id":"9117f83a.6891c8","type":"link in","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Max Delta Temp","links":["de5e9147.c6c74"],"x":115,"y":220,"wires":[["dcbb7291.84437"]]},{"id":"11679bad.3154d4","type":"inject","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Dephleg Target","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"70","payloadType":"num","x":220,"y":80,"wires":[["692a478f.424c48"]]},{"id":"bf18307f.110f7","type":"link out","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Dephleg Target","links":["3eaad418.011b2c"],"x":375,"y":120,"wires":[]},{"id":"692a478f.424c48","type":"change","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"set global.dephleg.target","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"target","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":120,"wires":[["bf18307f.110f7"]]},{"id":"fd210056.29184","type":"change","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Depleg temp","rules":[{"t":"set","p":"temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":180,"wires":[[]]},{"id":"dcbb7291.84437","type":"change","z":"92baee0.48dc21","g":"992a87fd.2d4948","name":"Depleg delta","rules":[{"t":"set","p":"delta","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[[]]},{"id":"561d20ef.b8688","type":"function","z":"92baee0.48dc21","g":"58d59afb.88c934","name":"Basic On-Off","func":"temp = flow.get(\"temp\");\ntarget = flow.get(\"target\");\ndelta = flow.get(\"delta\");\nvar bypass = {payload: 0}; \nvar deplag = {payload: 0};\n\nif (temp >= (target + delta)) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp >= target) {\n    bypass.payload = 0;\n    deplag.payload = 0;\n} else if (temp < target && temp >= (target - delta)) {\n    bypass.payload = 1;\n    deplag.payload = 0;\n} else {\n    bypass.payload = 1;\n    deplag.payload = 1;\n}\n\nreturn [bypass, deplag];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":210,"y":380,"wires":[["fbdfb3e3.2aa4e"],["9bd649cd.3a0e68"]],"outputLabels":["Bypass","Dephleg"]},{"id":"d4c800bd.0767","type":"inject","z":"92baee0.48dc21","g":"58d59afb.88c934","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":320,"wires":[["561d20ef.b8688"]]},{"id":"2e01b75a.7baae8","type":"ui_numeric","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"","label":"Dephlegmator Target Temp","tooltip":"","group":"958ff866.e606f8","order":2,"width":9,"height":2,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".1","x":640,"y":620,"wires":[["672ade54.2a2e5","76e15b69.899484"]]},{"id":"60addf35.677d9","type":"ui_chart","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"","group":"5fa23c95.9835e4","order":4,"width":0,"height":0,"label":"Distilling Temps","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":220,"y":960,"wires":[[]]},{"id":"b46afff5.d8f6a","type":"ui_text","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","group":"5fa23c95.9835e4","order":3,"width":3,"height":2,"name":"","label":"Head Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":230,"y":760,"wires":[]},{"id":"2728d3e8.b809fc","type":"ui_text","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","group":"5fa23c95.9835e4","order":1,"width":3,"height":2,"name":"","label":"Pot Vapor Temp","format":"{{msg.payload | number:.1}}C","layout":"col-center","x":220,"y":840,"wires":[]},{"id":"fa5f78d2.3fdb58","type":"ui_chart","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","name":"","group":"5fa23c95.9835e4","order":8,"width":9,"height":5,"label":"Distilling ABV","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":610,"y":880,"wires":[[]]},{"id":"9a47028e.c7477","type":"ui_text","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","group":"5fa23c95.9835e4","order":5,"width":3,"height":2,"name":"","label":"Product ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":610,"y":760,"wires":[]},{"id":"8550adcb.0c7ec","type":"ui_text","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","group":"5fa23c95.9835e4","order":6,"width":3,"height":2,"name":"","label":"Pot Vapor ABV","format":"{{msg.payload | number: 1}}%","layout":"col-center","x":600,"y":800,"wires":[]},{"id":"3b40ae49.72dc92","type":"ui_text","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","group":"5fa23c95.9835e4","order":7,"width":3,"height":2,"name":"","label":"Charge ABV","format":"{{msg.payload | number:.1}}%","layout":"col-center","x":610,"y":840,"wires":[]},{"id":"d9f4168.109c7e8","type":"ui_gauge","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"","group":"958ff866.e606f8","order":1,"width":9,"height":4,"gtype":"gage","title":"Dephlegmator Output","label":"C","format":"{{value | number:1}}C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"77","x":660,"y":540,"wires":[]},{"id":"c600dfe1.f8566","type":"ui_text","z":"b6c2b635.891a28","g":"f71e7358.c6a52","group":"f0c68884.7c8b18","order":4,"width":3,"height":2,"name":"","label":"Jacket Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":210,"y":620,"wires":[]},{"id":"b2f008f3.2cf708","type":"ui_text","z":"b6c2b635.891a28","g":"f71e7358.c6a52","group":"f0c68884.7c8b18","order":3,"width":3,"height":2,"name":"","label":"Charge Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":220,"y":540,"wires":[]},{"id":"b922659b.ebef48","type":"ui_chart","z":"b6c2b635.891a28","g":"f71e7358.c6a52","name":"","group":"f0c68884.7c8b18","order":5,"width":9,"height":5,"label":"Heat up","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":200,"y":660,"wires":[[]]},{"id":"6eaa34cb.820e8c","type":"link in","z":"b6c2b635.891a28","g":"f71e7358.c6a52","name":"Jacket Temp","links":["df08d1bf.230a4"],"x":55,"y":620,"wires":[["c600dfe1.f8566","b922659b.ebef48"]]},{"id":"5c660b18.7ffd24","type":"link in","z":"b6c2b635.891a28","g":"f71e7358.c6a52","name":"Charge Temp","links":["91414316.c9459"],"x":55,"y":540,"wires":[["b2f008f3.2cf708","b922659b.ebef48","4f76d2aa.3d8eec"]]},{"id":"af87613a.e707c","type":"change","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"Pre-heat","rules":[{"t":"set","p":"equipment.control","pt":"global","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"d8c7b456.748788","type":"change","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"Manual","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"equipment.control","pt":"global","to":"manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["a54bdee0.ec8a9","b60a6892.ad7ab8","2c2bc22a.af7a0e"]]},{"id":"7af06e2.d82129","type":"change","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":440,"wires":[["b60a6892.ad7ab8"]]},{"id":"af13b2e1.47cc1","type":"link in","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"System Check","links":["57a061df.50721","33070e60.112262","4584968a.1d7d18"],"x":175,"y":440,"wires":[["7af06e2.d82129"]]},{"id":"d3978cf6.83417","type":"link out","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","links":["675c3a5f.49e194","cc259a5a.8cccd8"],"x":815,"y":440,"wires":[]},{"id":"3b6c2a90.94e9a6","type":"link in","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"Pot Vapor Temp","links":["d54754c4.fc68e8"],"x":55,"y":840,"wires":[["2728d3e8.b809fc","60addf35.677d9","ca6434e8.3fc3b8"]]},{"id":"2563939c.0b1f8c","type":"ui_text","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","group":"5fa23c95.9835e4","order":2,"width":3,"height":2,"name":"","label":"Dephleg Temp","format":"{{msg.payload | number: 1}}C","layout":"col-center","x":220,"y":920,"wires":[]},{"id":"d9e22990.015cf8","type":"link in","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"Dephleg Temp","links":["81515fba.54b23"],"x":55,"y":920,"wires":[["2563939c.0b1f8c","60addf35.677d9"]]},{"id":"197a07cc.de0d48","type":"link in","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"Dephleg Guage","links":["81515fba.54b23"],"x":455,"y":580,"wires":[["d9f4168.109c7e8","672ade54.2a2e5"]]},{"id":"6fb5115e.eb099","type":"link in","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"Head Vapor Temp","links":["367e88eb.1697a8"],"x":55,"y":760,"wires":[["b46afff5.d8f6a","60addf35.677d9","d1d4694e.64b4d8"]]},{"id":"d1d4694e.64b4d8","type":"link out","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"Head Vapor temp to ABV","links":["40567133.36902"],"x":155,"y":800,"wires":[]},{"id":"ca6434e8.3fc3b8","type":"link out","z":"b6c2b635.891a28","g":"8ef4d53a.df2df8","name":"Pot Vapor temp to ABV","links":["afdf81f.235178"],"x":155,"y":880,"wires":[]},{"id":"4f76d2aa.3d8eec","type":"link out","z":"b6c2b635.891a28","g":"f71e7358.c6a52","name":"Charge temp to ABV","links":["aefffb75.79a6a8"],"x":155,"y":580,"wires":[]},{"id":"2fd15956.5829b6","type":"link in","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","name":"Product ABV","links":["d39096e5.1c9f68"],"x":455,"y":760,"wires":[["9a47028e.c7477","fa5f78d2.3fdb58"]]},{"id":"1646c6ee.acb3c9","type":"link in","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","name":"Pot Vapor ABV","links":["ab15260b.fadb98"],"x":455,"y":800,"wires":[["8550adcb.0c7ec","fa5f78d2.3fdb58"]]},{"id":"6dfab8f9.27d0a8","type":"link in","z":"b6c2b635.891a28","g":"9d7f936b.4c1ff","name":"Charge ABV","links":["1453d042.8d623"],"x":455,"y":840,"wires":[["3b40ae49.72dc92","fa5f78d2.3fdb58"]]},{"id":"3eaad418.011b2c","type":"link in","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"Initial Depleg temp","links":["bf18307f.110f7"],"x":455,"y":620,"wires":[["2e01b75a.7baae8"]]},{"id":"eba98b72.07f2e8","type":"link in","z":"b6c2b635.891a28","g":"f71e7358.c6a52","name":"Target Temp","links":["653aaee7.03949","b71975d.3550388","57a061df.50721","a54bdee0.ec8a9","e5cbe54a.dd24b8"],"x":55,"y":660,"wires":[["b922659b.ebef48"]]},{"id":"a54bdee0.ec8a9","type":"link out","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","links":["eba98b72.07f2e8"],"x":675,"y":360,"wires":[]},{"id":"672ade54.2a2e5","type":"ui_chart","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"","group":"958ff866.e606f8","order":3,"width":9,"height":5,"label":"Reflux Control","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":680,"y":580,"wires":[[]]},{"id":"76e15b69.899484","type":"change","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"","rules":[{"t":"set","p":"dephleg.target","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":660,"wires":[["2f2e007e.9bed7"]]},{"id":"2f2e007e.9bed7","type":"link out","z":"b6c2b635.891a28","g":"a6ff9dbe.830e7","name":"Depleg Target","links":["26dfdbc4.f780a4"],"x":775,"y":660,"wires":[]},{"id":"13033e96.858f91","type":"ui_toast","z":"b6c2b635.891a28","g":"313052a8.b5757e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Adjust Settings","cancel":"Start Distilling","raw":false,"topic":"","name":"","x":370,"y":60,"wires":[["8111fd7a.f8a9"]]},{"id":"8111fd7a.f8a9","type":"switch","z":"b6c2b635.891a28","g":"313052a8.b5757e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Adjust Settings","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":60,"wires":[["363381d.384447e"]]},{"id":"8c6f103d.6ec6e","type":"ui_ui_control","z":"b6c2b635.891a28","g":"313052a8.b5757e","name":"","events":"all","x":840,"y":60,"wires":[[]]},{"id":"363381d.384447e","type":"change","z":"b6c2b635.891a28","g":"313052a8.b5757e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Settings","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":60,"wires":[["8c6f103d.6ec6e"]]},{"id":"864fe813.00bf78","type":"change","z":"b6c2b635.891a28","g":"313052a8.b5757e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Are you ready?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":60,"wires":[["13033e96.858f91"]]},{"id":"4d49d591.7d447c","type":"link in","z":"b6c2b635.891a28","g":"313052a8.b5757e","name":"Start System","links":["f9958f03.f3282"],"x":55,"y":60,"wires":[["864fe813.00bf78"]]},{"id":"93eea6b2.3e0e98","type":"ui_switch","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"","label":"PID Control","tooltip":"","group":"f0c68884.7c8b18","order":6,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"PID","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":180,"wires":[["254ca1c6.758cfe"]]},{"id":"96742492.0ffd58","type":"ui_switch","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","label":"Manual Control","tooltip":"","group":"f0c68884.7c8b18","order":7,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"Manual","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":380,"wires":[["ace2a575.a520d8"]]},{"id":"f9cf014.fd44c","type":"change","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["ed18441d.6615b8"]]},{"id":"ec2d52eb.9f67e","type":"change","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":200,"wires":[["4584968a.1d7d18"]]},{"id":"ed18441d.6615b8","type":"link out","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"","links":["b2f7f5be.875198"],"x":1135,"y":160,"wires":[]},{"id":"4584968a.1d7d18","type":"link out","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"","links":["286e7102.bd811e","af13b2e1.47cc1"],"x":1135,"y":200,"wires":[]},{"id":"286e7102.bd811e","type":"link in","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","links":["4584968a.1d7d18","33070e60.112262"],"x":55,"y":380,"wires":[["96742492.0ffd58"]]},{"id":"b2f7f5be.875198","type":"link in","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"","links":["e823b40a.672598","ed18441d.6615b8"],"x":55,"y":180,"wires":[["93eea6b2.3e0e98"]]},{"id":"5ff3938b.74c10c","type":"change","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"PID Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"PID","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":340,"wires":[["e823b40a.672598"]]},{"id":"e823b40a.672598","type":"link out","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","links":["b2f7f5be.875198"],"x":605,"y":340,"wires":[]},{"id":"f486a086.b933","type":"change","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"Manual Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"topic","pt":"msg","to":"Manual","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["33070e60.112262"]]},{"id":"33070e60.112262","type":"link out","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"","links":["286e7102.bd811e","af13b2e1.47cc1"],"x":615,"y":200,"wires":[]},{"id":"254ca1c6.758cfe","type":"switch","z":"b6c2b635.891a28","g":"bf9d01da.d295","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":180,"wires":[["f486a086.b933","af87613a.e707c"]]},{"id":"ace2a575.a520d8","type":"switch","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":380,"wires":[["5ff3938b.74c10c","d8c7b456.748788"]]},{"id":"eb352ac5.4b9fe8","type":"ui_button","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"","group":"958ff866.e606f8","order":4,"width":0,"height":0,"passthru":false,"label":"System Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":830,"y":180,"wires":[["f9cf014.fd44c","ec2d52eb.9f67e"]]},{"id":"51bb3a2d.877154","type":"change","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":440,"wires":[["d3978cf6.83417"]]},{"id":"f3cd7892.929cd8","type":"ui_button","z":"b6c2b635.891a28","g":"82032573.846958","name":"","group":"958ff866.e606f8","order":6,"width":0,"height":0,"passthru":false,"label":"Settings","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Settings","payloadType":"str","topic":"","x":900,"y":820,"wires":[["71f7b1a7.914c8"]]},{"id":"71f7b1a7.914c8","type":"ui_ui_control","z":"b6c2b635.891a28","g":"82032573.846958","name":"","events":"all","x":1050,"y":820,"wires":[[]]},{"id":"8ecc641a.5f0be8","type":"link in","z":"b6c2b635.891a28","g":"acbdc567.d63bf8","name":"System Off","links":["f9958f03.f3282"],"x":715,"y":180,"wires":[["eb352ac5.4b9fe8"]]},{"id":"b60a6892.ad7ab8","type":"ui_slider","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","name":"","label":"","tooltip":"","group":"f0c68884.7c8b18","order":13,"width":9,"height":1,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":490,"y":440,"wires":[["51bb3a2d.877154","2c2bc22a.af7a0e"]]},{"id":"2c2bc22a.af7a0e","type":"ui_text","z":"b6c2b635.891a28","g":"e4ddbed4.fc77e","group":"f0c68884.7c8b18","order":9,"width":3,"height":2,"name":"","label":"Manual Power","format":"{{msg.payload}}%","layout":"col-center","x":740,"y":400,"wires":[]},{"id":"5fa6e78b.ae5968","type":"rpi-gpio out","z":"7275b624.c890f8","g":"26c01cfb.0bf8f4","name":"HLT GPIO","pin":"36","set":"","level":"0","freq":"1","out":"pwm","x":350,"y":100,"wires":[]},{"id":"27684eaa.a33d62","type":"range","z":"7275b624.c890f8","g":"2f6d83dd.f68edc","minin":"0","maxin":"100","minout":"0","maxout":"5500","action":"scale","round":false,"property":"payload","name":"Input Power","x":350,"y":140,"wires":[["c661dd7d.982e8"]]},{"id":"c661dd7d.982e8","type":"ui_gauge","z":"7275b624.c890f8","g":"2f6d83dd.f68edc","name":"Input Power Gauge","group":"f0c68884.7c8b18","order":1,"width":9,"height":4,"gtype":"gage","title":"Input Power","label":"usage","format":"{{payload | number:1}} W","min":0,"max":"5500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":140,"wires":[]},{"id":"cc259a5a.8cccd8","type":"link in","z":"7275b624.c890f8","g":"2f6d83dd.f68edc","name":"Element","links":["2dfabc2b.bdee04","a0530194.f477d","9122e49.3b83718","d3978cf6.83417","a447a2a6.129f3","ea7754df.f29998","f6f26f7.d0c7b9"],"x":175,"y":120,"wires":[["5fa6e78b.ae5968","27684eaa.a33d62"]]},{"id":"f462cdfc.58bcc","type":"change","z":"b8112136.e594b","name":"dephleg","rules":[{"t":"set","p":"dephleg","pt":"global","to":"{\"temp\":0,\"medium\":\"water\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[[]]},{"id":"56248add.715e34","type":"inject","z":"b8112136.e594b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":280,"wires":[["6ef48184.ec45","f462cdfc.58bcc","d98c147c.b5dce8","929e8c62.1e965","75555f64.6921e","42b0e1ec.4dae8"]]},{"id":"929e8c62.1e965","type":"change","z":"b8112136.e594b","name":"charge","rules":[{"t":"set","p":"charge","pt":"global","to":"{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"ABV\":0,\"volume\":0,\"initialABV\":9}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[[]]},{"id":"75555f64.6921e","type":"change","z":"b8112136.e594b","name":"jacket","rules":[{"t":"set","p":"jacket","pt":"global","to":"{\"ID\":\"Charge\",\"medium\":\"liquid\",\"temp\":0,\"status\":\"off\",\"control\":\"manual\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":320,"wires":[[]]},{"id":"d98c147c.b5dce8","type":"change","z":"b8112136.e594b","name":"pot_vapor","rules":[{"t":"set","p":"pot_vapor","pt":"global","to":"{\"ID\":\"Pot Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":240,"wires":[[]]},{"id":"6ef48184.ec45","type":"change","z":"b8112136.e594b","name":"head_vapor","rules":[{"t":"set","p":"head_vapor","pt":"global","to":"{\"ID\":\"Head_Vapor\",\"medium\":\"vapor\",\"temp\":0,\"ABV\":0,\"volume\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[[]]},{"id":"42b0e1ec.4dae8","type":"change","z":"b8112136.e594b","name":"","rules":[{"t":"set","p":"control","pt":"global","to":"off","tot":"str"},{"t":"set","p":"system","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"dephlegtarget","pt":"global","to":"0","tot":"num"},{"t":"set","p":"preheat","pt":"global","to":"70","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":360,"wires":[[]]},{"id":"d618e43.3e8ea18","type":"function","z":"36848125.8127ee","name":"Database log entry","func":"msg.payload = [{\n        measurement: global.get(\"batch\"),\n        fields: {\n            \"Charge Temp\": global.get(\"charge.temp\"),\n            \"Jacket Temp\": global.get(\"jacket.temp\"),\n            \"Pot Vapor Temp\": global.get(\"pot_vapor.temp\"),\n            \"Dephleg Temp\": global.get(\"dephleg.temp\"),\n            \"Head Vapor Temp\": global.get(\"head_vapor.temp\"),\n            \"Dephleg Target\": global.get(\"dephleg.target\"),\n            \"Charge ABV\": global.get(\"charge.ABV\"),\n            \"Pot Vapor ABV\": global.get(\"pot_vapor.ABV\"),\n            \"Product ABV\": global.get(\"head_vapor.ABV\")\n            },\n        timestamp: new Date()\n}]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["24f4b665.6fa6ea"]]},{"id":"1bdf7ea9.008e51","type":"inject","z":"36848125.8127ee","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["643aaeb6.beb91"]]},{"id":"24f4b665.6fa6ea","type":"influxdb batch","z":"36848125.8127ee","influxdb":"5391d36f.c4282c","precision":"","retentionPolicy":"","name":"","x":780,"y":200,"wires":[]},{"id":"643aaeb6.beb91","type":"switch","z":"36848125.8127ee","name":"Logging Switch","property":"logging","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":200,"wires":[["d618e43.3e8ea18"]]},{"id":"71f63262.fe1f5c","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"3664e4b.5830a9c","order":6,"width":2,"height":1,"name":"Inner PID Integrator","label":"Integral","format":"{{inner_integrator | number:1}}°C⦁s","layout":"col-center","x":510,"y":100,"wires":[]},{"id":"7c0228d4.217bc8","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"3664e4b.5830a9c","order":4,"width":2,"height":1,"name":"Inner PID Error","label":"Error","format":"{{last_inner_error | number:1}}°C","layout":"col-center","x":500,"y":60,"wires":[]},{"id":"2f53f846.207428","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"3664e4b.5830a9c","order":8,"width":2,"height":1,"name":"Inner PID Derivative","label":"Derivative","format":"{{inner_derivative | number:1}}°C/s","layout":"col-center","x":510,"y":140,"wires":[]},{"id":"8488d1b0.2dc86","type":"link in","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","name":"Cascade PID display","links":["ea7754df.f29998"],"x":315,"y":160,"wires":[["71f63262.fe1f5c","2f53f846.207428","7c0228d4.217bc8","d33ceec5.fcdcf","c20530a3.96428","da179796.826b18","4aaefe87.c057e","2d4b6b7c.b748d4"]]},{"id":"2bd52300.f0e91c","type":"ui_text","z":"e9088d5c.0a27c","g":"ec1b7117.3c03e","group":"f04603e8.50a4f","order":3,"width":2,"height":1,"name":"PID Integrator","label":"Integral","format":"{{integrator | number:1}}°C⦁s","layout":"col-center","x":920,"y":100,"wires":[]},{"id":"b5a67436.41fbf8","type":"ui_text","z":"e9088d5c.0a27c","g":"ec1b7117.3c03e","group":"f04603e8.50a4f","order":1,"width":2,"height":1,"name":"PID Error","label":"Error","format":"{{last_error | number:1}}°C","layout":"col-center","x":900,"y":60,"wires":[]},{"id":"e078d0fc.3718e","type":"ui_text","z":"e9088d5c.0a27c","g":"ec1b7117.3c03e","group":"f04603e8.50a4f","order":5,"width":2,"height":1,"name":"PID Derivative","label":"Derivative","format":"{{derivative | number:1}}°C/s","layout":"col-center","x":920,"y":140,"wires":[]},{"id":"73d18a4c.aa3714","type":"link in","z":"e9088d5c.0a27c","g":"ec1b7117.3c03e","name":"PID","links":[],"x":735,"y":100,"wires":[["2bd52300.f0e91c","e078d0fc.3718e","b5a67436.41fbf8"]]},{"id":"c20530a3.96428","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"321aaa6a.377d5e","order":6,"width":2,"height":1,"name":"Outer PID Integrator","label":"Integral","format":"{{outer_integrator | number:1}}°C⦁s","layout":"col-center","x":520,"y":220,"wires":[]},{"id":"d33ceec5.fcdcf","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"321aaa6a.377d5e","order":4,"width":2,"height":1,"name":"Outer PID Error","label":"Error","format":"{{last_outer_error | number:1}}°C","layout":"col-center","x":500,"y":180,"wires":[]},{"id":"da179796.826b18","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"321aaa6a.377d5e","order":8,"width":2,"height":1,"name":"Outer PID Derivative","label":"Derivative","format":"{{outer_derivative | number:1}}°C/s","layout":"col-center","x":520,"y":260,"wires":[]},{"id":"4aaefe87.c057e","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"3664e4b.5830a9c","order":2,"width":2,"height":1,"name":"Inner Target","label":"Target","format":"{{inner_target | number:1}}°C","layout":"col-center","x":490,"y":300,"wires":[]},{"id":"2d4b6b7c.b748d4","type":"ui_text","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","group":"321aaa6a.377d5e","order":2,"width":2,"height":1,"name":"Outer Output","label":"Output","format":"{{outer_output | number:1}}°C","layout":"col-center","x":490,"y":340,"wires":[]},{"id":"d6bfc362.de0b","type":"link in","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","name":"","links":["64f4ecd7.223dac","4f661344.fb864c"],"x":75,"y":280,"wires":[["5594f75d.6ab018"]]},{"id":"5594f75d.6ab018","type":"change","z":"e9088d5c.0a27c","g":"9e891fd2.c3f12","name":"","rules":[{"t":"set","p":"inner_target","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":320,"wires":[["4aaefe87.c057e"]]},{"id":"58727c6f.ae95c4","type":"inject","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"Initial Depleg Delta","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0.5","payloadType":"num","x":170,"y":440,"wires":[["c1023d09.ef68f"]]},{"id":"c1023d09.ef68f","type":"change","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"set global.dephleg.delta","rules":[{"t":"set","p":"dephleg.delta","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":460,"wires":[["de5e9147.c6c74"]]},{"id":"bc8e004c.3f8d4","type":"ui_numeric","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"","label":"Depleg Delta","tooltip":"","group":"50b35c82.f9a6f4","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":".1","x":180,"y":480,"wires":[["c1023d09.ef68f"]]},{"id":"de5e9147.c6c74","type":"link out","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"Dephleg Delta","links":["9117f83a.6891c8"],"x":585,"y":460,"wires":[]},{"id":"8850f9d5.786208","type":"ui_button","z":"e9088d5c.0a27c","g":"f9065291.cc264","name":"","group":"50b35c82.f9a6f4","order":3,"width":0,"height":0,"passthru":false,"label":"Dashboard","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Distilling","payloadType":"str","topic":"","x":790,"y":260,"wires":[["57b2ba04.2240a4"]]},{"id":"57b2ba04.2240a4","type":"ui_ui_control","z":"e9088d5c.0a27c","g":"f9065291.cc264","name":"","events":"all","x":970,"y":260,"wires":[[]]},{"id":"2fd157e1.372648","type":"ui_ui_control","z":"de93bf73.91c09","g":"63e4631e.4c890c","name":"","events":"connect","x":760,"y":600,"wires":[[]]},{"id":"f9958f03.f3282","type":"link out","z":"de93bf73.91c09","g":"63e4631e.4c890c","name":"Start System","links":["4d49d591.7d447c","8ecc641a.5f0be8","4ca10801.bf1988"],"x":715,"y":640,"wires":[]},{"id":"ab7ed8fa.c95728","type":"ui_dropdown","z":"de93bf73.91c09","g":"5e24ed9f.2e4ca4","name":"","label":"Sensor Selection","tooltip":"","place":"Select option","group":"40070099.65227","order":1,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"ds18b20","value":"ds18b20","type":"str"},{"label":"RTD - Sequent Microsystems","value":"RTD - Sequent Microsystems","type":"str"},{"label":"RTD - MAX31865","value":"RTD - MAX31865","type":"str"}],"payload":"","topic":"","x":370,"y":460,"wires":[["beb739d8.f9d7b8"]]},{"id":"beb739d8.f9d7b8","type":"change","z":"de93bf73.91c09","g":"5e24ed9f.2e4ca4","name":"","rules":[{"t":"set","p":"batch.sensor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":460,"wires":[[]]},{"id":"73c51acc.a61d24","type":"ui_button","z":"de93bf73.91c09","g":"63e4631e.4c890c","name":"","group":"40070099.65227","order":3,"width":6,"height":1,"passthru":false,"label":"Let's get started!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Distilling","payloadType":"str","topic":"","x":360,"y":620,"wires":[["bab23cef.c6407"]]},{"id":"bab23cef.c6407","type":"change","z":"de93bf73.91c09","g":"63e4631e.4c890c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Distilling","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":620,"wires":[["2fd157e1.372648","f9958f03.f3282"]]},{"id":"b3e260f5.76622","type":"inject","z":"de93bf73.91c09","name":"Clear selections","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":120,"y":360,"wires":[["bdaff123.9457b","4076b108.0fba","6c7055e7.4e71bc","afae9d4c.193ca","3083f61d.a6573a","3ac91bdf.4b6f54","ab7ed8fa.c95728","7f19c38.f41fc3c"]]},{"id":"857a803.078988","type":"function","z":"a4159cf7.8fe94","g":"96288347.51711","name":"LiquidTempABV","func":"TempABV = {\n    78.2 : 96.0,\n    78.3 : 93.6,\n    78.4 : 92.3,\n    78.5 : 91.3,\n    78.6 : 90.0,\n    78.7 : 89.0,\n    78.8 : 88.0,\n    78.9 : 86.9,\n    79.0 : 86.0,\n    79.1 : 85.0,\n    79.2 : 84.1,\n    79.3 : 83.1,\n    79.4 : 82.2,\n    79.5 : 81.3,\n    79.6 : 80.3,\n    79.7 : 79.4,\n    79.8 : 78.4,\n    79.9 : 77.4,\n    80.0 : 76.5,\n    80.1 : 75.5,\n    80.2 : 74.6,\n    80.3 : 73.7,\n    80.4 : 72.8,\n    80.5 : 71.9,\n    80.6 : 71.0,\n    80.7 : 70.3,\n    80.8 : 69.6,\n    80.9 : 68.8,\n    81.0 : 67.7,\n    81.1 : 66.6,\n    81.2 : 65.6,\n    81.3 : 64.7,\n    81.4 : 63.7,\n    81.5 : 62.8,\n    81.6 : 61.9,\n    81.7 : 60.9,\n    81.8 : 60.0,\n    81.9 : 59.0,\n    82.0 : 58.1,\n    82.1 : 57.1,\n    82.2 : 56.3,\n    82.3 : 55.5,\n    82.4 : 54.5,\n    82.5 : 53.6,\n    82.6 : 52.7,\n    82.7 : 51.8,\n    82.8 : 50.9,\n    82.9 : 50.0,\n    83.0 : 49.1,\n    83.1 : 48.2,\n    83.2 : 47.2,\n    83.3 : 46.3,\n    83.4 : 45.5,\n    83.5 : 44.7,\n    83.6 : 44.0,\n    83.7 : 43.2,\n    83.8 : 42.4,\n    83.9 : 41.7,\n    84.0 : 41.1,\n    84.1 : 40.4,\n    84.2 : 39.7,\n    84.3 : 39.0,\n    84.4 : 38.4,\n    84.5 : 37.7,\n    84.6 : 37.0,\n    84.7 : 36.3,\n    84.8 : 35.6,\n    84.9 : 34.8,\n    85.0 : 34.2,\n    85.1 : 33.6,\n    85.2 : 32.9,\n    85.3 : 32.3,\n    85.4 : 31.7,\n    85.5 : 31.1,\n    85.6 : 30.3,\n    85.7 : 29.7,\n    85.8 : 29.0,\n    85.9 : 28.4,\n    86.0 : 27.7,\n    86.1 : 27.0,\n    86.2 : 26.6,\n    86.3 : 26.4,\n    86.4 : 26.3,\n    86.5 : 26.1,\n    86.6 : 26.0,\n    86.7 : 25.8,\n    86.8 : 25.6,\n    86.9 : 25.4,\n    87.0 : 25.2,\n    87.1 : 25.0,\n    87.2 : 24.8,\n    87.3 : 24.6,\n    87.4 : 24.2,\n    87.5 : 23.8,\n    87.6 : 23.4,\n    87.7 : 23.0,\n    87.8 : 22.6,\n    87.9 : 22.2,\n    88.0 : 21.9,\n    88.1 : 21.6,\n    88.2 : 21.3,\n    88.3 : 21.0,\n    88.4 : 20.7,\n    88.5 : 20.4,\n    88.6 : 20.1,\n    88.7 : 19.8,\n    88.8 : 18.5,\n    88.9 : 19.2,\n    89.0 : 19.0,\n    89.1 : 18.7,\n    89.2 : 18.4,\n    89.3 : 18.1,\n    89.4 : 17.8,\n    89.5 : 17.5,\n    89.6 : 17.2,\n    89.7 : 16.9,\n    89.8 : 16.7,\n    89.9 : 16.4,\n    90.0 : 16.2,\n    90.1 : 15.9,\n    90.2 : 15.7,\n    90.3 : 15.5,\n    90.4 : 15.2,\n    90.5 : 15.0,\n    90.6 : 14.8,\n    90.7 : 14.6,\n    90.8 : 14.4,\n    90.9 : 14.1,\n    91.0 : 13.9,\n    91.1 : 13.7,\n    91.2 : 13.5,\n    91.3 : 13.3,\n    91.4 : 13.2,\n    91.5 : 13.0,\n    91.6 : 12.8,\n    91.7 : 12.6,\n    91.8 : 12.4,\n    91.9 : 12.2,\n    92.0 : 12.0,\n    92.1 : 11.8,\n    92.2 : 11.6,\n    92.3 : 11.4,\n    92.4 : 11.2,\n    92.5 : 11.1,\n    92.6 : 10.9,\n    92.7 : 10.7,\n    92.8 : 10.6,\n    92.9 : 10.4,\n    93.0 : 10.2,\n    93.1 : 10.0,\n    93.2 : 9.8,\n    93.3 : 9.6,\n    93.4 : 9.4,\n    93.5 : 9.2,\n    93.6 : 9.0,\n    93.7 : 8.8,\n    93.8 : 8.6,\n    93.9 : 8.5,\n    94.0 : 8.3,\n    94.1 : 8.1,\n    94.2 : 8.0,\n    94.3 : 7.9,\n    94.4 : 7.7,\n    94.5 : 7.6,\n    94.6 : 7.4,\n    94.7 : 7.2,\n    94.8 : 7.0,\n    94.9 : 6.8,\n    95.0 : 6.6,\n    95.1 : 6.4,\n    95.2 : 6.3,\n    95.3 : 6.1,\n    95.4 : 6.0,\n    95.5 : 5.8,\n    95.6 : 5.7,\n    95.7 : 5.5,\n    95.8 : 5.4,\n    95.9 : 5.2,\n    96.0 : 5.0,\n    96.1 : 4.9,\n    96.2 : 4.8,\n    96.3 : 4.7,\n    96.4 : 4.6,\n    96.5 : 4.5,\n    96.6 : 4.4,\n    96.7 : 4.3,\n    96.8 : 4.1,\n    96.9 : 4.0,\n    97.0 : 3.9,\n    97.1 : 3.8,\n    97.2 : 3.6,\n    97.3 : 3.5,\n    97.4 : 3.3,\n    97.5 : 3.2,\n    97.6 : 3.0,\n    97.7 : 2.9,\n    97.8 : 2.8,\n    97.9 : 2.7,\n    98.0 : 2.6,\n    98.1 : 2.5,\n    98.2 : 2.3,\n    98.3 : 2.2,\n    98.4 : 2.1,\n    98.5 : 2.0,\n    98.6 : 1.8,\n    98.7 : 1.6,\n    98.8 : 1.5,\n    98.9 : 1.3,\n    99.0 : 1.2,\n    99.1 : 1.1,\n    99.2 : 1.0,\n    99.3 : 0.9,\n    99.4 : 0.8,\n    99.5 : 0.7,\n    99.6 : 0.7,\n    99.7 : 0.6,\n    99.8 : 0.4,\n    99.9 : 0.2,\n    100.0 : 0\n}\n\nmsg.payload = TempABV[msg.payload];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":180,"wires":[["3cd4b90f.858386"]]},{"id":"3cd4b90f.858386","type":"switch","z":"a4159cf7.8fe94","g":"96288347.51711","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"batch.initialABV","vt":"global"},{"t":"lt","v":"batch.initialABV","vt":"global"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":180,"wires":[["387252.7de63dae"],["1453d042.8d623"]]},{"id":"1453d042.8d623","type":"link out","z":"a4159cf7.8fe94","g":"96288347.51711","name":"Charge ABV","links":["6dfab8f9.27d0a8"],"x":835,"y":200,"wires":[]},{"id":"387252.7de63dae","type":"change","z":"a4159cf7.8fe94","g":"96288347.51711","name":"Charge Threshold","rules":[{"t":"set","p":"payload","pt":"msg","to":"batch.initialABV","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":160,"wires":[["1453d042.8d623"]]},{"id":"aefffb75.79a6a8","type":"link in","z":"a4159cf7.8fe94","g":"96288347.51711","name":"Charge temp to ABV","links":["4f76d2aa.3d8eec"],"x":235,"y":180,"wires":[["857a803.078988"]]},{"id":"ab15260b.fadb98","type":"link out","z":"a4159cf7.8fe94","g":"d300bfcb.e6db1","name":"Pot Vapor ABV","links":["1646c6ee.acb3c9"],"x":475,"y":300,"wires":[]},{"id":"afdf81f.235178","type":"link in","z":"a4159cf7.8fe94","g":"d300bfcb.e6db1","name":"Pot Vapor temp to ABV","links":["ca6434e8.3fc3b8"],"x":235,"y":300,"wires":[["86633694.af63c8"]]},{"id":"d39096e5.1c9f68","type":"link out","z":"a4159cf7.8fe94","g":"e65bead7.19a058","name":"Product ABV","links":["2fd15956.5829b6"],"x":475,"y":400,"wires":[]},{"id":"40567133.36902","type":"link in","z":"a4159cf7.8fe94","g":"e65bead7.19a058","name":"Head Vapor temp to ABV","links":["d1d4694e.64b4d8"],"x":235,"y":400,"wires":[["8c2fc240.46a87"]]},{"id":"8c2fc240.46a87","type":"function","z":"a4159cf7.8fe94","g":"e65bead7.19a058","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":400,"wires":[["d39096e5.1c9f68"]]},{"id":"86633694.af63c8","type":"function","z":"a4159cf7.8fe94","g":"d300bfcb.e6db1","name":"VaporTempABV","func":"TempABV = {\n    78.2 : 96.1,\n    78.3 : 94.4,\n    78.4 : 93.6,\n    78.5 : 93.0,\n    78.6 : 92.2,\n    78.7 : 91.7,\n    78.8 : 91.2,\n    78.9 : 90.8,\n    79.0 : 90.4,\n    79.1 : 89.9,\n    79.2 : 89.6,\n    79.3 : 89.3,\n    79.4 : 88.9,\n    79.5 : 88.7,\n    79.6 : 88.3,\n    79.7 : 88.1,\n    79.8 : 87.7,\n    79.9 : 87.4,\n    80.0 : 87.2,\n    80.1 : 86.9,\n    80.2 : 86.7,\n    80.3 : 86.4,\n    80.4 : 86.2,\n    80.5 : 86.0,\n    80.6 : 85.8,\n    80.7 : 85.6,\n    80.8 : 85.4,\n    80.9 : 85.3,\n    81.0 : 85.0,\n    81.1 : 84.8,\n    81.2 : 84.5,\n    81.3 : 84.4,\n    81.4 : 84.1,\n    81.5 : 84.0,\n    81.6 : 83.8,\n    81.7 : 83.7,\n    81.8 : 83.5,\n    81.9 : 83.3,\n    82.0 : 83.1,\n    82.1 : 82.9,\n    82.2 : 82.8,\n    82.3 : 82.6,\n    82.4 : 82.4,\n    82.5 : 82.2,\n    82.6 : 82.1,\n    82.7 : 81.8,\n    82.8 : 81.7,\n    82.9 : 81.5,\n    83.0 : 81.3,\n    83.1 : 81.1,\n    83.2 : 80.9,\n    83.3 : 80.7,\n    83.4 : 80.5,\n    83.5 : 80.3,\n    83.6 : 80.2,\n    83.7 : 80.0,\n    83.8 : 79.7,\n    83.9 : 79.6,\n    84.0 : 79.4,\n    84.1 : 79.3,\n    84.2 : 79.1,\n    84.3 : 78.8,\n    84.4 : 78.7,\n    84.5 : 78.5,\n    84.6 : 78.3,\n    84.7 : 78.1,\n    84.8 : 77.9,\n    84.9 : 77.7,\n    85.0 : 77.4,\n    85.1 : 77.2,\n    85.2 : 77.0,\n    85.3 : 76.7,\n    85.4 : 76.4,\n    85.5 : 76.2,\n    85.6 : 75.9,\n    85.7 : 75.7,\n    85.8 : 75.4,\n    85.9 : 75.1,\n    86.0 : 74.8,\n    86.1 : 74.5,\n    86.2 : 74.3,\n    86.3 : 74.2,\n    86.4 : 74.1,\n    86.5 : 74.0,\n    86.6 : 73.8,\n    86.7 : 73.7,\n    86.8 : 73.6,\n    86.9 : 73.5,\n    87.0 : 73.4,\n    87.1 : 73.3,\n    87.2 : 73.1,\n    87.3 : 73.0,\n    87.4 : 72.8,\n    87.5 : 72.5,\n    87.6 : 72.3,\n    87.7 : 72.0,\n    87.8 : 71.7,\n    87.9 : 71.5,\n    88.0 : 71.2,\n    88.1 : 71.0,\n    88.2 : 70.7,\n    88.3 : 70.5,\n    88.4 : 70.3,\n    88.5 : 70.1,\n    88.6 : 69.8,\n    88.7 : 69.6,\n    88.8 : 69.3,\n    88.9 : 69.1,\n    89.0 : 68.8,\n    89.1 : 68.6,\n    89.2 : 68.3,\n    89.3 : 68.0,\n    89.4 : 67.7,\n    89.5 : 67.4,\n    89.6 : 67.1,\n    89.7 : 66.9,\n    89.8 : 66.6,\n    89.9 : 66.3,\n    90.0 : 66.0,\n    90.1 : 65.7,\n    90.2 : 65.4,\n    90.3 : 65.1,\n    90.4 : 64.8,\n    90.5 : 64.5,\n    90.6 : 64.2,\n    90.7 : 63.6,\n    90.8 : 63.6,\n    90.9 : 63.3,\n    91.0 : 62.9,\n    91.1 : 62.6,\n    91.2 : 62.3,\n    91.3 : 62.0,\n    91.4 : 61.7,\n    91.5 : 61.4,\n    91.6 : 61.2,\n    91.7 : 60.9,\n    91.8 : 60.6,\n    91.9 : 60.3,\n    92.0 : 59.9,\n    92.1 : 59.5,\n    92.2 : 59.1,\n    92.3 : 58.8,\n    92.4 : 58.5,\n    92.5 : 58.1,\n    92.6 : 57.8,\n    92.7 : 57.4,\n    92.8 : 57.1,\n    92.9 : 56.7,\n    93.0 : 56.3,\n    93.1 : 55.9,\n    93.2 : 55.5,\n    93.3 : 55.0,\n    93.4 : 54.5,\n    93.5 : 54.0,\n    93.6 : 53.6,\n    93.7 : 53.2,\n    93.8 : 52.7,\n    93.9 : 52.3,\n    94.0 : 51.8,\n    94.1 : 51.4,\n    94.2 : 51.0,\n    94.3 : 50.6,\n    94.4 : 50.2,\n    94.5 : 49.7,\n    94.6 : 49.1,\n    94.7 : 48.4,\n    94.8 : 47.7,\n    94.9 : 46.9,\n    95.0 : 46.2,\n    95.1 : 45.5,\n    95.2 : 44.8,\n    95.3 : 44.2,\n    95.4 : 43.7,\n    95.5 : 43.1,\n    95.6 : 42.5,\n    95.7 : 41.7,\n    95.8 : 40.9,\n    95.9 : 40.0,\n    96.0 : 39.1,\n    96.1 : 38.5,\n    96.2 : 38.0,\n    96.3 : 37.4,\n    96.4 : 36.9,\n    96.5 : 36.4,\n    96.6 : 35.9,\n    96.7 : 35.2,\n    96.8 : 34.5,\n    96.9 : 33.7,\n    97.0 : 32.9,\n    97.1 : 32.1,\n    97.2 : 31.1,\n    97.3 : 30.0,\n    97.4 : 29.0,\n    97.5 : 28.0,\n    97.6 : 27.2,\n    97.7 : 26.4,\n    97.8 : 25.6,\n    97.9 : 24.8,\n    98.0 : 24.0,\n    98.1 : 23.1,\n    98.2 : 22.0,\n    98.3 : 20.8,\n    98.4 : 19.7,\n    98.5 : 18.4,\n    98.6 : 17.2,\n    98.7 : 15.9,\n    98.8 : 14.6,\n    98.9 : 13.4,\n    99.0 : 12.3,\n    99.1 : 11.2,\n    99.2 : 10.2,\n    99.3 : 9.3,\n    99.4 : 8.5,\n    99.5 : 7.7,\n    99.6 : 7.0,\n    99.7 : 6.3,\n    99.8 : 4.0,\n    99.9 : 2.0,\n    100.0 : 0.0\n}\nif (msg.payload < 78.2) {\n    msg.payload = 0;\n} else {\n    msg.payload = TempABV[msg.payload]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":300,"wires":[["ab15260b.fadb98"]]},{"id":"fbdfb3e3.2aa4e","type":"exec","z":"92baee0.48dc21","g":"58d59afb.88c934","command":"4relay 0 write","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bypass valve relay","x":510,"y":340,"wires":[[],["2cd62deb.f97042"],[]]},{"id":"9bd649cd.3a0e68","type":"exec","z":"92baee0.48dc21","g":"58d59afb.88c934","command":"4relay 1 write","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Dephleg valve relay","x":510,"y":420,"wires":[[],["2cd62deb.f97042"],[]]},{"id":"4c6d7059.7d073","type":"pimax31865","z":"c7cd9866.a5f918","g":"846cfae3.a58b68","name":"Jacket Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":350,"y":760,"wires":[["5f8f9229.0df84c"]]},{"id":"ad9fa2f4.9c41b","type":"pimax31865","z":"c7cd9866.a5f918","g":"846cfae3.a58b68","name":"Charge Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":800,"wires":[["c89c578f.03b478"]]},{"id":"5ac38377.077e8c","type":"pimax31865","z":"c7cd9866.a5f918","g":"846cfae3.a58b68","name":"Pot Vapor Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":840,"wires":[["8688e823.b04388"]]},{"id":"58b33560.862b8c","type":"pimax31865","z":"c7cd9866.a5f918","g":"846cfae3.a58b68","name":"Dephleg Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":360,"y":880,"wires":[["5075ea26.c44bf4"]]},{"id":"1bcc9e34.5c85c2","type":"pimax31865","z":"c7cd9866.a5f918","g":"846cfae3.a58b68","name":"Head Vapor Temp","bus":0,"dev":0,"rtd":1000,"ref":4300,"wir":"3","x":370,"y":920,"wires":[["67be2a53.eda774"]]},{"id":"5075ea26.c44bf4","type":"link out","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["b47509e7.c6f878"],"x":495,"y":880,"wires":[]},{"id":"5f8f9229.0df84c","type":"link out","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["9e67a50f.5087e8"],"x":495,"y":760,"wires":[]},{"id":"c89c578f.03b478","type":"link out","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["ca1ca5a.47fbb58"],"x":495,"y":800,"wires":[]},{"id":"8688e823.b04388","type":"link out","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["4d5706ea.33b428"],"x":495,"y":840,"wires":[]},{"id":"67be2a53.eda774","type":"link out","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["50d8d972.f3bc78"],"x":495,"y":920,"wires":[]},{"id":"12595fe7.cd80c","type":"link in","z":"c7cd9866.a5f918","g":"68f8a4c1.b3898c","name":"","links":["9d1babd2.5cad78"],"x":195,"y":840,"wires":[["4c6d7059.7d073","ad9fa2f4.9c41b","5ac38377.077e8c","58b33560.862b8c","1bcc9e34.5c85c2"]]},{"id":"9d1babd2.5cad78","type":"link out","z":"c7cd9866.a5f918","g":"77442757.1131a8","name":"","links":["12595fe7.cd80c"],"x":575,"y":140,"wires":[]},{"id":"e41a302.f7dfbd","type":"PID","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"Simple PID","setpoint":21,"pb":1,"ti":9999,"td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":930,"y":240,"wires":[["a447a2a6.129f3"]]},{"id":"a4049e6f.19b98","type":"ui_numeric","z":"d6aab34f.74a0b","g":"bc8fc09a.5b762","name":"","label":"Target","tooltip":"","group":"f0c68884.7c8b18","order":2,"width":3,"height":2,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"75","step":1,"x":770,"y":100,"wires":[["dbba3415.2975d8"]]},{"id":"4e9e6dca.676ce4","type":"inject","z":"d6aab34f.74a0b","g":"dbc64d03.5bc92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":60,"wires":[["a2d575d9.985618"]]},{"id":"29b92f87.1d99c","type":"switch","z":"d6aab34f.74a0b","g":"dbc64d03.5bc92","name":"Cascade PID or simple PID","property":"equipment.heating","propertyType":"global","rules":[{"t":"eq","v":"jacketed","vt":"str"},{"t":"eq","v":"direct","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":120,"wires":[["d8278d7e.29d1c"],["e961fe32.14e66"]]},{"id":"d8278d7e.29d1c","type":"link out","z":"d6aab34f.74a0b","g":"dbc64d03.5bc92","name":"","links":["eece2f2e.44a95"],"x":495,"y":100,"wires":[]},{"id":"e961fe32.14e66","type":"link out","z":"d6aab34f.74a0b","g":"dbc64d03.5bc92","name":"","links":["a729392d.377cb8"],"x":495,"y":140,"wires":[]},{"id":"a729392d.377cb8","type":"link in","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","links":["e961fe32.14e66","5de285d4.0ffcfc","efb7b606.473ee8"],"x":765,"y":240,"wires":[["e41a302.f7dfbd"]]},{"id":"a2d575d9.985618","type":"switch","z":"d6aab34f.74a0b","g":"dbc64d03.5bc92","name":"Manual or PID","property":"equipment.control","propertyType":"global","rules":[{"t":"eq","v":"PID","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":60,"wires":[["29b92f87.1d99c"]]},{"id":"bedaef76.8e67b","type":"change","z":"de93bf73.91c09","g":"5e24ed9f.2e4ca4","name":"","rules":[{"t":"set","p":"equipment.heating","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":420,"wires":[[]]},{"id":"7f19c38.f41fc3c","type":"ui_dropdown","z":"de93bf73.91c09","g":"5e24ed9f.2e4ca4","name":"","label":"Heating","tooltip":"","place":"Select option","group":"40070099.65227","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Jacketed","value":"jacketed","type":"str"},{"label":"Direct Fire","value":"direct","type":"str"}],"payload":"","topic":"","x":340,"y":420,"wires":[["bedaef76.8e67b"]]},{"id":"d90440c0.85d9e","type":"inject","z":"b6c2b635.891a28","name":"Initial off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":100,"y":260,"wires":[["93eea6b2.3e0e98","96742492.0ffd58"]]},{"id":"ba9472c9.08ee7","type":"ui_button","z":"b6c2b635.891a28","g":"82032573.846958","name":"","group":"958ff866.e606f8","order":5,"width":0,"height":0,"passthru":false,"label":"Parameters","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Parameters","payloadType":"str","topic":"","x":910,"y":780,"wires":[["4c08d85f.e5ae88"]]},{"id":"4c08d85f.e5ae88","type":"ui_ui_control","z":"b6c2b635.891a28","g":"82032573.846958","name":"","events":"all","x":1080,"y":780,"wires":[[]]},{"id":"a447a2a6.129f3","type":"link out","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","links":["cc259a5a.8cccd8"],"x":1035,"y":240,"wires":[]},{"id":"5537ef7b.9c8b2","type":"change","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"","rules":[{"t":"set","p":"jacket.limit","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[[]]},{"id":"8d3cc6f9.0caa48","type":"inject","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"Initial Jacket Limit","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":170,"y":520,"wires":[["5537ef7b.9c8b2","f74c265e.977bc8"]]},{"id":"f74c265e.977bc8","type":"ui_numeric","z":"e9088d5c.0a27c","g":"1275229.73ceddd","name":"","label":"Jacket Temp Limit","tooltip":"","group":"50b35c82.f9a6f4","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":".5","x":170,"y":560,"wires":[["5537ef7b.9c8b2"]]},{"id":"835321f2.c4a58","type":"pid-autotune","z":"d6aab34f.74a0b","name":"Autotune","outstep":100,"maxout":100,"lookback":30,"setpoint":65,"setpointType":"num","tempVariable":"payload","tempVariableType":"msg","tempVariableMsgTopic":"autotune","x":740,"y":720,"wires":[["d62a44b4.55e108"],["f6f26f7.d0c7b9"],[]]},{"id":"f6f26f7.d0c7b9","type":"link out","z":"d6aab34f.74a0b","name":"","links":["cc259a5a.8cccd8"],"x":885,"y":720,"wires":[]},{"id":"d62a44b4.55e108","type":"debug","z":"d6aab34f.74a0b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":660,"wires":[]},{"id":"2cd62deb.f97042","type":"debug","z":"92baee0.48dc21","g":"58d59afb.88c934","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":440,"wires":[]},{"id":"3e257d8a.74adc2","type":"change","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","rules":[{"t":"set","p":"P","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"prop_band","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":340,"wires":[["5de285d4.0ffcfc"]]},{"id":"98a8b915.1f1748","type":"inject","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"Default P","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"20.0","payloadType":"num","x":740,"y":300,"wires":[["a46c3606.1ed7b8","3e257d8a.74adc2"]]},{"id":"a46c3606.1ed7b8","type":"ui_numeric","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","label":"P","tooltip":"","group":"f04603e8.50a4f","order":2,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":750,"y":340,"wires":[["3e257d8a.74adc2"]]},{"id":"497fc0ec.2d23a","type":"change","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","rules":[{"t":"set","p":"I","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"t_integral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":420,"wires":[["b14e3ef9.7dc06"]]},{"id":"58cf956c.5f5a9c","type":"inject","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"Default I","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"1","payloadType":"num","x":740,"y":380,"wires":[["9d114786.00f4f8","497fc0ec.2d23a"]]},{"id":"9d114786.00f4f8","type":"ui_numeric","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","label":"I","tooltip":"","group":"f04603e8.50a4f","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":770,"y":420,"wires":[["497fc0ec.2d23a"]]},{"id":"f56aca12.86ee98","type":"change","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","rules":[{"t":"set","p":"D","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"t_derivative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":500,"wires":[["efb7b606.473ee8"]]},{"id":"246f6a99.0536a6","type":"inject","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"Default D","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"30","payloadType":"num","x":740,"y":460,"wires":[["903b5a82.ece9a8","f56aca12.86ee98"]]},{"id":"903b5a82.ece9a8","type":"ui_numeric","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","label":"D","tooltip":"","group":"f04603e8.50a4f","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"","format":"{{value | number:1}}","min":0,"max":"99","step":"0.2","x":770,"y":500,"wires":[["f56aca12.86ee98"]]},{"id":"5de285d4.0ffcfc","type":"link out","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","links":["a729392d.377cb8"],"x":1095,"y":340,"wires":[]},{"id":"b14e3ef9.7dc06","type":"link out","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","links":[],"x":1095,"y":420,"wires":[]},{"id":"efb7b606.473ee8","type":"link out","z":"d6aab34f.74a0b","g":"70185001.65eac","name":"","links":["a729392d.377cb8"],"x":1095,"y":500,"wires":[]}]